<div class="user-center-header has-blurr" data-href="__IMG__100205dbce21298753.jpg" data-sharpness="40" style="height: 220px; overflow: hidden; position: relative; background: rgb(0, 0, 0);"><div class="blurr-bg" style="background: url(&quot;__IMG__100205dbce21298753.jpg&quot;) center center / 150%; left: 0px; right: 0px; top: -50px; bottom: -50px; width: 1920px; filter: blur(60px); z-index: 50; position: absolute;"></div>
    <div class="container clearfix" style="position: absolute; left: 0px; right: 0px; z-index: 100;">
        <div class="user-avatar">
            <div class="avatar-wrap">
                <img class="avatar-lg" src="/{$theuser->title}">
                <!--<span class="icon-user-status icon-md"><i class="es-icon es-icon-school"></i></span>-->
            </div>
            <div class="name">
                {$theuser->username}
            </div>
            <div class="position hidden-xs">
                {switch name="theuser.type"}
                {case value="2"}<span class="mrm">教师</span>{/case}
                {case value="3"}<span class="mrm">学员</span>{/case}
                {/switch}

            </div>
            <div class="mates">
                <!--<span class="mrm">2</span>粉丝<span class="mlm mrm">｜</span><span class="mrm">3</span>关注-->
            </div>
        </div>
        <div class="user-about hidden-sm hidden-xs">
            <div class="user-about-content">
                {present name="theuser.prefile.signature"}
                {$theuser->profile->signature}      </div>
                {/present}
        </div>
    </div>
    <div class="mask" style="position: absolute; left: 0px; right: 0px; z-index: 100;"></div>
</div>