{extend name="public/studentlayout"}
{block name="title"}{/block}

{block name="container"}
<div class="col-md-9">
    <div class="panel panel-default panel-col">
        <div class="panel-heading">我的作业</div>
        <div class="panel-body">
            <ul class="nav nav-pills mb15">
                <li class="active"><a href="#">已批阅</a></li>
                <li class=""><a href="#">批阅中</a></li>
            </ul>
            <div class="empty">还没有做过任何作业</div></div>
    </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $('.list-group-item').eq(3).addClass("active");
    })
</script>
{/block}

