{extend name="public/courselayout"}
{block name="title"}{$course.title}-目录{/block}
{block name="navdetail"}
<div class="course-detail-content">
    <ul class="task-list task-list-md task-list-hover">
        {volist name="data" id="vo"}
        <li class="task-item task-content mouse-control">
            <i class="es-icon es-icon-iccheckcircleblack24px color-primary left-menu"></i>
            <a class="title">
                {$vo.chaptername}
            </a>
            <!--<span class="right-menu color-gray ">1111<i class="es-icon es-icon es-icon es-icon-videoclass" data-toggle="tooltip" data-placement="top" title="" data-original-title="视频任务" data-container="body"></i></span>-->
            <span class="right-menu mouse-enter"></span>
            {if condition="!empty($vo.section)"}
            {volist name='$vo.section' id='section'}
            {if condition="$section['type'] eq 'mp4' or $section['type'] eq 'url'"}
            <ul class="joint-content">
                <li class="task-item task-content mouse-control">
                    <i class="es-icon es-icon-doing color-primary"></i>
                    {if condition="!empty($section['see'])"}
                    <a style="color: #616161;" {if condition="$section['see'] eq 1"} onclick="mystudy({$section['id']});" {/if}>&nbsp;&nbsp;{$section['title']}</a>
                    {else}
                    <a style="color: #616161;">&nbsp;&nbsp;{$section['title']}</a>
                    {/if}

                </li>
            </ul>
            {elseif condition="$section['type'] eq 'test' or $section['type'] eq 'exam'"}
            <ul class="joint-content">
                <li class="task-item task-content mouse-control">
                    <i class="es-icon es-icon-doing color-primary"></i>
                    {if condition="!empty($section['see'])"}
                    <a style="color: #616161;" {if condition="$section['see'] eq 1"} {if condition="$section['papertype'] eq 1"}href="{:url('examination/examresults',array('course'=>$courseid,'taskid'=>$section['id']))}"{else}href="{:url('examination/alert',array('course'=>$courseid,'taskid'=>$section['id']))}"{/if}{/if}>&nbsp;&nbsp;{$section['title']}</a>
                    {else}
                    <a style="color: #616161;">&nbsp;&nbsp;{$section['title']}</a>
                    {/if}
                </li>
            </ul>
            {else}
            <ul class="joint-content">
                <li class="task-item task-content mouse-control">
                    <i class="es-icon es-icon-doing color-primary"></i>
                    {if condition="!empty($section['see'])"}
                    <a style="color: #616161;" {if condition="$section['see'] eq 1"} onclick="mystudy({$section['id']});" {/if}>&nbsp;&nbsp;{$section['title']}</a>
                    {else}
                    <a style="color: #616161;">&nbsp;&nbsp;{$section['title']}</a>
                    {/if}
                </li>
            </ul>
            {/if}
            {/volist}
            {/if}
        </li>
        {/volist}
    </ul>
</div>
<input type="hidden" value="" id="taskid">

{/block}
{block name="javascript"}
<script>
    $(function(){
        $('.nav-tabs').children().eq(0).addClass('active');
        $('#study').click(function(){
            if(userid!='undefined'){
                console.log(userid);
                var taskid = {$coursedata.next_task_id};
                $.post(
                    "{:url('index/user/ischeckin')}",
                    {'taskid':taskid},
                    function(data){
                        console.log(data);
                        if(data['code']==185){
                            window.location.href = html;
                        }else if(data['code']==186){
                            $('.modal').show();
                            $('.modal-backdrop').show();
                        }
                    },
                    "json"
                );
            }
        });
    });
    {present name="user"}
    userid = {$user.id};
    {/present}
    function mystudy(taskid){
        var html1 = "{:url('index/course/taskdetail')}?course={$course['id']}&taskid="+taskid;
        $('#taskid').val(taskid);
        console.log(html1);
        if(userid!='undefined'){
            console.log(userid);
            $.post(
                "{:url('index/user/ischeckin')}",
                {'taskid':taskid},
                function(data){
                    console.log(data);
                    if(data['code']==185){
                        window.location.href = html1;
                    }else if(data['code']==186){
                        $('.modal').show();
                        $('.modal-backdrop').show();
                    }
                },
                "json"
            );
        }
    }
</script>
{/block}