{extend name="public/courselayout"}
{block name="title"}{$course.title}-讨论区{/block}
{block name="navdetail"}
<div class="nav-filter clearfix">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">发话题 <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <!--<li><a href="./create.html">发话题</a></li>-->
            <li><a href="{:url('index/course/createask',array('course'=>$course['id']))}">提问题</a></li>
        </ul>
    </div>
    <ul class="nav nav-pills nav-pills-sm">
        <li class=""><a href="#tab_home" aria-controls="tab_home" role="tab" data-toggle="tab" aria-expanded="false">全部</a></li>

        <!--<li class=""><a href="#tab_profile" aria-controls="tab_profile" role="tab" data-toggle="tab" aria-expanded="false">问答</a></li>-->

        <!--<li class="active"><a href="#tab_messages" aria-controls="tab_messages" role="tab" data-toggle="tab" aria-expanded="true">精华</a></li>-->

        <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">-->
                <!--<span>排序：</span>-->
                <!--最后回复-->
                <!--<span class="caret"></span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu hidden-xs">-->
                <!--<li class="active"><a class="js-nav">最后回复</a></li>-->
                <!--<li class=""><a href="#">最新发帖</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
</div>
    <div class="topic-list">
        {volist name="asklist" id="asklist"}
        <div class="media topic-item">
            <div class="media-left media-middle">
                <a class="pull-left js-user-card" href="#user/1" data-card-url="/user/1/card/show" data-user-id="1">
                    <img class="avatar-sm" src="/{$asklist->user->title}">
                </a>
            </div>
            <div class="media-body">
                <div class="title">
                    <i class="es-icon es-icon-help color-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="问答"></i>
                    <a href="{:url('index/course/askdetail',array('course'=>$course['id'],'askid'=>$asklist['id']))}">{$asklist.title}</a>
                </div>
                <div class="metas text-sm">
                    <a href="#user/1" class="color-gray">{$asklist->user->username}</a>
                    <span>发起了问答</span>• <span>{$asklist.addtime|time_tran}</span>
                </div>
            </div>
            <div class="media-data hidden-xs">
                <span>{$asklist->answer()->count()}<br>回复</span>
                <span>{$asklist->hit}<br>浏览</span>
            </div>
        </div>
        {/volist}
        {$page}

        <!--<div class="media topic-item">-->
            <!--<div class="media-left media-middle">-->
                <!--<a class="pull-left js-user-card" href="#user/1" data-card-url="/user/1/card/show" data-user-id="1">-->
                    <!--<img class="avatar-sm" src="__IMG__100205dc0389099998.jpg">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
                <!--<div class="title">-->
                    <!--<i class="es-icon es-icon-help color-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="问答"></i>-->
                    <!--<a href="#course/118/thread/1">1</a>-->
                <!--</div>-->
                <!--<div class="metas text-sm">-->
                    <!--<a href="#user/1" class="color-gray">admin</a>-->
                    <!--<span>发起了问答</span>• <span>8小时前</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="media-data hidden-xs">-->
                <!--<span>0<br>回复</span>-->
                <!--<span>2<br>浏览</span>-->
            <!--</div>-->
        <!--</div>-->

    </div>

    <nav class="text-center">

    </nav>
{/block}
{block name="javascript"}
<script src="__JS__bootstrap.js"></script>
<script>
    $(function(){
        $('.nav-tabs').children().eq(2).addClass('active');
        $('.dropdown-toggle').click(function(){
            $(this).next().toggle();
        });
    })
</script>
{/block}