<!DOCTYPE html>
<html lang="zh">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>PC端 Chimee-Player解决方案</title>
    </head>

    <body>
        <div id="wrapper">            
        </div>
        <script src="http://lib.baomitu.com/chimee-player/1.1.10/chimee-player.browser.js"></script>
        <script>
            new ChimeePlayer({
                wrapper: '#wrapper', // video dom容器
                src: 'http://yunxianchang.live.ujne7.com/vod-system-bj/TLaf2cc9d469939803949187b46da16c45.flv',
                controls: true
            });
        </script>
    </body>

</html>