{extend name="public/courselayout"}
{block name="title"}在教课程 - 个人主页{/block}
{block name="navdetail"}
<ul class="media-list">
    <li class="media">
        <div class="media-body">
            <div class="mbs">
                <a href="#course/118/material/389/download" target="_blank">39重结晶法提纯苯甲酸.pptx</a>
            </div>


            <div class="text-sm">
                <span class="color-gray">209.49KB</span>
                <span class="bullet">•</span>
                <a class="link-primary" href="#course/118/task/743/show" title="重结晶法提纯苯甲酸">任务</a>
                <span class="bullet">•</span>
                <span class="color-gray">上传于4天前</span>
            </div>

        </div>
    </li>
    <li class="media">
        <div class="media-body">
            <div class="mbs">
                <a href="#course/118/material/388/download" target="_blank">38 热过滤法提纯硝酸钾.pptx</a>
            </div>


            <div class="text-sm">
                <span class="color-gray">704.23KB</span>
                <span class="bullet">•</span>
                <a class="link-primary" href="#course/118/task/742/show" title="热过滤法提纯硝酸钾">任务</a>
                <span class="bullet">•</span>
                <span class="color-gray">上传于4天前</span>
            </div>

        </div>
    </li>
    <li class="media">
        <div class="media-body">
            <div class="mbs">
                <a href="#course/118/material/387/download" target="_blank">37 减压过滤法提取粗盐滤液中的氯化钠晶体.pptx</a>
            </div>


            <div class="text-sm">
                <span class="color-gray">263.52KB</span>
                <span class="bullet">•</span>
                <a class="link-primary" href="#course/118/task/741/show" title="减压过滤法提取粗盐滤液中的氯化钠晶体">任务</a>
                <span class="bullet">•</span>
                <span class="color-gray">上传于4天前</span>
            </div>

        </div>
    </li>
</ul>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $('.nav-tabs').children().eq(3).addClass('active');
    })
</script>
{/block}