{extend name="public/courselayout"}
{block name="title"}{$course.title}-公告{/block}
{block name="link"}
<style>
    #test2>ol{
        margin-left: 30px;
    }
    #test2>ol li{
        list-style: decimal;
        /*padding-left: 10px;*/
    }
    #test2>ol li p{
        margin-left: 5px;
    }

</style>
{/block}
{block name="navdetail"}
<ul class="media-list">
    {volist name="notice" id="notice"}
    <li class="media">
        <div class="media-body">
            <div class="mbs">
                {$notice.content}
            </div>


            <div class="text-sm">
                <!--<span class="color-gray">$file.filesize|attrFilesize</span>-->
                <!--<span class="bullet">•</span>-->
                <!--<a class="link-primary" href="#course/118/task/743/show" title="重结晶法提纯苯甲酸">任务</a>-->
                <!--<span class="bullet">•</span>-->
                <span class="color-gray">{$notice.createdtime}</span>
            </div>

        </div>
    </li>
    {/volist}

</ul>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $('.nav-tabs').children().eq(6).addClass('active');
    })
</script>
{/block}