{extend name="public/courselayout"}
{block name="title"}{$course.title}-介绍{/block}
{block name="link"}
<style>
    #test2>ol{
        margin-left: 30px;
    }
    #test2>ol li{
        list-style: decimal;
        /*padding-left: 10px;*/
    }
    #test2>ol li p{
        margin-left: 5px;
    }

</style>
{/block}
{block name="navdetail"}
<div class="es-piece">
    <div class="piece-header">课程介绍</div>
    <div class="piece-body p-lg clearfix">
        {notempty name="course.about"}
        {$course.about}
        {else /}
        还没有课程评价
        {/notempty}
    </div>
    <br><br><br>
    <div class="piece-header">授课计划</div>
    <div id="test2" class="piece-body p-lg clearfix">
        {notempty name="course.teachingplan"}
        {$course.teachingplan}
        {else /}
        还没有授课计划
        {/notempty}
    </div>
</div>
<div class="es-piece  hidden ">
    <div class="piece-header">课程目标</div>
    <div class="piece-body">
        <ul class="piece-body-list">
            <span class="empty">为设置目标</span>
        </ul>
    </div>
</div>
<div class="es-piece  hidden ">
    <div class="piece-header">适合人群</div>
    <div class="piece-body">
        <ul class="piece-body-list">
            <span class="empty">为设置目标</span>
        </ul>
    </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $('.nav-tabs').children().eq(0).addClass('active');
    })
</script>
{/block}