<!DOCTYPE html>
<html lang="zh_CN">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>{block name="title"}基础信息{/block}</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="__CSS__vendor.css" rel="stylesheet">
    <link href="__CSS__app-bootstrap.css" rel="stylesheet">
    <link href="__CSS__main.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__student/student-index.css">
    <link rel="stylesheet" href="__CSS__student/quill.snow.css">
    <style>.cke{visibility:hidden;}</style>
</head>
<body class="es-main-default es-nav-default ">
<div class="es-wrap">
    <!-- header-->
    {include file="Public:header" /}
    <!-- left nav + conn-->
    <div id="content-container" class="container">
        <div class="row">
            {block name="sidebar"}
            <div class="col-md-3">
                <div class="sidenav">
                    <ul class="list-group">
                        <li class="list-group-heading">个人设置</li>
                        <li class="list-group-item">
                            <a href="{:url('index/user/setting')}"><i class="glyphicon glyphicon-user"></i> 基础信息</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{:url('index/user/portrait')}"><i class="glyphicon glyphicon-picture"></i> 头像设置</a>
                        </li>
                        <li class="list-group-item ">
                            <a href="{:url('index/user/submit')}"><i class="glyphicon glyphicon-registration-mark"></i> 实名认证</a>
                        </li>
                        <li class="list-group-item ">
                            <a href="{:url('index/user/security')}"><i class="glyphicon glyphicon-lock"></i> 安全设置</a>
                        </li>
                        <li class="list-group-item ">
                            <a href="{:url('index/user/email')}"><i class="glyphicon glyphicon-envelope"></i> 邮箱设置</a>
                        </li>
                    </ul>
                </div>
            </div>
            {/block}
            {block name="container"}

            {/block}
        </div>
    </div>
    <footer class="es-footer">
        <div class="copyright">
            <div class="container">
                Powered by <a href="#" target="_blank">yuhuazaixian8.0.16</a>



                <div class="mts">
                </div>
            </div>
        </div>
    </footer>
</div>
<div id="login-modal" class="modal" data-url="/login/ajax"></div>
<div id="modal" class="modal"></div>
<div id="attachment-modal" class="modal"></div>
<script src="__JS__student/quill.js"></script>
<script src="__JS__jquery-1.11.3.min.js"></script>
{block name="javascript"}

{/block}
<script>
    $(function(){
        $('.list-group-item').click(function(){
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        });
    })
</script>
<script>
    var quill = new Quill('#editor-container', {
        modules: {
            toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                ['image', 'code-block']
            ]
        },
        placeholder: 'Compose an epic...',
        theme: 'snow'  // or 'bubble'
    });
</script>
</body>
</html>