{extend name="public/studentlayout"}
{block name="title"}{/block}

{block name="container"}
<div class="col-md-9">
  <div class="panel panel-default panel-col">
    <div class="panel-heading">我的课程</div>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li type="study"><a href="{:url('index/student/mystudy')}">学习中</a></li>
        <li type="done"><a href="{:url('index/student/donestudy')}">已学完</a></li>
        <li class="active" type="collect"><a href="{:url('index/student/collect')}">收藏</a></li>
      </ul>
      <ul class="course-grids">
        {volist name="course" id="course"}
        <li class="course-grid">
          <a href="{:url('index/course/catalogue',array('course'=>$course['courseid']))}" class="grid-body">
            <div class="course-grid-img">
              <img src="/{$course.smallPicture}" class="img-responsive thumb">
              <div class="course-grid-mask">
                <span class="btn btn-warning btn-sm course-grid-btn-learn">继续学习</span>
              </div>
            </div>
            <span class="course-label"></span>
            <div class="progress progress-sm mb0">
              <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
            </div>
            <div class="title">
              {$course.title}
              <span class="pull-right color-primary text-12" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="默认教学计划" data-original-title="" title="">
                          <!--<span class="gray-light mrs">|</span>-->
                <!--默认教学计划-->
                <!--</span>-->
            </div>
          </a>
        </li>
        {/volist}

        <!--<li class="course-grid">
            <a href="../course/catalogue.html" class="grid-body">
                <div class="course-grid-img">
                    <img src="__IMG__1554317ac977773116.jpg" class="img-responsive thumb">
                    <div class="course-grid-mask">
                        <span class="btn btn-warning btn-sm course-grid-btn-learn">继续学习</span>
                    </div>
                </div>
                <span class="course-label"></span>
                <div class="progress progress-sm mb0">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>
                <div class="title">
                    电子技术课件
                    <span class="pull-right color-primary text-12" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="默认教学计划" data-original-title="" title="">
                  <span class="gray-light mrs">|</span>
                  默认教学计划
                </span>
                </div>
            </a>
        </li>-->
      </ul>
      <div class="container" style="text-align: center;width: 83%;">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {if condition="$page gt 1"}
            <li><a href="{:url('index/student/collect',array('page'=>$page-1))}">&lt;</a></li>
            {/if}
            <li><a href="{:url('index/student/collect',array('page'=>$page+1))}">&gt;</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $('.list-group-item').eq(0).addClass("active");
        $('.nav-pills').children('li').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            var type = $(this).attr('type');
            $.post(function(){

            });
        });
    })
</script>
{/block}
