{extend name="public/spacelayout"}
{block name="title"}{/block}

{block name="container"}
{include file="../application/index/view/student/spacetop.html" /}
<div id="content-container" class="container">
    {include file="../application/index/view/student/spacenav.html" /}
    <ul class="nav nav-pills mbl">
        <li class="active"><a href="#">关注</a></li>
        <li><a href="#">粉丝</a></li>
    </ul>

    <div class="row">
        <div class="col-md-3">
            <div class="teacher-item">
                <div class="teacher-top">
                    <a class="teacher-img" href="http://www.hnhgjx.cn:1700/user/7854">
                        <img class="avatar-lg" src="__IMG__avatar.png" alt="">
                    </a>
                    <h3 class="title">
                        <a class="link-dark" href="http://www.hnhgjx.cn:1700/user/7854">0000065</a>
                    </h3>
                    <div class="position">暂无头衔</div>
                </div>

                <div class="teacher-bottom">
                    <div class="about"></div>
                    <div class="metas">
                        <a class="btn btn-primary btn-sm follow-btn" href="javascript:;" data-url="/user/7854/follow" style="display:none;" data-loggedin="1">关注</a>
                        <a class="btn btn-default btn-sm unfollow-btn" href="javascript:;" data-url="/user/7854/unfollow">已关注</a>
                        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-url="/message/create/7854">私信</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="teacher-item">
                <div class="teacher-top">
                    <a class="teacher-img" href="http://www.hnhgjx.cn:1700/user/17461">
                        <img class="avatar-lg" src="__IMG__11264441737b824290.png" alt="">
                    </a>
                    <h3 class="title">
                        <a class="link-dark" href="http://www.hnhgjx.cn:1700/user/17461">yangmeiting</a>
                    </h3>
                    <div class="position">老师</div>
                </div>
                <div class="teacher-bottom">
                    <div class="about">我叫方中山</div>
                    <div class="metas">
                        <a class="btn btn-primary btn-sm follow-btn" href="javascript:;" data-url="/user/17461/follow" style="display:none;" data-loggedin="1">关注</a>
                        <a class="btn btn-default btn-sm unfollow-btn" href="javascript:;" data-url="/user/17461/unfollow">已关注</a>
                        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-url="/message/create/17461">私信</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="teacher-item">
                <div class="teacher-top">
                    <a class="teacher-img" href="http://www.hnhgjx.cn:1700/user/17462">
                        <img class="avatar-lg" src="__IMG__131247f799ec943264.jpg" alt="">
                    </a>
                    <h3 class="title">
                        <a class="link-dark" href="http://www.hnhgjx.cn:1700/user/17462">geyuping</a>
                    </h3>
                    <div class="position">暂无头衔</div>
                </div>
                <div class="teacher-bottom">
                    <div class="about"></div>
                    <div class="metas">
                        <a class="btn btn-primary btn-sm follow-btn" href="javascript:;" data-url="/user/17462/follow" style="display:none;" data-loggedin="1">关注</a>
                        <a class="btn btn-default btn-sm unfollow-btn" href="javascript:;" data-url="/user/17462/unfollow">已关注</a>
                        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-url="/message/create/17462">私信</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

