{extend name="public/spacelayout"}
{block name="title"}{/block}

{block name="container"}
{include file="../application/index/view/student/spacetop.html" /}
<div id="content-container" class="container">
    {include file="../application/index/view/student/spacenav.html" /}
    <div class="es-piece">
        <div class="piece-header">管理小组</div>
        <div class="row">
            <div class="media media-group col-md-3 col-sm-4">
                <div class="media-left">
                    <a href="#" title="作业大讲堂">
                        <img class="avatar-square-md" src="__IMG__0904088801e0997753.jpg" alt="作业大讲堂">
                    </a>
                </div>
                <div class="media-body">
                    <div class="title">
                        <a class="link-dark" href="#" title="作业大讲堂">
                            作业大讲堂
                        </a>
                    </div>
                    <div class="metas">
                        <span><i class="es-icon es-icon-people"></i>2</span>
                        <span><i class="es-icon es-icon-textsms"></i>1</span>
                    </div>
                </div>
            </div>
            <div class="media media-group col-md-3 col-sm-4">
                <div class="media-left">
                    <a href="#" title="一起去玩吧">
                        <img class="avatar-square-md" src="__IMG__090621d7eec5090928.jpg" alt="一起去玩吧">
                    </a>
                </div>
                <div class="media-body">
                    <div class="title">
                        <a class="link-dark" href="#" title="一起去玩吧">
                            一起去玩吧
                        </a>
                    </div>
                    <div class="metas">
                        <span><i class="es-icon es-icon-people"></i>1</span>
                        <span><i class="es-icon es-icon-textsms"></i>0</span>
                    </div>
                </div>
            </div>
            <div class="media media-group col-md-3 col-sm-4">
                <div class="media-left">
                    <a href="#s" title="慕课讨论区">
                        <img class="avatar-square-md" src="__IMG__155158e4340f775236.jpg" alt="慕课讨论区">
                    </a>
                </div>
                <div class="media-body">
                    <div class="title">
                        <a class="link-dark" href="#" title="慕课讨论区">
                            慕课讨论区
                        </a>
                    </div>
                    <div class="metas">
                        <span><i class="es-icon es-icon-people"></i>2</span>
                        <span><i class="es-icon es-icon-textsms"></i>1</span>
                    </div>
                </div>
            </div>
            <div class="media media-group col-md-3 col-sm-4">
                <div class="media-left">
                    <a href="#" title="网站课程动态">
                        <img class="avatar-square-md" src="__IMG__1553255ca573190303.jpg" alt="网站课程动态">
                    </a>
                </div>
                <div class="media-body">
                    <div class="title">
                        <a class="link-dark" href="#" title="网站课程动态">
                            网站课程动态
                        </a>
                    </div>
                    <div class="metas">
                        <span><i class="es-icon es-icon-people"></i>2</span>
                        <span><i class="es-icon es-icon-textsms"></i>1</span>
                    </div>
                </div>
            </div>
            <div class="media media-group col-md-3 col-sm-4">
                <div class="media-left">
                    <a href="#" title="教务处">
                        <img class="avatar-square-md" src="__IMG__155352086968275687.jpg" alt="教务处">
                    </a>
                </div>
                <div class="media-body">
                    <div class="title">
                        <a class="link-dark" href="#" title="教务处">
                            教务处
                        </a>
                    </div>
                    <div class="metas">
                        <span><i class="es-icon es-icon-people"></i>1</span>
                        <span><i class="es-icon es-icon-textsms"></i>0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="es-piece">
        <div class="piece-header">
            加入小组
        </div>
        <div class="row">
            <div class="empty">暂无小组信息！</div>
        </div>
    </div>
</div>
{/block}
