<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>在学班级</title>             
  <link href="../../css/vendor.css" rel="stylesheet">
  <link href="../../css/app-bootstrap.css" rel="stylesheet">
  <link href="../../css/main.css" rel="stylesheet">  
  <link rel="stylesheet" href="../../css/student/student-index.css">  
</head>
<body class="es-main-default es-nav-default userpage bg-blank">
  <div class="es-wrap"> 
      <header class="es-header navbar">
    <div class="navbar-header">
      <div class="visible-xs  navbar-mobile">
        <a href="javascript:;" class="navbar-more js-navbar-more">
          <i class="es-icon es-icon-menu"></i>
        </a>
        <div class="html-mask"></div>
        <div class="nav-mobile">
          <form class="navbar-form" action="#" method="get">
            <div class="form-group">
              <input class="form-control" placeholder="搜索" name="q">
              <button class="button es-icon es-icon-search"></button>
            </div>
          </form>
        </div>
      </div>
      <div class="M_header-back js-back">
        <a><i class="es-icon es-icon-chevronleft"></i></a>
      </div>
      <a href="#" class="navbar-brand"> 豫化在线课堂</a>
    </div>
    <nav class="collapse navbar-collapse">
      <div class="navbar-user ">
        <ul class="nav user-nav">
          <li class="user-avatar-li nav-hover">
              <a href="javascript:;" class="dropdown-toggle">
                <img class="avatar-xs" src="../../img/100205dc0389099998.jpg">
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">admin</li>
                <li><a href="../index/index.html"><i class="es-icon es-icon-person"></i>个人主页</a></li>
                <li><a href="../settimgs/index.html"><i class="es-icon es-icon-setting"></i>个人设置</a></li>
                <li class="hidden-lg user-nav-li-my"><a href="../study/mystudy.html"><i class="es-icon es-icon-eventnote"></i>我的学习</a></li>
                <li class="hidden-lg"><a href="#"><span class="pull-right num"></span><i class="es-icon es-icon-notificationson"></i>通知</a></li>
                <li class="hidden-lg"><a href="#"><span class="pull-right num"></span><i class="es-icon es-icon-mail"></i>私信</a></li>
                <li class="mobile-switch js-switch-mobile visible-xs"><a href="javascript:;"><i class="es-icon es-icon-qiehuan"></i>切换触屏版</a></li>
                <li class="user-nav-li-logout"><a href="#"><i class="es-icon es-icon-power"></i>退出登录</a></li>
              </ul>
          </li>
          <li class="visible-lg"><a href="../study/mystudy.html">我的学习</a></li>
          <li class="visible-lg nav-hover">
            <a><i class="es-icon es-icon-mail"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">
                      <span class="pull-right num"></span>
                      <i class="es-icon es-icon-notificationson"></i>通知
                    </a>
                </li>
                <li>
                  <a href="#">
                    <span class="pull-right num"></span>
                    <i class="es-icon es-icon-mail"></i>私信
                  </a>
                </li>
            </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right hidden-xs hidden-sm" action="" method="get">
          <div class="form-group">
            <input class="form-control js-search" name="q" placeholder="搜索">
            <button class="button es-icon es-icon-search"></button>
          </div>
        </form>
      </div>
    </nav>
</header>   
    <div class="user-center-header has-blurr" data-href="../../img/100205dbce21298753.jpg" data-sharpness="40" style="height: 220px; overflow: hidden; position: relative; background: rgb(0, 0, 0);"><div class="blurr-bg" style="background: url(&quot;../../img/100205dbce21298753.jpg&quot;) center center / 150%; left: 0px; right: 0px; top: -50px; bottom: -50px; width: 1920px; filter: blur(60px); z-index: 50; position: absolute;"></div>
      <div class="container clearfix" style="position: absolute; left: 0px; right: 0px; z-index: 100;">
        <div class="user-avatar">
          <div class="avatar-wrap">
            <img class="avatar-lg" src="../../img/100205dbce21298753.jpg">
                      <span class="icon-user-status icon-md"><i class="es-icon es-icon-school"></i></span>
                  </div>
          <div class="name">
            admin
          </div>
          <div class="position hidden-xs">
            <span class="mrm">超级管理员</span>
                                          </div>
          <div class="mates">
            <span class="mrm">2</span>粉丝<span class="mlm mrm">｜</span><span class="mrm">3</span>关注
          </div>
              </div>
        <div class="user-about hidden-sm hidden-xs">
          <div class="user-about-content">
            1      </div>
        </div>
      </div>
      <div class="mask" style="position: absolute; left: 0px; right: 0px; z-index: 100;"></div>
    </div>
    <div id="content-container" class="container">
      <ul class="nav nav-tabs clearfix">
        <li><a href="../index/index.html">个人介绍</a></li>
        <li><a href="./timetable.html">课程表</a></li>
        <li><a href="./curriculum.html">在学课程</a></li>
        <li class="active"><a href="./learning.html">在学班级</a></li>
        <li><a href="./collect.html">收藏课程</a></li>
        <li><a href="./group.html">加入小组</a></li>
        <li><a href="./integral.html">我的积分</a></li>
        <li><a href="./certificate.html">我的证书</a></li>
        <li><a href="./fans.html">关注&nbsp;/&nbsp;粉丝</a></li>
      </ul>
      <div class="empty">暂无在学班级！</div>
    </div>                                         
    <footer class="es-footer">
    <div class="copyright">
      <div class="container">
          Powered by <a href="#" target="_blank">yuhuazaixian8.0.16</a>
    
        
        
        <div class="mts">
                        </div>
      </div>
    </div>
  </footer>    
  </div>
  <div id="login-modal" class="modal" data-url="/login/ajax"></div>
  <div id="modal" class="modal"></div>
  <div id="attachment-modal" class="modal"></div>
</body>
</html>