<ul class="nav nav-tabs clearfix">
    <li><a href="{:url('index/student/index')}">个人介绍</a></li>
    <li><a href="{:url('index/student/timetable')}">课程表</a></li>
    <li><a href="{:url('index/student/curriculum')}">在学课程</a></li>
    <li><a href="{:url('index/student/learning')}">在学班级</a></li>
    <li><a href="{:url('index/student/collect')}">收藏课程</a></li>
    <li><a href="{:url('index/student/group')}">加入小组</a></li>
    <li><a href="{:url('index/student/integral')}">我的积分</a></li>
    <li class="active"><a href="{:url('index/student/certificate')}">我的证书</a></li>
    <li><a href="{:url('index/student/fans')}">关注&nbsp;/&nbsp;粉丝</a></li>
</ul>