{extend name="public/spacelayout"}
{block name="title"}{/block}
{block name="link"}
<link href="__CSS__bootstrap.css" type="text/css" rel="stylesheet">
<link href="__CSS__gradeSave1.css" type="text/css" rel="stylesheet">
<link href="__CSS__another.css" type="text/css" rel="stylesheet">
{/block}
{block name="container"}
{include file="../application/index/view/student/spacetop.html" /}
<div id="content-container" class="container">
    {include file="../application/index/view/student/spacenav.html" /}
    <div class="gradeWrapper">
        <div class="wrapper">
            <div class="txtScroll-left">
                <div class="hd">
                    <a class="next"></a>
                    <div class="text" style="padding-left: 176px;">
                        <span class="first" style="color: rgb(67, 188, 96); font-size: 32px; display: inline;">第一周</span>
                        <span class="second" style="color: rgb(204, 204, 204); font-size: 24px;">第二周</span>
                        <span class="third" style="color: rgb(204, 204, 204); font-size: 24px;">第三周</span>
                    </div>
                    <ul class="week"><li class="on"><a></a></li><li class=""><a></a></li><li class=""><a></a></li></ul>
                    <a class="prev"></a>
                </div>
                <div class="bd">
                    <div class="tempWrap" style="overflow:hidden; position:relative; width:920px"><ul class="infoList" style="width: 2760px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                        <li style="float: left; width: 920px;">
                            <div class="tableContent" style="margin-top: 30px;">
                                <div class="tableWrapper lessonTable">
                                    <table class="table">
                                        <tbody><tr>
                                            <th class="week"></th>
                                            <th class="mon">星期一</th>
                                            <th class="tue">星期二</th>
                                            <th class="wed">星期三</th>
                                            <th class="thu">星期四</th>
                                            <th class="fri">星期五</th>
                                            <th class="sun">星期六</th>
                                            <th class="sun">星期日</th>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="pm">
                                                上<br>
                                                <p>午</p>
                                            </td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204</td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204</td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td 语文="" <br="">
                                            李老师 <br>
                                            明德楼102</td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="am">
                                                下<br>
                                                <p>午</p>
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102</td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>


                                        </tbody></table>
                                </div>
                            </div>
                        </li>
                        <li style="float: left; width: 920px;">
                            <div class="tableContent" style="margin-top: 30px;">
                                <div class="tableWrapper lessonTable">
                                    <table class="table">
                                        <tbody><tr>
                                            <th class="week"></th>
                                            <th class="mon">星期一</th>
                                            <th class="tue">星期二</th>
                                            <th class="wed">星期三</th>
                                            <th class="thu">星期四</th>
                                            <th class="fri">星期五</th>
                                            <th class="sun">星期六</th>
                                            <th class="sun">星期日</th>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="pm">
                                                上<br>
                                                <p>午</p>
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102</td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102</td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="am">
                                                下<br>
                                                <p>午</p>
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102</td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102</td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>


                                        </tbody></table>
                                </div>
                            </div>
                        </li>
                        <li style="float: left; width: 920px;">
                            <div class="tableContent" style="margin-top: 30px;">
                                <div class="tableWrapper lessonTable">
                                    <table class="table">
                                        <tbody><tr>
                                            <th class="week"></th>
                                            <th class="mon">星期一</th>
                                            <th class="tue">星期二</th>
                                            <th class="wed">星期三</th>
                                            <th class="thu">星期四</th>
                                            <th class="fri">星期五</th>
                                            <th class="sun">星期六</th>
                                            <th class="sun">星期日</th>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="pm">
                                                上<br>
                                                <p>午</p>
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102</td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102</td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204</td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102</td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" class="am">
                                                下<br>
                                                <p>午</p>
                                            </td>
                                            <td></td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                数学 <br>
                                                周老师 <br>
                                                博学楼204
                                            </td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                语文 <br>
                                                李老师 <br>
                                                明德楼102
                                            </td>
                                            <td></td>
                                        </tr>


                                        </tbody></table>
                                </div>
                            </div>
                        </li>
                    </ul></div>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}
{block name="javascript"}
<script src="__JS__jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
    jQuery(".txtScroll-left").slide({
        titCell:".hd ul",mainCell:".bd ul",autoPage:"<li><a></a></li>",effect:"left",autoPlay:false,trigger:"click",
        startFun:function(i,c){
            //i是索引
            if(i==0){
                $('.text .first').css({'color':'#43bc60','fontSize':'32px'}).siblings().css({'color':'#ccc','fontSize':'24px'})
                    .siblings('.first').show().parents('.text').css('paddingLeft','178px');//.siblings('.third').hide().parents('.text').css('paddingLeft','100px')
            }
            if(i==1){
                $('.text .second').css({'color':'#43bc60','fontSize':'32px'}).
                siblings().css({'color':'#ccc','fontSize':'24px'}).siblings('.first').show().parents('.text').css('paddingLeft','50px');
            }
            if(i==2){
                $('.text .third').css({'color':'#43bc60','fontSize':'32px'}).siblings().css({'color':'#ccc','fontSize':'24px'}).siblings('.first').hide();
            }
        }
    });
</script>
{/block}



