{extend name="public/teacherlayout"}
{block name="title"}我的教学-学员问答{/block}

{block name="container"}
<div id="content-container" class="container">
    <div class="row row-3-9 my-layout">
        {include file="../application/index/view/teacher/public/sidenav.html" /}
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div class="panel panel-default panel-col">
                <div class="panel-heading">
                    学员问答
                </div>
                <div class="panel-body">
                    {notempty name="asklist"}
                    <ul class="media-list">
                        {volist name="asklist" id="ask"}
                        <li class="media">
                            <div class="media-body">
                                <div class="mbm">
                                    <span class="label label-info" title="问答帖">问</span>
                                    <a href="{:url('index/course/askdetail',array('course'=>$ask['courseid'],'askid'=>$ask['id']))}"><strong>{$ask.title}</strong></a>
                                    <span class="label" title="课时702">L702</span>
                                </div>
                                <div class="color-gray text-normal">
                                    <span>来自
                                        <a class="link-primary">{notempty name="ask.catename"}{$ask.catename}{/notempty}</a>-<a href="teacher_course_index.html" class="link-primary">{notempty name="ask.coursename"}{$ask.coursename}{/notempty}</a>
                                    </span>
                                    <span class="bullet">•</span>
                                    <span>{$ask.hit}浏览</span>
                                </div>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                    {$page}
                    {else /}
                    <div class="empty">您的课程中还没有学员提问过...</div>
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
{__block__}
<script>
    $(function(){
        $('.list-group-item').eq(2).addClass(' active');
    })
</script>
{/block}