{extend name="public/spacelayout"}
{block name="title"}{/block}
{block name="link"}
<!--[if lt IE 9]>
<script src="/static-dist/libs/html5shiv.js?version=8.1.5"></script>
<script src="/static-dist/es5-shim/es5-shim.js?version=8.1.5"></script>
<script src="/static-dist/es5-shim/es5-sham.js?version=8.1.5"></script>
<![endif]-->
{/block}

{block name="style"}
{include file="../application/index/view/teacher/public/mobilestyle.html" /}
{/block}
{block name="container"}
  <div id="content-container" class="container">

      <div class="row row-3-9 my-layout">
          {include file="../application/index/view/teacher/public/sidenav.html" /}
          <div class="col-md-9">

              <div class="panel panel-default" role="my-teaching-course-sets">
                  <div class="panel-heading">
                      <!--<span class="pull-right">-->
                          <!--<a id="create-course" href="teacher_createclass.html" class="btn btn-info btn-sm">-->
                              <!--<span class="es-icon es-icon-anonymous-iconfont"></span> 创建课程-->
                          <!--</a>-->
                      <!--</span>-->
                      在教课程
                  </div>
                  <div class="panel-body">
                      <ul class="nav nav-pills mb15">
                          <li class="active"><a href="teacher_teacherclass.html">普通课程</a></li>
                          <!--<li class=""><a href="teacher_teacherclass_live.html">直播课程</a></li>-->
                          <!--<li class=""><a href="teacher_teacherclass_classroom.html">班级课程</a></li>-->
                          <!--<li class=""><a href="teacher_teacherclass_courses.html">录播公开课</a></li>-->
                          <!--<li class=""><a href="teacher_teacherclass_liveOpen.html">直播公开课</a></li>-->
                      </ul>
                      <table class="table table-striped" id="course-table" style="word-break:break-all;">
                          <thead>
                          <tr>
                              <th width="45%">名称</th>
                              <th>学员数</th>
                              <!--<th>价格(元)</th>-->
                              <th>状态</th>
                              <th width="20%">操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          {volist name="course" id="course"}
                          <tr>
                              <td>
                                  <a class="pull-left mrm link-primary" href="http://www.hnhgjx.cn:1700/course/151">
                                      {notempty name="course.smallPicture"}
                                      <img class="course-picture" src="http://localhost/{$course.smallPicture}" alt="111" width="100">
                                      {else /}
                                      <img class="course-picture" src="__IMG__courseSet.png" alt="111" width="100">
                                      {/notempty}
                                  </a>
                                  <div class="mlm">
                                      <a class="link-primary" href="http://www.hnhgjx.cn:1700/course/151?previewAs=member">{$course.title}</a>
                                      <br>
                                  </div>
                              </td>
                              <td>{$course->studyresult()->group('userid')->count()}</td>
                              <!--<td>0.00</td>-->
                              <td>
                                  {switch name="course.status"}
                                  {case value="1"}<span class="color-gray">已发布</span>{/case}
                                  {case value="0"}<span class="color-gray">未发布</span>{/case}
                                  {/switch}
                              </td>
                              <td>
                                  <div class="btn-group">
                                      <a class="mr10 link-primary" target="_blank" href="{:url('index/teacher/classfiles',array('courseid'=>$course['id']))}">管理</a>
                                      <!--<a href="javascript:;" type="button" class="link-primary dropdown-toggle ml10" data-toggle="dropdown">更多<i class="es-icon es-icon-arrowdropdown"></i></a>-->
                                      <ul class="dropdown-menu pull-right">
                                  <li>
                                      <a href="http://www.hnhgjx.cn:1700/course_set/149/manage">计划管理</a>
                                  </li>
                                          <li>
                                              <a href="http://www.hnhgjx.cn:1700/course_set/149/manage/files">文件管理</a>
                                          </li>
                                      </ul>
                                  </div>
                              </td>
                          </tr>
                          {/volist}
                          <!--<tr>-->
                              <!--<td>-->
                                  <!--<a class="pull-left mrm link-primary" href="http://www.hnhgjx.cn:1700/course/146">-->
                                      <!--<img class="course-picture" src="__IMG__1554317ac977773116.jpg" alt="在线课程1" width="100">-->
                                  <!--</a>-->
                                  <!--<div class="mlm">-->
                                      <!--<a class="link-primary" href="http://www.hnhgjx.cn:1700/course/146?previewAs=member">在线课程1</a><br>-->
                                  <!--</div>-->
                              <!--</td>-->
                              <!--<td>0</td>-->
                              <!--<td>0.00</td>-->
                              <!--<td>             -->
                                  <!--<span class="color-gray">未发布</span>-->
                              <!--</td>-->
                              <!--<td>-->
                                  <!--<div class="btn-group">-->
                                      <!--<a class="mr10 link-primary" target="_blank" href="http://www.hnhgjx.cn:1700/course_set/144/manage/base">管理</a>-->
                                      <!--<a href="javascript:;" type="button" class="link-primary dropdown-toggle ml10" data-toggle="dropdown">更多-->
                                          <!--<i class="es-icon es-icon-arrowdropdown"></i>-->
                                      <!--</a>-->
                                      <!--<ul class="dropdown-menu pull-right">-->
                                          <!--<li>-->
                                              <!--<a href="http://www.hnhgjx.cn:1700/course_set/144/manage">计划管理</a>-->
                                          <!--</li>-->
                                          <!--<li>-->
                                              <!--<a href="http://www.hnhgjx.cn:1700/course_set/144/manage/files">文件管理</a>-->
                                          <!--</li>-->
                                      <!--</ul>-->
                                  <!--</div>-->
                              <!--</td>-->
                          <!--</tr>-->

                          </tbody>
                      </table>
                      {$page}
                      <nav class="text-center">
                      
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>
{/block}

{block name="javascript"}
<script>
  if (typeof app === 'undefined') {
      var app = {};
  }
  app.version = '8.1.5';
  app.httpHost = 'http://www.hnhgjx.cn:1700';
  app.basePath = 'http://www.hnhgjx.cn:1700';
  app.theme = 'jianmo';

    
  var CLOUD_FILE_SERVER = ""; 

  app.config = {"api":{"weibo":{"key":""},"qq":{"key":""},"douban":{"key":""},"renren":{"key":""}},"loading_img_path":"\/assets\/img\/default\/loading.gif?version=8.1.5"};

  app.arguments = {};
      
  app.scripts = null;

  app.uploadUrl = '/file/upload';
  app.imgCropUrl = '/file/img/crop';
  app.lessonCopyEnabled = '0';
  app.cloudSdkCdn = '';
  app.lang = 'zh_CN';
</script>
<script src="__JS__translator.min.js"></script>
<script src="__JS__js"></script>
<script src="__JS__vendor.js"></script>
<script src="__JS__common.js"></script>
<script src="__JS__main.js"></script>
<script type="text/javascript">
    window.seajsBoot && window.seajsBoot();
</script>
<script>
    $(function(){
        $('.list-group-item').eq(0).addClass(' active');
    })
</script>
{/block}
