<!DOCTYPE html>
<html>
{include file="manage/header" /}
<link href="__MANAGE_JS__datepicker/css/bootstrap-datepicker.css" rel="stylesheet">
<body>
<div class="container-fluid">
    {php}
    $uid = session('admin_uid');
    {/php}

    <div class="well clearfix">
        <form class="navbar-form navbar-left" role="search" action="{:url()}" method="get">
            <div class="form-group">
                <label>招生批次</label>
                <select name="admission" class="form-control">
                    <option value="">--请选择--</option>
                    {volist name="admission" id="a"}
                    <option value="{$a.id}">{$a.title}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label>专业</label>
                <select name="category" class="form-control">
                    <option value="">--请选择--</option>
                    {volist name='categorylist' id='c'}
                    <option value="{$c.code}">{$c.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label>报名日期</label>
                <input type="text" class="form-control form_datetime" placeholder="开始日期" name="starttime">-
                <input type="text" class="form-control form_datetime" placeholder="结束日期" name="endtime">
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('')}" style="cursor: pointer">回首页</a></li>
    </ul>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>报名专业</th>
            <th>联系电话</th>
            <th>推荐人</th>
            <th>毕业学校</th>
            <th>家庭住址</th>
            <th>审批状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.realname}</td>
            <td>{if condition="$vo['sex'] eq 1"}男{elseif condition="$vo['sex'] eq 2"}女{else}保密{/if}</td>
            <td>{$vo.age}</td>
            <td>{$vo.name}</td>
            <td>{$vo.phone}</td>
            <td>{$vo.promotMan}</td>
            <td>{$vo.school}</td>
            <td>{$vo.address}</td>
            {if condition="$vo.status == 0"}
            <td>待审</td>
            {elseif condition="$vo.status == 1"/}
            <td>未通过</td>
            {elseif condition="$vo.status == 2"/}
            <td>通过</td>
            {/if}
            <td>
                {php}
                if(check($uid,'/manage/studentenroll2/edit')){
                    echo '<a href="#" onclick="add_edit(\'edit\','.$vo['id'].');"  data-toggle="modal" data-target="#myModal">编辑</a>';
                    echo '<strong>/</strong>';
                }
                if(check($uid,'/manage/studentenroll2/accept')){
                    echo '<a href="#" onclick="add_edit(\'acceptShow\','.$vo['id'].');"  data-toggle="modal" data-target="#myModal_accept'.$vo['id'].'">查看</a>';
                }
                {/php}
                <!--查看开始-->
                <div class="modal fade" id="myModal_accept{$vo.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">报名受理</h4>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                <table class="table table-bordered table-hover">
                                    <form id="form2">
                                    <tr><td>姓名</td><td>{$vo.realname}<input type="hidden" name="realname" value="{$vo.realname}"/></td></tr>
                                    <tr><td>性别</td><td>{if condition="$vo['sex'] eq 1"}男{elseif condition="$vo['sex'] eq 2"}女{else}保密{/if}<input type="hidden" name="sex" value="{$vo.sex}"/></td></tr>
                                    <tr><td>年龄</td><td>{$vo.age}<input type="hidden" name="age" value="{$vo.age}"/></td></tr>
                                    <tr><td>报名批次</td><td>{$vo.admissionID}<input type="hidden" name="admissionID" value="{$vo.admissionID}"/></td></tr>
                                    <tr><td>专业</td><td>{$vo.name}<input type="hidden" name="name" value="{$vo.name}"/></td></tr>
                                    <tr><td>电话</td><td>{$vo.phone}<input type="hidden" name="phone" value="{$vo.phone}"/></td></tr>
                                    <tr><td>推荐人</td><td>{$vo.promotMan}<input type="hidden" name="promotMan" value="{$vo.promotMan}"/></td></tr>
                                    <tr><td>毕业院校</td><td>{$vo.school}<input type="hidden" name="school" value="{$vo.school}"/></td></tr>
                                    <tr><td>家庭地址</td><td>{$vo.address}<input type="hidden" name="address" value="{$vo.address}"/></td></tr>
                                        <input type="hidden" name="cardsn" value="{$vo.cardsn}"/>
                                    </form>
                                </table>
                                {if condition="$vo['status'] eq 2"}
                                <button type="button" class="btn btn-primary" disabled="disabled">已授理</button>
                                {else/}
                                <button type="button" class="btn btn-primary" onclick="accept({$vo.id},1)">拒绝</button>
                                <button type="button" class="btn btn-default" onclick="accept({$vo.id},2)">同意</button>
                                {/if}
                            </div>



                        </div>
                    </div>
                </div>
                <!--查看结束-->
            </td>
        </tr>

        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>

</div>

{include file='manage/bottom'}
<script type="text/javascript" src="__MANAGE_JS__datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
/*
一共3种方法，添加新专业，修改专业，禁用专业
*/
    /*添加*/
$(".form_datetime").datepicker({
    autoclose: true,
    todayHighlight: true,
    language:"zh-CN",
    format:"yyyy-mm-dd"
});
    function add_edit(type,id,parentcode) {

        switch (type){
            case 'add':

                $(" input[ type='text' ] ").val('')
                $(" input[ type='hidden' ] ").val('')
                $('#add_role').show()
                $('#edit_role').hide()

                break;
            case 'edit':
                $(" input[ type='text' ] ").val('')
                $(" input[ type='hidden' ] ").val('')
                $('#selfcode').val(id)//如果是修改,id是自己
                $('#add_role').hide()
                $('#edit_role').show()
                $.get("{:url('edit')}?do=get&rid="+id,function (data) {
                    $('#role_name').val(data.info.name)
                    $('#role_code').val(data.info.code)
                    $('#selfcode').val(data.info.id)
                    $('#studyTimes').val(data.info.studyTimes)
                    $('#point').val(data.info.point)
                    $('#description').val(data.info.description)
                });
                
                break;
            case 'acceptShow':
                $('#acceptStatus').show()

                break;
            default:
                alert('error')
        }

    }

    function accept(id,type) {
        $.post("{:url('accept')}?rid="+id+"&type="+type,$("#form2").serialize(),function (data) {
            if(data.code=='000'){
                alert(data.info)
                $('#myModal_accept'+id).modal('hide')
            }else{

            }
        });
    }

</script>
</body>
</html>
