<div class="es-section course-manage-header clearfix">
    <a href="http://www.hnhgjx.cn:1700/course/153">
        <img class="picture" src="./teacher_classindex_files/courseSet.png"> <!-- courseSet.largePicture -->
    </a>
    <h1 class="title">
        <a class="link-dark" href="http://www.hnhgjx.cn:1700/course/153">{$course->title}</a>
        {switch name="course.status"}
        {case value="1"}<span class="label label-warning ">已发布</span>{/case}
        {case value="0"}<span class="label label-warning ">未发布</span>{/case}
        {/switch}

    </h1>
    <div class="teachers">教师：<a href="http://www.hnhgjx.cn:1700/user/1">{$course->teacher->username}</a></div>
    <div class="toolbar hidden-xs">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" target="_blank" href="teacher_teachplan.html">预览</a>
        </div>
        <div class="btn-group">
            <button class="btn btn-success btn-sm course-publish-btn" data-url="/course_set/151/manage/publish">发布课程</button>
        </div>
    </div>
</div>