<div class="sidenav locked js-sidenav" data-course-length="1">
    <ul class="list-group">
        <!--<li class="list-group-item">-->
            <!--<a href="{:url('index/teacher/classindex')}">-->
                <!--基本信息-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="list-group-item ">-->
            <!--<a href="teacher_classinfos.html">-->
                <!--详细信息-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="list-group-item ">-->
            <!--<a href="teacher_classimg.html">-->
                <!--封面图片-->
            <!--</a>-->
        <!--</li>-->
        <!--<hr class="mv5 mh10 bg-border-color">-->
        <li class="list-group-item active">
            <a href="{:url('index/teacher/classfiles')}">课程文件</a>
        </li>
        <!--<li class="list-group-item ">-->
            <!--<a href="teacher_test.html">试卷管理</a>-->
        <!--</li>-->
        <!--<li class="list-group-item ">-->
            <!--<a href="teacher_titile.html">题目管理</a>-->
        <!--</li>-->

        <!--<div class="js-sidenav-course-menu ">-->
            <!--<hr class="mv5 mh10 bg-border-color">-->
            <!--<li class="list-group-item " id="step-1">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course_set/151/manage/course/153/tasks">计划任务</a>-->
            <!--</li>-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course_set/151/manage/course/153/info">计划设置</a>-->
            <!--</li>-->
            <!--<li class="list-group-item " id="step-2">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course_set/151/manage/course/153/marketing">营销设置</a>-->
            <!--</li>-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course_set/151/manage/course/153/teachers">教师设置</a>-->
            <!--</li>-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course_set/151/manage/course/153/students">学员管理</a>-->
            <!--</li>-->
            <!--<hr class="mv5 mh10 bg-border-color">-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course/153/manage/testpaper/check">试卷批阅</a>-->
            <!--</li>-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course/153/manage/homework/check">作业批阅</a>-->
            <!--</li>-->
            <!--<hr class="mv5 mh10 bg-border-color">-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course_set/151/manage/course/153/dashboard">学习数据</a>-->
            <!--</li>-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/course_set/151/manage/course/153/orders">订单查询</a>-->
            <!--</li>-->
        <!--</div>-->
        <!--<div class="js-sidenav-course-list">-->
            <!--<hr class="mv5 mh10 bg-border-color">-->
            <!--<li class="list-group-item ">-->
                <!--<a href="teacher_plan.html">教学计划管理</a>-->
            <!--</li>-->
        <!--</div>-->
    </ul>
</div>