{extend name="public/spacelayout"}
{block name="title"}{/block}

{block name="container"}
<div id="content-container" class="container">
    <div class="tabs-wrapper  visible-lg-block">
        <div class="tabs-mark-group plm ptm">
            <div class="title">所有分类：</div>
            <ul class="content list-unstyled list-inline">
                <li class="classify"></li>
                <li class="classify"></li>
                <li class="classify"></li>
            </ul>
        </div>
        <div class="tabs-group">
            <div class="title">分类:</div>
            <ul class="content clearfix">
                <li class="active"><a class="nav-link" href="#">全部</a></li>
                <li class=""><a class="nav-link" href="#">焊接技术系</a></li>
                <li class=""><a class="nav-link" href="#">设备维修系</a></li>
                <li class=""><a class="nav-link" href="#">电气自动化系</a></li>
                <li class=""><a class="nav-link" href="#">仪表自动化系</a></li>
                <li class=""><a class="nav-link" href="#">铆管技术系</a></li>
                <li class=""><a class="nav-link" href="#">经济管理系</a></li>
                <li class=""><a class="nav-link" href="#">化学工程系</a></li>
                <li class=""><a class="nav-link" href="#">电气自动化系</a></li>
                <li class=""><a class="nav-link" href="#">自动控制工程系</a></li>
                <li class=""><a class="nav-link" href="#">机械工程系</a></li>
                <li class=""><a class="nav-link" href="#">工业分析系</a></li>
                <li class=""><a class="nav-link" href="#">信息工程系</a></li>
                <li class=""><a class="nav-link" href="#">基础教学部</a></li>
                <li class=""><a class="nav-link" href="#">体育教研室</a></li>
                <li class=""><a class="nav-link" href="#">学前教育系</a></li>
                <li class=""><a class="nav-link" href="#">实验技术学院</a></li>
            </ul>
        </div>
    </div>
    <div class="es-filter">
        <ul class="nav clearfix nav-pills mb15">
            <li  class="active"><a href="#" aria-controls="tab_messages" role="tab" data-toggle="tab">最新</a></li>
            <li><a href="#"  aria-controls="tab_messages" role="tab" data-toggle="tab">最热</a></li>
            <li><a href="#"  aria-controls="tab_messages" role="tab" data-toggle="tab">推荐</a></li>
        </ul>
        <div class="filter hidden-xs">
            <!--<label class="checkbox-inline">-->
                <!--<input type="checkbox" id="live" value=""> 直播课程-->
            <!--</label>-->
            <!--<label class="checkbox-inline">-->
                <!--<input type="checkbox" id="free" value=""> 免费课程-->
            <!--</label>-->
        </div>
    </div>
    <div class="course-list">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="course-item">
                    <div class="course-img">
                        <a href="/course/168">
                            <span class="tags"><span class="tag-finished"></span></span>
                            <img src="http://localhost/uploads/pictures/c1.jpg" alt="化学基础" class="img-responsive">
                        </a>
                    </div>
                    <div class="course-info">
                        <div class="title">
                            <a class="link-dark" href="/course/168" target="_blank">化学基础</a>
                        </div>
                        <div class="metas clearfix">
                            <span class="num"><i class="es-icon es-icon-people"></i>3</span>
                            <span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
                            <span class="course-price-widget">
                                        <span class="free">免费</span>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $(".tabs-group").find('li').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            $(".nav-pills").children('li').eq(0).addClass('active').siblings().removeClass('active');
        });

        $(".nav-pills").children('li').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
        });
    })
</script>
{/block}
