{volist name="course" id="course"}
<div class="col-lg-3 col-md-4 col-xs-6">
    <div class="course-item">
        <div class="course-img">
            <a href="{:url('index/course/catalogue',array('course'=>$course['id']))}">
                {notempty name="course.smallPicture"}
                <img src="/{$course.smallPicture}" alt="化学基础" class="img-responsive">
                {else /}
                <img src="__IMG__courseSet.png" alt="化学基础" class="img-responsive">
                {/notempty}
            </a>
        </div>
        <div class="course-info">
            <div class="title">
                <a class="link-dark" href="{:url('index/course/catalogue',array('course'=>$course['id']))}" target="_blank">
                    {$course.title}
                </a>
            </div>
            <div class="metas clearfix">
                <span class="num"><i class="es-icon es-icon-people"></i>3</span>
                <span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
                <span class="course-price-widget">
                                    <span class="free">免费</span>
                                  </span>
            </div>
        </div>
    </div>
</div>
{/volist}