{extend name="public/layout"}
{block name="title"}登陆{/block}
{block name="link"}
<link rel="stylesheet" href="__CSS__base.css">
<link rel="stylesheet" href="__CSS__bootstrapValidator.min.css">
<link rel="stylesheet" href="__CSS__student/toast.style.css">
{/block}
{block name="style"}
<style>
    .lt-ie9 {
        overflow: hidden;
    }

    .ie-mask {
        z-index: 999999;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: alpha(opacity=50);
        opacity: 0.5;
        background: #000;
    }

    .ie-alert-wrap {
        position: absolute;
        z-index: 1000000;
        margin: -200px auto 0;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
    }

    .ie-alert {
        width: 514px;
        height: 397px;
        margin: 0 auto;
    }

    .ie-alert__chrome,
    .ie-alert__firefox {
        position: absolute;
        z-index: 1000001;
        display: block;
        bottom: 48px;
        width: 60px;
        height: 80px;
    }

    .ie-alert__chrome {
        left: 50%;
        margin-left: -80px;
    }

    .ie-alert__firefox {
        right: 50%;
        margin-right: -80px;
    }
</style>
{/block}
{block name="script"}
<script src="__JS__fix-ie.js?version=8.0.6"></script>
{/block}

{block name="container"}
<div id="content-container" class="container">
    <div class="es-section login-section">
        <div class="logon-tab clearfix">
            <a class="active" href="{:url('index/index/login')}">登录帐号</a>
            <a href="{:url('index/index/regist')}">注册帐号</a>
        </div>
        <div class="login-main">
                <div class="form-group mbl">
                    <label class="control-label" for="login_username">帐号</label>
                    <div class="controls y_relative">
                        <input class="form-control input-lg" id="login_username" type="text" name="username"
                               value="" required
                               placeholder='邮箱/手机/用户名'/>
                    </div>
                </div>
                <div class="form-group mbl">
                    <label class="control-label" for="login_password">密码</label>
                    <div class="controls y_relative">
                        <input class="form-control input-lg" id="login_password" type="password" name="password"
                               required placeholder='密码'/>
                    </div>
                </div>
                <p class="help-block form-error-message jq-validate-error"></p>
                <div class="form-group mbl">
                    <div class="controls">
                        <input type="checkbox" name="_remember_me" checked="checked"> 记住密码
                    </div>
                </div>
                <div class="form-group mbl">
                    <button type="buttom" class="btn btn-primary btn-lg btn-block js-btn-login">登录</button>
                </div>
            <div class="mbl">
                <a class="link-primary" href="./password/reset.html">找回密码</a>
                <span class="color-gray mhs">|</span>
                <span class="color-gray">还没有注册帐号？</span>
                <a class="link-primary sign-up" href="{:url('index/index/regist')}">立即注册</a>
            </div>
        </div>

    </div>

</div>
{/block}

{block name="javascript"}
<script src="__JS__bootstrap.min.js"></script>
<script src="__JS__bootstrapValidator.min.js"></script>
<script>
    $(function(){
        $('#register-btn').click(function(){
            var username = $('#register_nickname').val();
            var email    = $('#register_email').val();
            var password = $('#register_password').val();
            if(username!=''&&email!=''&&password!=''){
                $.post(
                    "{:url('index/index/register')}",
                    {
                        'username':username,
                        'email':email,
                        'password':password,
                    },
                    function(data){
                        if(data['code']==0){
                            alert("success");
                        }
                        else{
                            alert(data['message']);
                        }
                    },
                    "json"
                );
            }

        });

        $('.js-btn-login').click(function(){
            console.log();
            var login_username = $('#login_username').val();
            var login_password = $('#login_password').val();
            if(login_username!=''&&login_password!=''){
                $.post(
                    "{:url('index/index/loginajax')}",
                    {
                        'username':login_username,
                        'password':login_password
                    },
                    function(data){
                        if(data['code']==0){
                            $.Toast("", "登录成功正在为您跳转...", "success", {
                                stack: true,
                                has_icon:true,
                                has_close_btn:true,
                                fullscreen:false,
                                timeout:1500,
                                sticky:false,
                            });
                            setTimeout(function(){
                                window.location.href="{:url('index/index/index')}";
                            },2000)
                        }
                        else{
                            $(".help-block").html(data['message']);
                        }
                    },
                    "json"
                );
            }

        });

    })
</script>
{/block}
