{extend name="public/layout"}
{block name="title"}首页{/block}

{block name="container"}

<div class="bloglist f_l">
  <form action="{:url('index/index/pic')}" enctype="multipart/form-data" method="post">
    <input type="file" name="head_icon" /> <br>
    <input type="file" name="back_head_icon" /> <br>
    <input type="submit" value="上传" />
  </form>
</div>
<div>{:captcha_img()}</div>
{/block}

{block name="javascript"}
<script>
    $(function(){
        $.post(
            "{:url('index/login/sendchemail')}",
            {'':'312850391@qq.com',
                'token':123456},
            function(data){
                if(data){
                    console.log(data);
                }
            },
            "json"
        );
    })
</script>
{/block}



