{extend name="public/layout"}
{block name="title"}首页{/block}

{block name="container"}

<a class="bloglist f_l">
  <form action="{:url('index/course/uploadfile')}" enctype="multipart/form-data" method="post">
    <input type="hidden" name="userid" value="2" /> <br>
    <input type="text" name="realname" /> <br>
    <input type="text" name="idcard" /> <br>
    <input type="file" name="front_pic" /> <br>
    <input type="file" name="behind_pic" /> <br>
    <!--<input type="file" name="back_head_icon" /> <br>-->
    <input type="submit" value="上传" />
  </form>
  <a href="{:url('index/index/inde',array('id'=>2))}" <button>222222222</button></a>
</div>
<div>{:captcha_img()}</div>
{/block}

{block name="javascript"}
<script>
    $(function(){
        $.post(
            "http://localhost/index/login/register",
            {
                'email':'312850391@qq.com',
                'username':'nick',
                'password':'456789',
                'token':123456
            },
            function(data){
                if(data){
                    console.log(data);
                }
            },
            "json"
        );
    })
</script>
{/block}



