<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2>教师统计</h2></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    <div>教师总数 {$totalteacher}人</div>
                </div>
                <div class="col-md-1">
                    <div>上传资源总数 {$totalmedia}个</div>
                </div>
                <div class="col-md-1">
                    <div>资源访问总量 --次</div>
                </div>
                <div class="col-md-1">
                    <div>作业批改总数 {$totalcheck}次</div>
                </div>
                <div class="col-md-1">
                    <div>回帖总数 {$totalanswer}次</div>
                </div>
                <div class="col-md-1">
                    <div>发帖总数 {$totalask}次</div>
                </div>
            </div>
        </div>


    </div>
    <form  class="navbar-form" role="title" action="{:url()}" method="get">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入搜索关键字" name="title">
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('')}" style="cursor: pointer">刷新列表</a></li>
    </ul>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>工号</th>
            <th>教师姓名</th>
            <th>登陆次数</th>
            <th>登陆总时长</th>
            <th>登陆频率(次/天)</th>
            <th>在教课程数量</th>
            <th>上传资源数量</th>
            <th>资源访问量</th>
            <th>作业批阅量</th>
            <th>回帖数量</th>
            <th>发帖数量</th>
            <th>在教学生数量</th>
            <th style="background-color: #aa1111;color:#fff">查看评价</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.sn}</td>
            <td>{$vo.realname}</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>{$vo.teachnum}</td>
            <td>{$vo.medianum}</td>
            <td>--</td>
            <td>{$vo.checknum}</td>
            <td>{$vo.answernum}</td>
            <td>{$vo.asknum}</td>
            <td>{$vo.medianum}</td>
            <td>--</td>
        </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>


</div>
{include file='manage/bottom'}

</body>
</html>
