{extend name="public/spacelayout"}
{block name="title"}{/block}

{block name="container"}
{include file="../application/index/view/usercenter/public/spacetop.html" /}
<div id="content-container" class="container">
  {include file="../application/index/view/usercenter/public/spacenav.html" /}
  <div class="course-list">
    <div class="row">
      <!--<div class="empty">暂无收藏课程！</div>-->
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="course-item">
          <div class="course-img">
            <a href="#">
              <img src="__IMG__1554317ac977773116.jpg" alt="化学基础" class="img-responsive">
            </a>
          </div>
          <div class="course-info">
            <div class="title">
              <a class="link-dark" href="/course/158" target="_blank">
                化学基础
              </a>
            </div>
            <div class="metas clearfix">
              <span class="num"><i class="es-icon es-icon-people"></i>22</span>
              <span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>
              <span class="course-price-widget">
                    <span class="free">免费</span>
                  </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="text-center"></nav>
</div>
{/block}