{extend name="public/spacelayout"}
{block name="title"}{/block}
{block name="link"}
<link href="__CSS__gradeSave1.css" type="text/css" rel="stylesheet">
{/block}

{block name="container"}
{include file="../application/index/view/usercenter/public/spacetop.html" /}
<div id="content-container" class="container">
    {include file="../application/index/view/usercenter/public/spacenav.html" /}
    <div class="gradeWrapper">
        <div class="content">
            <div class="title">
                <span class="name">王明明</span>
                <div class="starGrade">
                    <i class="star"></i>
                    <p>当前可用积分</p>
                    <p>80000</p>
                    <p><a href="{:url('index/student/conversion')}" style="color:#428bca">积分兑换</a></p>
                </div>
            </div>
            <div class="tableContent">
                <div class="search">
                    <form action="#" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="startTime">
                        </div>
                        -
                        <div class="form-group">
                            <input type="text" class="form-control" id="endTime">
                        </div>
                        <button type="submit" class="btn btn-default" style="background:#428bca;color:#fff;">搜索</button>
                    </form>
                </div>
                <div class="tableWrapper">
                    <table class="table">
                        <tbody><tr>
                            <th>积分类型</th>
                            <th>积分动态</th>
                            <th>变更时间</th>
                            <th>积分说明</th>
                        </tr>
                        <tr>
                            <td>实训积分</td>
                            <td>+15</td>
                            <td>2017-6-15 12:00</td>
                            <td>积分收入</td>
                        </tr>
                        <tr>
                            <td>课程学习</td>
                            <td>+50</td>
                            <td>2017-5-15 12:00</td>
                            <td>积分收入</td>
                        </tr>
                        <tr>
                            <td>测试答题</td>
                            <td>+5</td>
                            <td>2017-4-10 12:00</td>
                            <td>积分收入</td>
                        </tr>
                        <tr>
                            <td>积分兑换</td>
                            <td>-100</td>
                            <td>2017-5-12 12:00</td>
                            <td>购买书籍</td>
                        </tr>
                        <tr>
                            <td>实训积分</td>
                            <td>+15</td>
                            <td>2017-6-15 12:00</td>
                            <td>积分收入</td>
                        </tr>
                        <tr>
                            <td>上课答题</td>
                            <td>+10</td>
                            <td>2017-7-15 12:00</td>
                            <td>积分收入</td>
                        </tr>
                        </tbody></table>
                </div>
                <div class="container" style="text-align: center;width: 83%;margin-top: 0;">

                </div>
            </div>
        </div>
    </div>
</div>
{/block}
