{extend name="public/spacelayout"}
{block name="title"}{/block}
{block name="container"}
{include file="../application/index/view/usercenter/public/spacetop.html" /}
<div id="content-container" class="container">
  {include file="../application/index/view/usercenter/public/spacenav.html" /}
  <!--<div class="empty">暂无在学班级！</div>-->
  <div class="recommend-class-list row">
    <div class="col-md-3 col-sm-6">
      <div class="class-item">
        <div class="class-img-wrap">
          <a class="class-img" href="#">
            <img class="img-responsive" src="__IMG__1554317ac977773116.jpg" alt="2016级分析232班">
          </a>
        </div>
        <h3><a class="link-dark" href="#">2016级分析232班</a></h3>
        <div class="metas">共0门课程</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="class-item">
        <div class="class-img-wrap">
          <a class="class-img" href="#">
            <img class="img-responsive" src="__IMG__1554317ac977773116.jpg" alt="2016级仪表技师121班">
          </a>
        </div>
        <h3><a class="link-dark" href="#">2016级仪表技师121班</a></h3>
        <div class="metas">共0门课程</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="class-item">
        <div class="class-img-wrap">
          <a class="class-img" href="#">
            <img class="img-responsive" src="__IMG__1554317ac977773116.jpg" alt="2016级仪表技师121班">
          </a>
        </div>
        <h3><a class="link-dark" href="#">2016级仪表技师121班</a></h3>
        <div class="metas">共0门课程</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="class-item">
        <div class="class-img-wrap">
          <a class="class-img" href="#">
            <img class="img-responsive" src="__IMG__1554317ac977773116.jpg" alt="2016级仪表技师121班">
          </a>
        </div>
        <h3><a class="link-dark" href="#">2016级仪表技师121班</a></h3>
        <div class="metas">共0门课程</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="class-item">
        <div class="class-img-wrap">
          <a class="class-img" href="#">
            <img class="img-responsive" src="__IMG__1554317ac977773116.jpg" alt="2016级仪表技师121班">
          </a>
        </div>
        <h3><a class="link-dark" href="#">2016级仪表技师121班</a></h3>
        <div class="metas">共0门课程</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="class-item">
        <div class="class-img-wrap">
          <a class="class-img" href="#">
            <img class="img-responsive" src="__IMG__1554317ac977773116.jpg" alt="2016级仪表技师121班">
          </a>
        </div>
        <h3><a class="link-dark" href="#">2016级仪表技师121班</a></h3>
        <div class="metas">共0门课程</div>
      </div>
    </div>
  </div>
</div>
{/block}