<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">
    {php}
    $uid = session('admin_uid');
    {/php}

    <div class="well clearfix">
        <form class="navbar-form navbar-left" role="search" action="{:url()}" method="get">
            <div class="form-group">
                <label>专业</label>
                <select name="category" class="form-control">
                    <option value="">--请选择--</option>
                    {volist name='categorylist' id='c'}
                    <option value="{$c.code}" {if condition="$info['category'] eq $c['code']"}selected{/if}>{$c.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label>课程形式</label>
                <select name="type" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="1" {if condition="$info['type'] eq 1"}selected{/if}>理论课</option>
                    <option value="2" {if condition="$info['type'] eq 2"}selected{/if}>实践课</option>
                </select>
            </div>
            <div class="form-group">
                <label>课程名称</label>
                <input type="text" class="form-control" placeholder="课程名称" value="{$info.name}" name="name">
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <div class="pull-right">
        {php}
        if(check($uid,'/manage/categorycourse/add')){
        echo '<a class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加课程</a>';
        }
        {/php}

    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{:url('')}" style="cursor: pointer">刷新专业课程列表</a></li>
        <li role="presentation"><a href="{:url('category/index')}">专业管理</a></li>
        <li role="presentation" class="active"><a href="{:url('categorycourse/index')}">专业课程</a></li>
        <li role="presentation"><a href="{:url('studentenroll/index')}">专业报名数据查询</a></li>
        <li role="presentation"><a href="{:url('categorycertificate/index')}">专业证书</a></li>
        <li role="presentation"><a href="{:url('certificate/index')}">证书记录</a></li>
    </ul>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>课程名称</th>
            <th>所属专业</th>
            <th>课程形式</th>
            <th>总课时</th>
            <th>学分</th>
            <th>授课老师</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.title}</td>
            <td>{$vo.name}</td>
            <td>{$vo.type}</td>
            <td>{$vo.studyTimes}</td>
            <td>{$vo.point}</td>
            <td>{$vo.realname}</td>
            <td>{$vo.Flag?'启用':'禁用'}</td>
            <td>
                {php}
                    if(check($uid,'/manage/categorycourse/edit')){
                        echo '<a href="#" data-toggle="modal" data-target="#myModal_edit'.$vo['id'].'">编辑</a>';

                    }
                {/php}
                <!--修改开始-->
                <!-- 模态框 -->
                <div class="modal fade" id="myModal_edit{$vo.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">修改专业课程</h4>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                <form class="form-horizontal" role="form" id="form{$vo.id}" method="post" action="{:url('edit')}">
                                    <div class="form-group">
                                        <label for="code" class="col-sm-2 control-label">课程名称</label>
                                        <div class="col-sm-10">
                                            <select name="code" class="form-control">
                                                {volist name='courselist' id='c'}
                                                <option value="{$c.id}" {if condition="$vo['id'] eq $c['id']"}selected{/if}>{$c.title}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="category" class="col-sm-2 control-label">所属专业</label>
                                        <div class="col-sm-10">
                                            <select name="category" class="form-control">
                                                {volist name='categorylist' id='c'}
                                                <option value="{$c.code}" {if condition="$vo['code'] eq $c['code']"}selected{/if}>{$c.levelHtml}{$c.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="center-block" style="width: 200px">
                                            <label class="radio-inline">
                                                <input type="radio" name="flag" value="1"  {if condition="$vo['Flag'] eq 1"}checked{/if}> 启用
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="flag" value="0"  {if condition="$vo['Flag'] eq 0"}checked{/if}> 禁用
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="rid" value="{$vo.id}"/>
                                    <!-- 模态框底部 -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" onclick="dopost('edit',{$vo.id});">修改</button>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
                <!--修改结束-->
            </td>
        </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>

    <!--添加开始-->
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">专业课程</h4>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="form0" method="post" action="{:url('add')}">
                        <div class="form-group">
                            <label for="code" class="col-sm-2 control-label">课程名称</label>
                            <div class="col-sm-10">
                                <select name="code" id="code" class="form-control">
                                    {volist name='courselist' id='c'}
                                    <option value="{$c.id}">{$c.title}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category" class="col-sm-2 control-label">所属专业</label>
                            <div class="col-sm-10">
                                <select name="category" id="category" class="form-control">
                                    {volist name='categorylist' id='c'}
                                    <option value="{$c.code}">{$c.levelHtml}{$c.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="center-block" style="width: 200px">
                                <label class="radio-inline">
                                    <input type="radio" name="flag" value="1"> 启用
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="flag" value="0" checked> 禁用
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="rid" value="" id="selfcode"/>
                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="add_role" onclick="dopost('add',0);">添加</button>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
    <!--添加结束-->
    <!--删除专业提示-->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">更改专业状态成功</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">

                    更改专业状态成功！

                </div>

            </div>
        </div>
    </div>
    <!--删除专业提示结束3-->
</div>
{include file='manage/bottom'}
<script type="text/javascript">

    function dopost($url,formid) {

        $url=='add'?"{:url('add')}":"{:url('edit')}";

        $.ajax({
            url: $url+"?"+Math.random(),
            type:"post",
            data:$('#form'+formid).serialize(),
            success:function(data){

                if(data.code=='000'){
                    alert(data.info)
                    // $('#selfcode').val('')//必须清空
                    //
                    // $('#myModal').modal('hide')
                    window.location.reload();

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }

    function enable(id) {
        if(confirm('确定要禁用吗')){
            $.get("{:url('enable')}?rid="+id,function (data) {
                if(data.code=='000'){
                    alert(data.info)
                    $('#myModal2').modal('hide')
                }else{

                }
            });
        }

    }


</script>
</body>
</html>
