<script src="__MANAGE_JS__jquery.min.js?v=2.1.4"></script>
<script src="__MANAGE_JS__bootstrap.min.js?v=3.3.5"></script>
<script src="__MANAGE_JS__plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__MANAGE_JS__plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__MANAGE_JS__plugins/layer/layer.min.js"></script>
<script src="__MANAGE_JS__hplus.min.js?v=4.0.0"></script>
<script src="__MANAGE_JS__contabs.min.js" type="text/javascript" ></script>
<script src="__MANAGE_JS__plugins/pace/pace.min.js"></script>