<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="{$admin_info['img']}" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$admin_info['name']}</strong></span>
                                <span class="text-muted text-xs block">{$admin_info['role']}<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">

                        <li><a class="J_menuItem" href="reset">重置密码</a>
                        </li>

                        <li class="divider"></li>
                        <li><a href="{:url('Manage/login/logout')}">安全退出</a>
                        </li>
                    </ul>
                </div>
            </li>
            {volist name="roles" id="r"}
            {if condition="check($admin_info['uid'],$r['url'])"}
            <li>
                <a href="#">
                    <i class="fa fa-group"></i>
                    <span class="nav-label">{$r.typename}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    {volist name="r.children" id="c"}
                    <li>
                        {php}
                        if(check($admin_info['uid'],$c['url'])){
                            echo '<a class="J_menuItem" href="'.url($c['url']).'" data-index="0"><i class="fa fa-angle-double-right"></i>'.$c['name'].'</a>';
                        }
                        {/php}
                    </li>
                    {/volist}
                </ul>

            </li>
            {/if}
            {/volist}
        </ul>
    </div>
</nav>
<!--左侧导航结束-->