<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="{$admin_info['img']}" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$admin_info['name']}</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">

                        <li><a class="J_menuItem" href="reset">重置密码</a>
                        </li>

                        <li class="divider"></li>
                        <li><a href="{:url('Manage/login/logout')}">安全退出</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-group"></i>
                    <span class="nav-label">用户管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('Manage/user/index')}" data-index="0"><i class="fa fa-angle-double-right"></i>用户列表</a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-outdent"></i>
                    <span class="nav-label">角色管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('Manage/role/index')}" data-index="0"><i class="fa fa-angle-double-right"></i>角色列表</a>
                        <a class="J_menuItem" href="{:url('Manage/rolefunction/index')}" data-index="0"><i class="fa fa-angle-double-right"></i>权限组</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-certificate"></i>
                    <span class="nav-label">栏目管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('Manage/functions/index')}" data-index="0"><i class="fa fa-angle-double-right"></i>栏目功能列表</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-leanpub"></i>
                    <span class="nav-label">日志管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('Manage/log/index')}" data-index="0"><i class="fa fa-angle-double-right"></i>日志列表</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-leanpub"></i>
                    <span class="nav-label">专业管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('Manage/category/index')}" data-index="0"><i class="fa fa-angle-double-right"></i>专业列表</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('Manage/categorycourse/index')}" data-index="0"><i class="fa fa-angle-double-right"></i>专业课程</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('Manage/studentenroll/index')}" data-index="0"><i class="fa fa-angle-double-right"></i>专业报名数据查询</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--左侧导航结束-->