<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">

    <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-info">

            <div class="panel-heading"><h3 class="panel-title">系统参数</h3></div>
            <div class="panel-body home-info">
                <div class="span2 column">
                    <h2 contenteditable="true"></h2>
                    <p>系统参数等</p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>


</div>
{include file='manage/bottom'}
</body>
</html>

