{extend name="public/teacherlayout"}
{block name="title"}我的教学-所教班级{/block}

{block name="container"}
<div id="content-container" class="container">
    <div class="row row-3-9 my-layout">
        {include file="../application/index/view/teacher/public/sidenav.html" /}
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div class="panel panel-default panel-col lesson-manage-panel">
                <div class="panel-heading">所教班级</div>
                <div class="panel-body">
                    <ul class="course-wide-list">
                        <li class="course-item clearfix">
                            <a class="course-picture-link" href="http://www.hnhgjx.cn:1700/classroom/1" target="_blank">
                                <img class="course-picture" src="__IMG__1554317ac977773116.jpg" alt="电镜四班">
                            </a>
                            <div class="course-body">
                                <div style="float:right;" class="color-gray mrm mls">
                                    <span class="glyphicon glyphicon-cog"></span> <a href="http://www.hnhgjx.cn:1700/classroom/1/manage">管理班级</a>
                                </div>
                                <h4 class="mbl"><a href="teacher_teachclass_introduce.html" target="_blank">电镜四班</a>
                                    <span class="label label-danger ">已关闭</span>
                                </h4>
                                <span class="color-gray">共3课
                                    <i class="fa fa-users mll"></i> 1</span>
                                <div class="course-footer clearfix mtl">
                                    <strong class="mrl">今日新增</strong>学员0  &nbsp;&nbsp;话题0  &nbsp;&nbsp; 任务完成学习0
                                </div>
                            </div>
                        </li>
                        <li class="course-item clearfix">
                            <a class="course-picture-link" href="http://www.hnhgjx.cn:1700/classroom/2" target="_blank">
                                <img class="course-picture" src="__IMG__1554317ac977773116.jpg" alt="电镜三班">
                            </a>
                            <div class="course-body">
                                <div style="float:right;" class="color-gray mrm mls">
                                    <span class="glyphicon glyphicon-cog"></span> <a href="http://www.hnhgjx.cn:1700/classroom/2/manage">管理班级</a>
                                </div>
                                <h4 class="mbl"><a href="teacher_teachclass_introduce.html" target="_blank">电镜三班</a>
                                    <span class="label label-danger ">已关闭</span>
                                </h4>
                                <span class="color-gray">共2课
                                    <i class="fa fa-users mll"></i> 1</span>
                                <div class="course-footer clearfix mtl">
                                    <strong class="mrl">今日新增</strong>学员0  &nbsp;&nbsp;话题0  &nbsp;&nbsp; 任务完成学习0
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
{__block__}
<script>
    $(function(){
        $('.list-group-item').eq(1).addClass(' active');
    })
</script>
{/block}


        
