<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">
    {php}
    $uid = session('admin_uid');
    {/php}

    <div class="well clearfix">
        <form class="navbar-form navbar-left" role="search" action="{:url()}" method="get">
            <div class="form-group">
                <label>用户</label>
                <input type="text" class="form-control" placeholder="用户" name="realname">
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>用户</th>
            <th>课程</th>
            <th>章</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.realname}</td>
            <td>{$vo.title}</td>
            <td>{$vo.ctit}</td>
            <td>{$vo.status?'完成':'未完成'}</td>
            <td>
                {php}
                    if(check($uid,'/manage/studyresult/edit')){
                        echo '<a href="#" onclick="add_edit(\'edit\','.$vo['id'].');"  data-toggle="modal" data-target="#myModal">编辑</a>';
                        echo '<strong>/</strong>';
                    }elseif(check($uid,'/manage/studyresult/delete')){
                        echo '<a href="#" onclick="deleteR('.$vo['id'].');">删除</a>';
                    }
                {/php}

            </td>
        </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>

</div>
{include file='manage/bottom'}
<script type="text/javascript">
    /*添加、修改*/

    function add_edit(type,id,parentcode) {

        switch (type){
            case 'add':

                $(" input[ type='text' ] ").val('')
                $(" input[ type='hidden' ] ").val('')
                $('#add_role').show()
                $('#edit_role').hide()

                break;
            case 'edit':
                $(" input[ type='text' ] ").val('')
                $(" input[ type='hidden' ] ").val('')
                $('#selfcode').val(id)//如果是修改,id是自己
                $('#add_role').hide()
                $('#edit_role').show()
                $.get("{:url('edit')}?do=get&rid="+id,function (data) {
                    var newdata = data.info

                    $('#title').val(newdata.title)
                    $.each($('#categoryId').children(),function () {

                        if($(this).val()==newdata.categoryId){
                            $(this).prop('selected',true)
                        }
                    })

                    $.each($('#teacherIds').children(),function () {

                        if($(this).val()==newdata.teacherIds){
                            $(this).prop('selected',true)
                        }
                    })

                    $('#about').val(newdata.about)

                });
                
                break;
            default:
                alert('error')
        }

    }


    function dopost($url) {
        $url=='add'?"{:url('add')}":"{:url('edit')}";

        $.ajax({
            url: $url+"?"+Math.random(),
            type:"post",
            data:$("#form1").serialize(),
            success:function(data){

                if(data.code=='000'){

                    alert(data.info)

                    $('#selfcode').val('')//必须清空

                    $('#myModal').modal('hide')

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }

    function deleteR(id) {
        $.get("{:url('delete')}?rid="+id,function (data) {
            if(data.code=='000'){
                alert(data.info)
                $('#myModal2').modal('hide')
            }else{
                alert(data.error)
            }
        });
    }


</script>
</body>
</html>
