<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">
    {php}
    $uid = session('admin_uid');
    {/php}

    <div class="well clearfix">
        <form class="navbar-form navbar-left" role="search" action="{:url()}" method="get">
            <div class="form-group">
                <label>状态</label>
                <select name="flag" class="form-control">
                    <option >--请选择--</option>
                    <option value="0">禁用</option>
                    <option value="1">启用</option>
                </select>
                <input type="text" class="form-control" placeholder="编号/名称" name="name">
            </div>

            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <div class="pull-right">
        {php}
        if(check($uid,'/manage/certificate/add')){
        echo '<a class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加证书</a>';
        }
        {/php}

    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{:url('category/index')}">专业管理</a></li>
        <li role="presentation"><a href="{:url('categorycourse/index')}">专业课程</a></li>
        <li role="presentation"><a href="{:url('studentenroll/index')}">专业报名数据查询</a></li>
        <li role="presentation"><a href="{:url('categorycertificate/index')}">专业证书</a></li>
        <li role="presentation" class="active"><a href="#">证书记录</a></li>
    </ul>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>姓名</th>
            <th>身份证号</th>
            <th>专业</th>
            <th>证书编号</th>
            <th>证书名称</th>
            <th>等级</th>
            <th>颁发机构</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}

        <tr>
            <td>{$vo.realname}</td>
            <td>{$vo.idcard}</td>
            <td>{$vo.name}</td>
            <td>{$vo.sn}</td>
            <td>{$vo.cname}</td>
            <td>{$vo.level}</td>
            <td>{$vo.unit}</td>
            <td>{$vo.createtime}</td>
            <td>
                {php}
                    if(check($uid,'/manage/certificate/edit')){
                        echo '<a href="#" data-toggle="modal" data-target="#myModal_edit'.$vo['id'].'">编辑</a>';
                        echo '<strong>/</strong>';
                    }
                {/php}
                <a href="#" onclick="show({$vo.id},'{$vo.pic?base64_encode($vo.pic):\'\'}');"   data-toggle="modal" data-target="#myModal2">查看证书</a>
                <!--修改开始-->
                <!-- 模态框 -->
                <div class="modal fade" id="myModal_edit{$vo.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">修改证书记录</h4>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                <form class="form-horizontal" role="form" id="form{$vo.id}" method="post" action="{:url('edit')}">
                                    <div class="form-group">
                                        <label for="userprofile" class="col-sm-2 control-label">用户名称</label>
                                        <div class="col-sm-10">
                                            <select name="userprofile" class="form-control">
                                                <option>--请选择--</option>
                                                {volist name='userprofile' id="u"}
                                                <option value="{$u.id}" {if condition="$vo['bid'] eq $u['id']"}selected{/if}>{$u.realname}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="category" class="col-sm-2 control-label">证书选择</label>
                                        <div class="col-sm-10">
                                            <select name="category" class="form-control">
                                                <option>--请选择--</option>
                                                {volist name='category' id="c"}
                                                <option value="{$c.id}" {if condition="$vo['did'] eq $c['id']"}selected{/if}>{$c.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newfile{$vo.id}" class="col-sm-2 control-label">证书图片</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="newfile{$vo.id}" name="newfile" onchange="uploadImage({$vo.id});">
                                            <input type="hidden" name="pic" value="{$vo.pic}" id="pic{$vo.id}">
                                            <div id="showinfoPic{$vo.id}"></div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="rid" value="{$vo.id}"/>
                                    <!-- 模态框底部 -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" onclick="dopost('edit',{$vo.id})">修改</button>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
                <!--修改结束-->
            </td>
        </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>

    <!--新增专业-->
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增证书记录</h4>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="form0" method="post" action="{:url('add')}">
                        <div class="form-group">
                            <label for="userprofile" class="col-sm-2 control-label">用户名称</label>
                            <div class="col-sm-10">
                                <select name="userprofile" class="form-control" id="userprofile">
                                    <option>--请选择--</option>
                                    {volist name='userprofile' id="u"}
                                    <option value="{$u.id}">{$u.realname}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category" class="col-sm-2 control-label">证书选择</label>
                            <div class="col-sm-10">
                                <select name="category" class="form-control" id="category">
                                    <option>--请选择--</option>
                                    {volist name='category' id="c"}
                                    <option value="{$c.id}">{$c.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newfile0" class="col-sm-2 control-label">证书图片</label>
                            <div class="col-sm-10">
                                <input type="file" id="newfile0" name="newfile" onchange="uploadImage(0);">
                                <input type="hidden" name="pic" id="pic0">
                                <div id="showinfoPic0"></div>
                            </div>
                        </div>

                        <input type="hidden" name="rid" value="" id="selfcode"/>
                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" onclick="dopost('add',0);">添加</button>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
    <!--添加专业结束-->
    <!--查看证书-->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">查看证书</h4>

                </div>

                <div class="modal-body" id="showpic0">



                </div>

            </div>
        </div>
    </div>
    <!--查看证书-->
</div>
{include file='manage/bottom'}
<script type="text/javascript" src="__MANAGE_JS__base64.js"></script>
<script type="text/javascript">
    
    function uploadImage(id) {
        // FormData对象，来发送二进制文件。
        var formdata = new FormData();

        // 将文件追加到 formdata对象中。
        formdata.append("newfile"+id,document.getElementById('newfile'+id).files[0]);
        $.ajax({
            type: "POST",
            url: "{:url('upload')}?id="+id,
            data:formdata,
            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            dataType: "json",
            beforeSend:function () {
                alert('正在上传中...')
            }, //发送请求
            success: function(data){
                // console.log(data);

                if(data.code=='000'){
                    $('#pic'+id).val(data.path)
                    $('#showinfoPic'+id).html('<img class="img-rounded" src="'+data.path+'" width="100%"/>');
                    alert('上传成功');
                }

            },
            error: function(jqXHR){
                alert("发生错误：" + jqXHR.status);
            },
        });

    }

    function dopost($url,formid) {
        $url=='add'?"{:url('add')}":"{:url('edit')}";

        $.ajax({
            url: $url+"?"+Math.random(),
            type:"post",
            data:$('#form'+formid).serialize(),
            success:function(data){

                if(data.code=='000'){
                    alert(data.info)
                    // $('#selfcode').val('')//必须清空
                    //
                    // $('#myModal_edit'+formid).modal('hide')
                    // $('#myModal').modal('hide')
                    window.location.reload();

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }


    function show(id,pic) {
        var b = new Base64();
        var str = b.decode(pic);

        if(pic){
            //pic是没base64解码过的，str是解码过的
            if(str.indexOf("\\")>0){
                $('#showpic0').html('<img class="img-rounded" src="\\'+str+'" width="100%"/>')
            }else{
                $('#showpic0').html('<img class="img-rounded" src="'+str+'" width="100%"/>')
            }

        }else{
            $('#showpic0').html('暂无图片')
        }
    }



</script>
</body>
</html>
