<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="wrapper">

    <div class="view">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail" contenteditable="true">角色名称</label>
                <div class="controls">
                    <input id="inputEmail" placeholder="Email" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword" contenteditable="true">角色代码</label>
                <div class="controls">
                    <input id="inputPassword" placeholder="Password" type="password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" contenteditable="true">
                        <input type="checkbox">
                        Remember me </label>
                    <button type="submit" class="btn" contenteditable="true">登陆</button>
                </div>
            </div>
        </form>
    </div>
</div>
{include file='manage/bottom'}
</body>
</html>

