{extend name="public/spacelayout"}
{block name="title"}{/block}

{block name="container"}
{include file="../application/index/view/usercenter/public/spacetop.html" /}
<div id="content-container" class="container">
  {include file="../application/index/view/usercenter/public/spacenav.html" /}
  <div class="course-list">
    <div class="row">
      {volist name="course" id="course"}
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="course-item">
          <div class="course-img">
            <a href="{:url('index/course/catalogue',array('course'=>$course['id']))}" target="_blank">
              <img src="/{$course.smallPicture}" alt="" class="img-responsive">
            </a>
          </div>
          <div class="course-info">
            <div class="title">
              <a class="link-dark" href="{:url('index/course/catalogue',array('course'=>$course['id']))}" target="_blank">
                {$course.title}
              </a>
            </div>
            <div class="metas clearfix">
              <span class="num"><i class="es-icon es-icon-people"></i>{$course->studyresult()->group('userid')->count()}</span>
              <span class="comment"><i class="es-icon es-icon-textsms"></i>{$course->review()->count()}</span>
              <span class="course-price-widget">
                    <span class="price">
                      <span class="color-success">免费</span>
                    </span>
                  </span>
            </div>
          </div>
        </div>
      </div>
      {/volist}






    </div>
    {$page}
  </div>
  <nav class="text-center"></nav>
</div>
{/block}
