{extend name="public/spacelayout"}
{block name="title"}{/block}
{block name="link"}
<link href="__CSS__gradeSave1.css" type="text/css" rel="stylesheet">
{/block}

{block name="container"}
{include file="../application/index/view/usercenter/public/spacetop.html" /}
<div id="content-container" class="container">
    {include file="../application/index/view/usercenter/public/spacenav.html" /}
    <div class="gradeWrapper">
        <div class="content">
            <div class="title clearfix">
                <div class="left dueCredithour">应修积分：<span>60分</span></div>
                <div class="left">已修积分：<span>20分</span></div>
            </div>
            <div class="tableContent">
                <div class="search">
                    <form action="#" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="endTime" style="width:280px;padding-left:20px"  placeholder="请在这里输入用户名">
                        </div>
                        <button type="submit" class="btn btn-default" style="background:#428bca;color:#fff;width:114px;height:34px;margin-left:168px;">查询</button>
                    </form>
                </div>
                <div class="tableWrapper">
                    <table class="table" style="margin:0;text-align:center;">
                        <tbody>
                            <tr>
                                <th style="vertical-align: middle;text-align: center;">课程名称</th>
                                <th style="vertical-align: middle;text-align: center;">课程学分</th>
                                <th style="vertical-align: middle;text-align: center;">已修学分</th>
                                <th style="vertical-align: middle;text-align: center;">获取时间</th>
                            </tr>
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>  
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>  
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>  
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>  
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>  
                            <tr>
                                <td>课程一</td>
                                <td>+15</td>
                                <td>2</td>
                                <td>2017-6-15 12:00</td>
                            </tr>  
                    </tbody>
                    </table>
                </div>
                <div class="container" style="text-align: center;width: 83%;margin-top: 0;">

                </div>
            </div>
        </div>
    </div>
</div>
{/block}
