<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">

    <div class="well clearfix">
        <form class="navbar-form navbar-left" role="search" action="{:url()}" method="get">
            <div class="form-group">
                <label>题目类型</label>
                <select name="type" class="form-control">
                    <option value="">--请选择--</option>
                    {volist name="qtype" id="q"}
                    <option value="{$q.type}">{$q.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label>适用课程</label>
                <select name="courseId" class="form-control">
                    <option value="">--请选择--</option>
                    {volist name="course" id="c"}
                    <option value="{$c.id}">{$c.title}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label>状态</label>
                <select name="status" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="1">未使用</option>
                    <option value="2">已使用</option>
                </select>
            </div>
            <div class="form-group">
                <label>关键字</label>
                <input type="text" name="stem" class="form-control" placeholder="关键字"/>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('')}" style="cursor: pointer">刷新列表</a></li>
    </ul>
    <div class="pull-right">
        {if condition="check($uid,'/manage/question/add')"}
        <a class="btn btn-primary" href="{:url('single_choice')}">单选题</a><span> </span>
        <a class="btn btn-primary" href="{:url('choice')}">多选题</a><span> </span>
        <a class="btn btn-primary" href="{:url('determine')}">判断题</a><span> </span>
        <a class="btn btn-primary" href="{:url('essay')}">问答题</a><span> </span>
        {/if}
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>编号</th>
            <th>题目类型</th>
            <th>题目详情</th>
            <th>试用课程</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.type}</td>
            <td>{$vo.stem}</td>
            <td>{$vo.name}</td>
            <td>{$vo.courseSetId?'使用中':'未使用'}</td>
            <td>
                {if condition="check($uid,'/manage/question/edit')"}
                        <a href="#" data-toggle="modal" data-target="#myModal_edit{$vo.id}">编辑</a>
                        <strong>/</strong>
                {/if}
                {if condition="check($uid,'/manage/question/delete')"}
                        <a href="#" onclick="deleteR({$vo.id});">删除</a>
                {/if}

            </td>
        </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>

</div>
{include file='manage/bottom'}
<script type="text/javascript">

    function deleteR(id) {
        if(confirm('确定要删除吗')){
            $.get("{:url('delete')}?rid="+id,function (data) {
                if(data.code=='000'){
                    alert(data.info)
                    window.location.reload();
                }else{

                }
            });
        }

    }

</script>
</body>
</html>
