<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">
    {php}
    $uid = session('admin_uid');
    {/php}

    <div class="well clearfix">
        <form class="navbar-form navbar-left" role="search" action="{:url()}" method="get">
            <div class="form-group">
                <label>回访内容</label>
                <input type="text" class="form-control" placeholder="回访内容" name="content">
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('')}" style="cursor: pointer">回首页</a></li>
    </ul>
    <div class="pull-right">
        {if condition="check($uid,'/manage/returnvisit/add')"}
           <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">创建回访</a>
        {/if}

    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>操作人</th>
            <th>被回访人</th>
            <th>回访时间</th>
            <th>回访内容</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.uname}</td>
            <td>{$vo.username}</td>
            <td>{$vo.visitTime}</td>
            <td>{$vo.content}</td>
            <td>
                {if condition="check($uid,'/manage/returnvisit/edit')"}
                    <a href="#" data-toggle="modal" data-target="#myModal_edit{$vo.id}">编辑</a>
                {/if}
                {if condition="check($uid,'/manage/returnvisit/delete')"}
                    <a href="#" onclick="deleteR({$vo.id});">删除</a>
                {/if}
                <!--新增-->
                <!-- 模态框 -->
                <div class="modal fade" id="myModal_edit{$vo.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">修改回访</h4>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                <form class="form-horizontal" role="form" id="form{$vo.id}" method="post" action="{:url('edit')}">
                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">被回访人</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="username" value="{$vo.username}"
                                                   placeholder="请输入被回访人名">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-2 control-label">联系方式</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"  name="phone" value="{$vo.phone}"
                                                   placeholder="请输入联系方式">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="categoryId" class="col-sm-2 control-label">回访方式</label>
                                        <div class="col-sm-10">
                                            <select name="categoryId" class="form-control">
                                                <option value="">--请选择--</option>
                                                <option value="0">电话回访</option>
                                                <option value="1">网络回访</option>
                                                <option value="2">面谈</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="content" class="col-sm-2 control-label">回访内容</label>
                                        <div class="col-sm-10">
                                            <textarea cols="30" rows="10" class="form-control" name="content" >{$vo.content}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="result" class="col-sm-2 control-label">回访结果</label>
                                        <div class="col-sm-10">
                                            <textarea cols="30" rows="10" class="form-control" name="result" >{$vo.content}</textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" name="rid" value="{$vo.id}"/>
                                    <!-- 模态框底部 -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" onclick="dopost('edit',{$vo.id});">修改</button>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
                <!--添加结束-->
            </td>
        </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>

    <!--新增-->
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增回访</h4>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="form0" method="post" action="{:url('add')}">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">被回访人</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="请输入被回访人名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">联系方式</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" name="phone"
                                       placeholder="请输入联系方式">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoryId" class="col-sm-2 control-label">回访方式</label>
                            <div class="col-sm-10">
                                <select name="categoryId" class="form-control">
                                    <option value="">--请选择--</option>
                                    <option value="1">电话回访</option>
                                    <option value="2">网络回访</option>
                                    <option value="3">面谈</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">回访内容</label>
                            <div class="col-sm-10">
                                <textarea cols="30" rows="10" class="form-control" name="content" id="content"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="result" class="col-sm-2 control-label">回访结果</label>
                            <div class="col-sm-10">
                                <textarea cols="30" rows="10" class="form-control" name="result" id="result"></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="rid" value="" id="selfcode"/>
                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="add_role" onclick="dopost('add',0);">添加</button>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
    <!--添加结束-->
    <!--删除提示-->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">更改成功</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    更改成功！

                </div>

            </div>
        </div>
    </div>
    <!--删除结束-->
</div>
{include file='manage/bottom'}
<script type="text/javascript">

    function dopost($url,formid) {
        $url=='add'?"{:url('add')}":"{:url('edit')}";

        $.ajax({
            url: $url+"?"+Math.random(),
            type:"post",
            data:$('#form'+formid).serialize(),
            success:function(data){

                if(data.code=='000'){

                    alert(data.info)

                    // $('#selfcode').val('')//必须清空
                    //
                    // $('#myModal').modal('hide')
                    // $('#myModal_edit'+formid).modal('hide')
                    window.location.reload();

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }

    function deleteR(id) {
        if(confirm('确定要删除吗')){
            $.get("{:url('delete')}?rid="+id,function (data) {
                if(data.code=='000'){
                    alert(data.info)
                    window.location.reload();
                }else{

                }
            });
        }

    }


</script>
</body>
</html>
