<!DOCTYPE html>
<html>
{include file="manage/header" /}
<link href="__MANAGE_JS__datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<body>
<div class="container-fluid">
    <div class="pull-right">
        <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="addjs">新增工作信息</a>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>教师名称</th>
            <th>工作单位</th>
            <th>部门</th>
            <th>职称</th>
            <th>职位</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}
        <tr>
            <td>{$vo.realname}</td>
            <td>{$vo.unit}</td>
            <td>{$vo.depart}</td>
            <td>{$vo.title}</td>
            <td>{$vo.position}</td>
            <td>{$vo.starttime}</td>
            <td>{$vo.endtime}</td>
            <td>
                <a href="#" onclick="workedit({$vo.id})" data-toggle="modal" data-target="#myModal">编辑</a>
                <a href="#"  onclick="enable({$vo.id});">删除</a>
            </td>
        </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>

    <!--新增-->
    <!-- 模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog"  style="width:890px">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">新增工作信息</h4>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="form0" method="post">
                        <div class="modal-title">工作信息</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-inline">工作单位</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="unit" value="" id="unit"
                                       placeholder="请输入工作单位">
                            </div>
                            <input type="hidden" name="id" value="" id="editid" />
                            <label class="col-sm-2 control-label form-inline">部门</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="depart" value="" id="depart"
                                       placeholder="请输入部门">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-inline">职位</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="position" value="" id="position"
                                       placeholder="请输入职位">
                            </div>
                            <label class="col-sm-2 control-label form-inline">职称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="title" value="" id="title"
                                       placeholder="请输入职称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-inline">开始时间</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-time" name="starttime" value="" id="starttime"
                                       placeholder="请输入开始时间">
                            </div>
                            <label class="col-sm-2 control-label form-inline">结束时间</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control form-time" name="endtime" value="" id="endtime"
                                       placeholder="请输入结束时间">
                            </div>
                        </div>
                        <input type="hidden" name="teacherid" value="{$Think.get.tid}"/>
                        <input type="hidden" name="add" value="unit"/>
                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="save">添加教师工作信息</button>
                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>
    <!--添加结束-->
    <!--删除提示-->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">更改成功</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    更改成功！

                </div>

            </div>
        </div>
    </div>
    <!--删除结束-->
</div>
{include file='manage/bottom'}
<script type="text/javascript" src="__MANAGE_JS__datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#add").click(function () {
            $('#id').val('');
            $('#unit').val('');
            $('#depart').val('');
            $('#position').val('');
            $('#title').val('');
            $('#starttime').val('');
            $('#endtime').val('');
        });
    });
    $('#save').click(function(){
        $.ajax({
            url: "{:url('addunit')}?"+Math.random(),
            type:"post",
            data:$('#form0').serialize(),
            success:function(data){

                if(data.code=='000'){

                    alert(data.info)

                    // $('#selfcode').val('')//必须清空
                    //
                    // $('#myModal').modal('hide')
                    // $('#myModal_edit'+formid).modal('hide')
                    window.location.href="{:url('addunit')}?tid=1";//刷新页面

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    })
    $(".form-time").datetimepicker({
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'yyyy-mm-dd'

    });
    // function dopost($url,formid) {
    //     $url=='addunit'?"{:url('addunit')}":"{:url('editunit')}";
    //
    //     $.ajax({
    //         url: $url+"?"+Math.random(),
    //         type:"post",
    //         data:$('#form'+formid).serialize(),
    //         success:function(data){
    //
    //             if(data.code=='000'){
    //
    //                 alert(data.info)
    //
    //                 $('#selfcode').val('')//必须清空
    //
    //                 $('#myModal').modal('hide')
    //                 $('#myModal_edit'+formid).modal('hide')
    //
    //             }else{
    //                 alert(data.error)
    //             }
    //
    //         },
    //         error:function(e){
    //             alert("添加信息错误");
    //         }
    //     });
    // }

    function enable(id) {
        if(confirm('确定要删除吗')){
            $.get("{:url('enable')}?rid="+id,function (data) {
                console.log(data.code);
                if(data.code=='000'){
                    alert(data.info)
                    window.location.href="{:url('addunit')}?tid=1";//刷新页面
                }else{

                }
            });
        }

    }

    function workedit(id){
        $('#editid').val(id);
        $.ajax({
            url: "{:url('editunit')}?" + Math.random(),
            type: "get",
            data: '&id=' + id,
            success: function (msg) {

                $.each(msg,function (ke,val) {
                    $('#unit').val(val.unit);
                    $('#depart').val(val.depart);
                    $('#position').val(val.position);
                    $('#title').val(val.title);
                    $('#starttime').val(val.starttime);
                    $('#endtime').val(val.endtime);
                });

            },
            error: function (e) {
                alert("修改信息错误");
            }
        });
    }

</script>
</body>
</html>
