<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">

    <div class="well clearfix">
        修改佣金标准
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('index')}" style="cursor: pointer"><<<返回列表</a></li>
    </ul>

    <!--修改-->
    <div class="col-md-8">
        <form class="form-horizontal" role="form" id="form1" method="post" action="{:url('edit')}">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">佣金名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" value="{$a.name}"
                           placeholder="请输入佣金名称">
                </div>
            </div>
            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">代码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="code" name="code" value="{$a.code}"
                           placeholder="请输入代码">
                </div>
            </div>

            <input type="hidden" name="id" value="{$a.id}"/>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="add_role" onclick="dopost('edit',1);">修改</button>
            </div>
        </form>
    </div>
    <!--修改结束-->

</div>
{include file='manage/bottom'}
<script type="text/javascript">

    function dopost($url,formid) {
        $url=='add'?"{:url('add')}":"{:url('edit')}";

        $.ajax({
            url: $url+"?"+Math.random(),
            type:"post",
            data:$('#form'+formid).serialize(),
            success:function(data){

                if(data.code=='000'){

                    alert(data.info)

                    window.location.reload();

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }

</script>
</body>
</html>
