<!DOCTYPE html>
<html>
{include file="manage/header" /}
<link href="__MANAGE_JS__datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<body>
<div class="container-fluid">
    {php}
    $uid = session('admin_uid');
    {/php}

    <div class="well clearfix">
        <form class="navbar-form navbar-left" role="search" action="{:url()}" method="get">
            <div class="form-group">
                <label>学生名称</label>
                <input type="text" class="form-control" placeholder="学生名称" name="realname">
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('')}" style="cursor: pointer">回首页</a></li>
    </ul>
    <div class="pull-right">
        {php}
        if(check($uid,'/manage/userprofile/add')){
            echo '<a class="btn btn-primary" onclick="clearInput()" data-toggle="modal" data-target="#myModal">添加学生</a>';
        }
        {/php}

    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>系部</th>
            <th>专业</th>
            <th>班级</th>
            <th>学习方式</th>
            <th>学籍状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {volist name="list" id="vo"}
            <tr>
                <td>{$vo.sn}</td>
                <td>{$vo.realname}</td>
                <td>{if condition="$vo['sex'] eq 0"}男{elseif condition="$vo['sex'] eq 1"}女{else/}保密{/if}</td>
                <td>{$vo.depart}</td>
                <td>{$vo.majors}</td>
                <td>{$vo.title}</td>
                <td>{$vo.style}</td>
                {if condition="$vo.style == 0"}
                <td>全日制</td>
                {elseif condition="$vo.style == 1"/}
                <td>非全日制</td>
                {/if}
                {if condition="$vo.studentstatus == 0"}
                <td>在籍</td>
                {elseif condition="$vo.studentstatus == 1"/}
                <td>毕业</td>
                {/if}
                <td>
                    {php}
                    if(check($uid,'/manage/userprofile/edit')){
                        echo '<a href="#" data-toggle="modal" data-target="#myModal_edit'.$vo['id'].'">编辑</a>';
                        echo '<strong>/</strong>';
                    }
                    if(check($uid,'/manage/userprofile/add')){
                        echo '<a href="'.url('addhome').'?tid='.$vo['id'].'">添加家庭情况</a>';
                        echo '<strong>/</strong>';
                    }
                    {/php}
                    <a href="{:url('Manage/studyresult/index')}?id={$vo.userid}">学习记录</a><strong>/</strong>
                    <a href="{:url('Manage/integral/integrallist')}?id={$vo.userid}">积分记录</a>
                    <!--修改开始-->
                    <!-- 模态框 -->
                    {include file="userprofile/edit"/}
                    <!--修改结束-->
                </td>
            </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>
    {include file="userprofile/add"/}
    <!--删除专业提示-->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">更改成功</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">

                    更改成功！

                </div>

            </div>
        </div>
    </div>
    <!--删除专业提示结束-->


</div>
{include file='manage/bottom'}
<script type="text/javascript" src="__MANAGE_JS__datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(".form-time").datetimepicker({
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'yyyy/mm/dd'
    });

    function clearInput() {
        $('#form0').children().find('input').val('')
        $('#form0').children().find('select').val('')
    }
    function uploadImage(id) {
        // FormData对象，来发送二进制文件。
        var formdata = new FormData();

        // 将文件追加到 formdata对象中。
        formdata.append("newfile"+id,document.getElementById('newfile'+id).files[0]);
        $.ajax({
            type: "POST",
            url: "{:url('upload')}?id="+id,
            data:formdata,
            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            dataType: "json",
            beforeSend:function () {
                alert('正在上传中...')
            }, //发送请求
            success: function(data){

                if(data.code=='000'){
                    $('#pic'+id).val(data.path)
                    $('#showinfoPic'+id).html('<img class="img-rounded" src="'+data.path+'" width="100%"/>');
                    alert('上传成功');
                }

            },
            error: function(jqXHR){
                alert("发生错误：" + jqXHR.status);
            },
        });

    }
    function dopost($url,formid) {
        $url=='add'?"{:url('add')}":"{:url('edit')}";

        $.ajax({
            url: $url+"?"+Math.random(),
            type:"post",
            data:$('#form'+formid).serialize(),
            success:function(data){

                if(data.code=='000'){

                    alert(data.info)

                    // $('#selfcode').val('')//必须清空
                    //
                    // $('#myModal').modal('hide')
                    window.location.reload();

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }
</script>
</body>
</html>
