<div class="col-md-3">
    <div class="sidenav">
        <ul class="list-group">
            <li class="list-group-heading">我的教学</li>
            <li class="list-group-item">
                <a href="{:url('index/teacher/teacherclass')}">在教课程</a>
            </li>
            <li class="list-group-item ">
                <a href="{:url('index/teacher/teachroom')}">所教班级
                </a>
            </li>
            <li class="list-group-item ">
                <a href="{:url('index/teacher/teacherask')}">学员问答</a>
            </li>
            <!--<li class="list-group-item ">-->
                <!--<a href="teacher_talkindex.html">学员话题</a>-->
            <!--</li>-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/my/testpaper/check">试卷批阅</a>-->
            <!--</li>-->
            <!--<li class="list-group-item ">-->
                <!--<a href="http://www.hnhgjx.cn:1700/my/homework/check">作业批阅</a>-->
            <!--</li>-->
            <li class="list-group-item ">
                <a href="{:url('index/teacher/browse')}">教学资料库</a>
            </li>
        </ul>
    </div>
</div>