<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {block name="meta"}

    {/block}
    <title>{block name="title"}title{/block}</title>
    <link href="__CSS__vendor.css" rel="stylesheet">
    <link href="__CSS__app-bootstrap.css" rel="stylesheet">
    <link href="__CSS__main.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__student/student-index.css">
    {block name="link"}

    {/block}
</head>
<body class="es-main-default es-nav-default course-dashboard-page">

{block name="script"}

{/block}
{block name="style"}

{/block}
<div class="es-wrap">
    {block name="header"}
    {include file="Public:header" /}
    {/block}
    <div class="event-report" data-url="/event/dispatch" data-event-name="course.view" data-subject-type="course" data-subject-id="118" data-user-id="1"></div>
    <!-- 3、加入后：任务式学习 -->
    <div class="container">
        <ol class="breadcrumb breadcrumb-o">
            <li><a href="#">首页</a></li>
            {notempty name="course.category.name"}
            <li><a>{$course->category->name}</a></li>
            {/notempty}
            <!--<li><a href="#course/explore/gongyefenxiyujianyan">工业分析与检验</a></li>-->
            <!--<li><a href="#course/118">化学分析基本操作技能 </a></li>-->
            <!--<li class="active">默认教学计划 </li>-->
        </ol>

        <div class="es-section course-detail-section clearfix">
            <div class="course-detail-top clearfix">
                <span class="tags mrm"></span>
                <span class="course-detail-heading">{$course.title}
                    <span class="es-qrcode top pt5 hidden-xs" data-url="/course/118/qrcode">
                        <i class="es-icon es-icon-qrcode"></i>
                        <span class="qrcode-popover">
                            <img src="#" alt="">扫二维码继续学习二维码时效为半小时
                        </span>
                    </span>
                </span>
                <ul class="course-operation hidden-xs hidden-sm clearfix">
                    <!--非营销页显示-->
                    <li>
                        <span class="btn btn-xs cursor-default">
                            <i class="es-icon es-icon-people text-16"></i>
                            <span class="mls">{$course.learnNum}人 </span>
                        </span>
                    </li>
                    <!--营销页显示-->
                    <!--<li class="es-share top">-->
                        <!--<a class="btn btn-default btn-xs dropdown-toggle" href="#" data-toggle="dropdown" title="课程分享">-->
                            <!--<i class="es-icon es-icon-share"></i>-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu  js-social-share-params" data-title="化学分析基本操作技能" data-summary="" data-message="我正在学习《化学分析基本操作技能》，收获巨大哦，一起来学习吧！" data-url="#course/118" data-picture="/assets/img/default/course.png">-->
                            <!--<a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A//www.hnhgjx.cn%3A1700/course/118"><i class="es-icon es-icon-weixin"></i></a>-->
                            <!--<a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo"><i class="es-icon es-icon-weibo"></i></a>-->
                            <!--<a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq"><i class="es-icon es-icon-qq"></i></a>-->
                            <!--<a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone"><i class="es-icon es-icon-qzone"></i></a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="btn btn-default btn-xs " href="#course_set/118/manage/course/118/tasks" title="课程管理">-->
                            <!--<i class="es-icon es-icon-setting"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal" data-url="/target/118/order/refund?targetType=course"><i class="es-icon es-icon-exit"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- 2、加入后：自由式学习 -->
            <section class="course-freelearn-section">
                <div class="row">
                    <div class="col-md-3">
                        <div class="course-progress">
                            <div class="cricle-progress" id="freeprogress" data-percent="0">
                                <span class="percent">学习进度<br><span class="num">{$coursedata.plan}%</span></span>
                                <canvas height="145" width="145" style="height: 146px; width: 146px;"></canvas></div>
                        </div>
                    </div>
                    <div class="col-md-7 hidden-xs hidden-sm">
                        <ul class="clearfix text-12 course-learn-list ">
                            <li>
                                <p class="mb15 color-gray">
                                    <i class="es-icon es-icon-iccheckcircleblack24px mrm"></i>已完成
                                </p>
                                <span class="text-16"><span class="color-primary">{$coursedata.has_done}</span> / <span class="mrl">{$coursedata.task_num}</span>任务</span>
                            </li>
                            <li>
                                <p class="mb15 color-gray">
                                    <i class="es-icon es-icon-today mrm"></i>学习有效期
                                </p>
                                <span class="text-16">永久有效</span>
                            </li>
                            <li>
                                <p class="mb15 color-gray">
                                    <i class="es-icon es-icon-book mrm"></i>下一学习任务
                                </p>
                                <a class="link-dark text-16" href="#course/118/task/703/show">{$coursedata.next_task}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm">
                        {if condition="$coursedata.plan eq 100"}
                            <a class="btn btn-primary btn-lg " href="{:url('index/examination/alert',array('course'=>$course['id'],'taskid'=>$coursedata['next_task_id']))}">
                                开始考试
                            </a>
                        {else}
                            {switch name="coursedata.next_task_id"}
                            {case value="0"}
                            <a class="btn btn-primary btn-lg mt10">
                                没有新课程
                            </a>
                            {/case}
                            {default /}
                            <a class="btn btn-primary btn-lg mt10" id="study">
                                继续学习
                            </a>
                            {/switch}
                        {/if}

                    </div>
                </div>
                <div class="course-detail-section-responsive visible-xs visible-sm clearfix">
                    <ul class="clearfix">
                        <!--营销页显示-->
                        <li class="es-share top   learn-es-share ">
                            <a class=" dropdown-toggle" href="#" data-toggle="dropdown" title="课程分享">
                                <i class="es-icon es-icon-share"></i>
                                <br>分享
                            </a>


                            <div class="dropdown-menu  js-social-share-params" data-title="化学分析基本操作技能" data-summary="" data-message="我正在学习《化学分析基本操作技能》，收获巨大哦，一起来学习吧！" data-url="#course/118" data-picture="/assets/img/default/course.png">
                                <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="分享到微信" data-share="weixin" data-qrcode-url="/common/qrcode?text=http%3A//www.hnhgjx.cn%3A1700/course/118"><i class="es-icon es-icon-weixin"></i></a>
                                <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="分享到新浪微博" data-share="weibo"><i class="es-icon es-icon-weibo"></i></a>
                                <a href="javascript:;" class="js-social-share" data-cmd="qq" title="分享到QQ好友" data-share="qq"><i class="es-icon es-icon-qq"></i></a>
                                <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="分享到QQ空间" data-share="qzone"><i class="es-icon es-icon-qzone"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text-right buy-btn-group visible-xs visible-sm">
                    <span class="mr20">完成任务：1 / 11</span>
                    {if condition="$coursedata.plan eq 100"}
                        <a class="btn btn-primary btn-lg " href="{:url('index/examination/alert',array('course'=>$course['id'],'taskid'=>$coursedata['next_task_id']))}">
                            开始考试
                        </a>
                    {else}
                        {switch name="coursedata.next_task_id"}
                        {case value="0"}
                        <a class="btn btn-primary btn-lg ">
                            没有新课程
                        </a>
                        {/case}
                        {default /}
                        <a class="btn btn-primary btn-lg " href="{:url('index/course/taskdetail',array('course'=>$course['id'],'taskid'=>$coursedata['next_task_id']))}">
                            继续学习
                        </a>
                        {/switch}
                    {/if}

                </div>
            </section>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 course-detail-content">

                <section class="es-section">
                    <div class="nav-btn-tab">
                        <ul class="nav nav-tabs " role="tablist">
                            <li role="presentation" id="tasks" class=""><a href="{:url('index/course/catalogue',array('course'=>$course['id']))}">目录</a></li>
                            <li role="presentation" id="threads" class=""><a href="{:url('index/course/discussion',array('course'=>$course['id']))}">讨论区<small>({$course->ask()->count()})</small></a></li>
                            <li role="presentation" id="notes" class=""><a href="{:url('index/course/note',array('course'=>$course['id']))}">笔记<small>{present name="user"}({$course->note()->where('userid',$user['id'])->count()}){/present}</small></a></li>
                            <li role="presentation" id="material" class=""><a href="{:url('index/course/material',array('course'=>$course['id']))}">资料区<small>({$course->file()->count()})</small></a></li>
                            <li role="presentation" id="reviews" class=""><a href="{:url('index/course/evaluate',array('course'=>$course['id']))}">评价<small>({$course->review()->count()})</small></a></li>
                            <li role="presentation" id="summary" class=""><a href="{:url('index/course/summary',array('course'=>$course['id']))}">介绍</a></li>
                            <!--<li class="highlight" style="left: 0px; width: 92px;"></li>-->
                        </ul>
                    </div>

                    {block name="navdetail"}

                    {/block}
                </section>
                <!--<div class="panel panel-default hidden-xs pt10">-->
                    <!--<div class="course-list">-->
                        <!--<div class="row">-->
                            <!--<div class="col-lg-3 col-md-4 col-xs-6">-->
                                <!--<div class="course-item">-->
                                    <!--<div class="course-img">-->
                                        <!--<a href="#course/135?ref=relatedCourseSets" target="_blank">-->
                                            <!--<img src="__IMG__courseSet.png" alt="基础化学" class="img-responsive">-->
                                        <!--</a>-->
                                    <!--</div>-->
                                    <!--<div class="course-info">-->
                                        <!--<div class="title">-->
                                            <!--<a class="link-dark" href="#course/135?ref=relatedCourseSets" target="_blank">基础化学</a>-->
                                        <!--</div>-->
                                        <!--<div class="metas clearfix">-->
                                            <!--<span class="num"><i class="es-icon es-icon-people"></i>3</span>-->
                                            <!--<span class="comment"><i class="es-icon es-icon-textsms"></i>0</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="col-lg-3 col-md-4 course-sidebar">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">授课教师</h3>
                    </div>
                    <div class="panel-body">
                        <div class="media media-default">
                            <div class="media-left">
                                <a class="js-user-card" href="#user/7855" data-card-url="/user/7855/card/show" data-user-id="7855" data-original-title="" title="">
                                    {present name="course.teacherinfo.user.title"}
                                    <img class="avatar-md" src="/{$course->teacherinfo->user->title}">
                                    {else /}
                                    <img class="avatar-md" src="/static\index\images\avatar.png">
                                    {/present}
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="title">
                                    {present name="course.teacherinfo.user.title"}
                                    <a class="link-dark link-dark" href="#user/7855">{$course->teacherinfo->realname}</a>
                                    {else /}
                                    <a class="link-dark link-dark">还未分配教师</a>
                                    {/present}
                                </div>
                                <div class="content"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新学员</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="user-avatar-list clearfix">
                            {notempty name="student"}
                            {volist name="student" id="stu"}
                            <li>
                                <a class=" js-user-card" href="#user/1" data-card-url="/user/1/card/show" data-user-id="1" data-original-title="" title="">
                                    <img class="avatar-sm" src="/{$stu.title}">
                                </a>
                            </li>
                            {/volist}
                            {/notempty}
                            <!--<li>
                                <a class=" js-user-card" href="#user/1" data-card-url="/user/1/card/show" data-user-id="1" data-original-title="" title="">
                                    <img class="avatar-sm" src="__IMG__100205dc0389099998.jpg">
                                </a>
                            </li>-->
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="es-icon es-icon-recentactors"></i>学员动态</h3>
                    </div>
                    <div class="panel-body">
                        {notempty name="student"}
                        {volist name="student" id="student"}
                        <div class="media media-number-o color-gray text-overflow">
                            <a class="link-dark " href="#user/1">{$student.username}</a>  开始学习 <a class="link-dark" href="#course/118/task/702/show?from=student_status" title="来自《{$student.task}》">{$student.task}</a>
                        </div>
                        {/volist}
                        {/notempty}
                        <!--<div class="media media-number-o color-gray text-overflow">-->
                            <!--<a class="link-dark " href="#user/1">admin</a>开始学习 <a class="link-dark" href="#course/118/task/701/show?from=student_status" title="来自《分析化验室安全管理制度的学习》">分析化验室安全管理制度的学习</a>-->
                        <!--</div>-->
                        <!--<div class="media media-number-o color-gray text-overflow">-->
                            <!--<a class="link-dark " href="#user/1">admin</a>完成了 <a class="link-dark" href="#course/118/task/700/show?from=student_status" title="来自《分析化验室的清洁与管理》">分析化验室的清洁与管理</a>-->
                        <!--</div>-->
                        <!--<div class="media media-number-o color-gray text-overflow">-->
                            <!--<a class="link-dark " href="#user/1">admin</a>开始学习 <a class="link-dark" href="#course/118/task/700/show?from=student_status" title="来自《分析化验室的清洁与管理》">分析化验室的清洁与管理</a>-->
                        <!--</div>-->
                        <!--<div class="media media-number-o color-gray text-overflow">-->
                            <!--<a class="link-dark " href="#user/1">admin</a>加入课程<a class="link-dark" href="#course/118" title="来自《化学分析基本操作技能》">化学分析基本操作技能</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {block name="footer"}
    {include file="Public:footer" /}
    {/block}
</div>



<div class="modal in" style="display: none; padding-left: 17px;">
    <div class="modal-dialog  modal-message task-state-modal modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">  <i class="es-icon es-icon-iccheckcircleblack24px color-success mrs" style="display: none"></i>点击签到</h4>
                <img src="__IMG__sign_on.png" alt="" class="">
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop in" style="display: none;"></div>
<script src="__JS__jquery-1.11.3.min.js"></script>
<script>
    $(function(){
        var userid;
        var html = "{:url('index/course/taskdetail',array('course'=>$course['id'],'taskid'=>$coursedata['next_task_id']))}";
        {present name="user"}
            userid = {$user.id};
        {/present}
        $('#study').click(function(){
             if(userid!='undefined'){
                 console.log(userid);
                 var taskid = {$coursedata.next_task_id};
                 $.post(
                     "{:url('index/user/ischeckin')}",
                     {'taskid':taskid},
                     function(data){
                         console.log(data);
                         if(data['code']==185){
                             window.location.href = html;
                         }else if(data['code']==186){
                            $('.modal').show();
                            $('.modal-backdrop').show();
                         }
                     },
                     "json"
                 );
             }
        });

        $(".modal-title").bind("click",function(){
            alert(1)
            var taskid = {$coursedata.next_task_id};
            $.post(
                "{:url('index/user/checkin')}",
                {'taskid':taskid},
                function(data){
                    console.log(data);
                    if(data['code']==187){
                        alert("签到发生错误！");
                    }else if(data['code']==0){
                        $('.modal').hide();
                        window.location.href = html;
                    }
                },
                "json"
            );
        });

//        $('.modal-title').click(function(){
//            var taskid = {$coursedata.next_task_id};
//            $.post(
//                "{:url('index/user/checkin')}",
//                {'taskid':taskid},
//                function(data){
//                    console.log(data);
//                    if(data['code']==187){
//                        alert("签到发生错误！");
//                    }else if(data['code']==0){
//                        $('.modal').hide();
//                        window.location.href = "{:url('index/course/taskdetail',array('course'=>$course['id'],'taskid'=>$coursedata['next_task_id']))}";
//                    }
//                },
//                "json"
//            );
//        });
    })
</script>
{block name="javascript"}

{/block}
</body>
</html>