{extend name="public/userlayout"}
{block name="title"}{/block}
{block name="sidebar"}
<div class="col-md-3">
    <div class="sidenav">
        <ul class="list-group">
            <li class="list-group-heading">我的学习</li>
            <li class="list-group-item">
                <a href="{:url('index/student/mystudy')}"><!--<i class="glyphicon glyphicon-picture"></i>--> 我的课程</a>
            </li>
            <!--<li class="list-group-item ">-->
                <!--<a href="{:url('index/student/discussions')}">&lt;!&ndash;<i class="glyphicon glyphicon-user"></i>&ndash;&gt; 我的话题</a>-->
            <!--</li>-->
            <li class="list-group-item ">
                <a href="{:url('index/student/questions')}"><!--<i class="glyphicon glyphicon-registration-mark"></i>--> 我的问答</a>
            </li>
            <!--<li class="list-group-item ">-->
                <!--<a href="{:url('index/student/homeworkfirst')}">&lt;!&ndash;<i class="glyphicon glyphicon-lock"></i>&ndash;&gt; 我的作业</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>
{/block}


