<!DOCTYPE html>
<html>
{include file="manage/header" /}
<link href="__MANAGE_JS__datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="__MANAGE_CSS__model.min.css" rel="stylesheet">
<body>

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li role="presentation" style="font-size:16px;"><a href="{:url('course/index')}">>>返回列表</a></li>
    </ul>
    <div class="well clearfix">
        课程任务-修改
    </div>

    <div class="col-md-8">
        <form class="form-horizontal" role="form" id="form1" method="post" action="{:url('edit')}">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">任务名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{$a.title}"
                           placeholder="请输入任务名称">
                </div>
            </div>
            <div class="form-group">
                <label for="isFree" class="col-sm-2 control-label">是否免费</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="isFree" class="isFree" value="1" {if condition="$a['isFree'] eq 1"}checked{/if}> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="isFree" class="isFree" value="0" {if condition="$a['isFree'] eq 0"}checked{/if}> 否
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="mode" class="col-sm-2 control-label">任务模式</label>
                <div class="col-sm-10">
                    <select name="mode" class="form-control">
                        <option value="">--请选择--</option>
                        {volist name="taskmode" id="t"}
                        <option value="{$t.id}" {if condition="$t['id'] eq $a['mode']"}selected="selected"{/if}>{$t.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div id="html_exam_media">
                {if condition="$a['type'] eq 'url'"}
                <div class="form-group">
                    <label class="col-sm-2 control-label">媒体链接</label>
                    <div class="col-sm-10">
                    <input type="text" id="mediaSource" name="mediaSource" class="form-control" placeholder="媒体链接" value="{$a.mediaSource}"/>
                    <input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="url"/>
                    </div>
                </div>
                {elseif condition="$a['type'] eq 'exam' || $a['type'] eq 'test' || $a['type'] eq 'plan'"}
                <div class="form-group">
                    <label class="col-sm-2 control-label">试卷名称</label>
                    <div class="col-sm-10">
                        <select name="paperid" class="form-control">
                            <option value="">--请选择--</option>
                            {volist name="testpaper" id="t"}
                            <option value="{$t.id}" {if condition="$t['id'] eq $a['paperid']"}selected="selected"{/if}>{$t.name}</option>
                            {/volist}
                        </select>
                    </div>
                    <input type="hidden" name="type" class="form-control" placeholder="类型" value="{$a.type}"/>
                </div>
                {else/}
                <div class="form-group">
                    <label class="col-sm-2 control-label">媒体文件</label>
                    <div class="col-sm-10">
                        <div id="picker" class="mediaHtmlc">
                            <input type="file" name="media"/>
                            <input type="text" id="length" name="length" class="form-control" placeholder="媒体长度" value="{$a.length}"/>
                            <input type="text" id="mediaSource" name="mediaSource" class="form-control" placeholder="媒体资源" value="{$a.mediaSource}"/>
                            <input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="{$a.type}"/>

                        </div>

                    </div>
                </div>
                {/if}
            </div>
            <div class="form-group">
                <label for="maxPoint" class="col-sm-2 control-label">课程章</label>
                <div class="col-sm-10">
                    <select name="chapterid" class="form-control">
                        <option value="">--请选择--</option>
                        {volist name="chapter" id="c"}
                        <option value="{$c.id}" {if condition="$a['chapterid'] eq $c['id']"}selected="selected"{/if}>{$c.title}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">学分</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="point" value="{$a.point}"
                           placeholder="请输入学分">
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="status" value="1" {if condition="$a['status'] eq 1"}checked{/if}> 启用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" {if condition="$a['status'] eq 0"}checked{/if}> 禁用
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="sort" class="col-sm-2 control-label">排序</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sort" value="{$a.sort}"
                           placeholder="请输入排序">
                </div>
            </div>

            <input type="hidden" name="rid" value="{$a.id}" />
            <input type="hidden" name="courseId" value="{$a.courseId}"/>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" onclick="dopost()" class="btn btn-default">修改</button>
            </div>
        </form>
    </div>


</div>
<div class="spinner" id="uploadmodel" style="display:none"><!--style="display:none"-->
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<div class="modal-background" id="uploadmodel1" style="display:none"></div>
{include file='manage/bottom'}
<script type="text/javascript" src="__MANAGE_JS__Webuploader/webuploader.js"></script>
<script type="text/javascript">
    var uploader='';
    $('select[name="mode"]').change(function () {
        alert(123);
        if($(this).val()=='4'||$(this).val()=='5'||$(this).val()=='7'){
            var exam = '';
            if($(this).val()==4){
                exam = 'test';
            }
            if($(this).val()==5){
                exam = 'exam';
            }
            if($(this).val()==7){
                exam = 'plan';
            }
            $.ajax({
                url:'{:url("ajax")}',
                type:"get",
                data:'id='+id+'&type='+exam,
                success:function(data){
                    var html_exam = '<div class="form-group">';
                    html_exam += '<label class="col-sm-2 control-label">试卷名称</label>';
                    html_exam += '<div class="col-sm-10">';
                    html_exam += '<select name="paperid" class="form-control">';
                    html_exam += '<option value="">--请选择--</option>';
                    $.each(data,function(i,v){
                        html_exam += '<option value="'+v.id+'">'+v.name+'</option>';
                    });
                    html_exam += '</select>';
                    html_exam += '</div>';
                    html_exam += '<input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="'+exam+'"/></div>';
                    $('#html_exam_media').html(html_exam);
                },
                error:function(e){
                    alert("添加信息错误");
                }
            });
            // var html_exam = '<div class="form-group">';
            // html_exam += '<label class="col-sm-2 control-label">试卷名称</label>';
            // html_exam += '<div class="col-sm-10">';
            // html_exam += '<select name="paperid" class="form-control">';
            // html_exam += '<option value="">--请选择--</option>';
            // html_exam += '{volist name="testpaper" id="t"}';
            // html_exam += '<option value="{$t.id}" {if condition="$t['id'] eq $a['paperid']"}selected="selected"{/if}>{$t.name}</option>';
            // html_exam += '{/volist}';
            // html_exam += '</select>';
            // html_exam += '</div>';
            // html_exam += '<input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="'+exam+'"/></div>';
            // $('#html_exam_media').html(html_exam)
        }else if($(this).val()=='6'){
            var html_url = ' <div class="form-group">\n' +
                '                <label class="col-sm-2 control-label">媒体链接</label>\n' +
                '                <div class="col-sm-10">\n' +
                '                        <input type="text" id="mediaSource" name="mediaSource" class="form-control" placeholder="媒体链接" value="{$a.mediaSource}"/>\n' +
                '                        <input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="url"/>\n' +
                '                </div>\n' +
                '            </div>';
            $('#html_exam_media').html(html_url)
        }else{

            var html_media = '<div class="form-group">\n' +
                '                <label class="col-sm-2 control-label">媒体文件</label>\n' +
                '                <div class="col-sm-10">\n' +
                '                    <div id="picker" class="mediaHtmlc">\n' +
                '                        <input type="file" name="media"/>\n' +
                '                        <input type="text" id="length" name="length" class="form-control" placeholder="媒体长度" value="{$a.length}"/>\n' +
                '                        <input type="text" id="mediaSource" name="mediaSource" class="form-control" placeholder="媒体资源" value="{$a.mediaSource}"/>\n' +
                '                        <input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="{$a.type}"/>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>';
            $('#html_exam_media').html(html_media)
            uploader = WebUploader.create({
                pick: '#picker',
                server: '{:url("upload")}?'+Math.random(),
                auto: true,
                chunked: true,
                swf: '__MANAGE_JS__Webuploader/Uploader.swf',
            }).on('fileQueued', function( file ) {
                $('#uploadmodel').show();
                $('#uploadmodel1').show();
                var start =  +new Date();
                // console.log(file);
                // 返回的是 promise 对象
                this.md5File(file, 0, 1 * 1024 * 1024)

                // 处理完成后触发
                    .then(function(ret) {
                        // console.log('md5:', ret);
                        // var end = +new Date();
                    });
            }).on('uploadSuccess', function (file, response) {
                console.log(response); //这里可以得到后台返回的数据
                var info = response.fileinfo;
                console.log(response.fileinfo);
                if(info != undefined) {
                    if (info.duration) {
                        $('#length').val(info.duration)
                    } else {
                        $('#length').val('')
                    }
                    $('#mediaSource').val(info.name)
                    $('#type').val(info.type)
                }else{
                    alert('上传出错');
                }
                $('#uploadmodel').hide();
                $('#uploadmodel1').hide();
            });
        }
    });


    $(function(){
        uploader = WebUploader.create({
            pick: '#picker',
            server: '{:url("upload")}?'+Math.random(),
            auto: true,
            chunked: true,
            swf: '__MANAGE_JS__Webuploader/Uploader.swf',
        }).on('fileQueued', function( file ) {
            $('#uploadmodel').show();
            $('#uploadmodel1').show();
            var start =  +new Date();
            // console.log(file);
            // 返回的是 promise 对象
            this.md5File(file, 0, 1 * 1024 * 1024)

            // 处理完成后触发
                .then(function(ret) {
                    // console.log('md5:', ret);
                    // var end = +new Date();
                });
        }).on('uploadSuccess', function (file, response) {
            console.log(response); //这里可以得到后台返回的数据
            var info = response.fileinfo;
            console.log(response.fileinfo);
            if(info != undefined) {
                if (info.duration) {
                    $('#length').val(info.duration)
                } else {
                    $('#length').val('')
                }
                $('#mediaSource').val(info.name)
                $('#type').val(info.type)
            }else{
                alert('上传出错');
            }
            $('#uploadmodel').hide();
            $('#uploadmodel1').hide();
        });
    });
</script>
<script type="text/javascript">
    function dopost(id){
        // $url=='add'?"{:url('add')}":"{:url('edit')}";
        $.ajax({
            url: "{:url('edit')}?"+Math.random(),
            type:"post",
            data:$('#form1').serialize(),
            success:function(data){

                if(data.code=='000'){

                    alert(data.info)
                    window.location.href = "{:url('index',array('cid'=>$cid))}"

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }
</script>
</body>
</html>
