<!DOCTYPE html>
<html>
{include file="manage/header" /}
<link href="__MANAGE_JS__datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="__MANAGE_CSS__model.min.css" rel="stylesheet">
<body>

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li role="presentation" style="font-size:16px;"><a href="{:url('course/index')}">>>返回列表</a></li>
    </ul>
    <div class="well clearfix">
        课程任务-修改
    </div>

    <div class="col-md-8">
        <form class="form-horizontal" role="form" id="form1" method="post" action="{:url('edit')}">
            <input type="hidden" name="isvideo" id="isvideo" {if condition="$a['mode'] eq 2"}value="1"{else}value="0"{/if}>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">任务名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" value="{$a.title}"
                           placeholder="请输入任务名称">
                </div>
            </div>
            <div class="form-group">
                <label for="isFree" class="col-sm-2 control-label">是否免费</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="isFree" class="isFree" value="1" {if condition="$a['isFree'] eq 1"}checked{/if}> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="isFree" class="isFree" value="0" {if condition="$a['isFree'] eq 0"}checked{/if}> 否
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="mode" class="col-sm-2 control-label">任务模式</label>
                <div class="col-sm-10">
                    <select name="mode" class="form-control">
                        <option value="">--请选择--</option>
                        {volist name="taskmode" id="t"}
                        <option value="{$t.id}" {if condition="$t['id'] eq $a['mode']"}selected="selected"{/if}>{$t.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div id="html_exam_media">
                {if condition="$a['type'] eq 'url'"}
                <div class="form-group">
                    <label class="col-sm-2 control-label">媒体链接</label>
                    <div class="col-sm-10">
                    <input type="text" id="mediaSource" name="mediaSource" class="form-control" placeholder="媒体链接" value="{$a.mediaSource}"/>
                    <input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="url"/>
                    </div>
                </div>
                {elseif condition="$a['type'] eq 'exam' || $a['type'] eq 'test' || $a['type'] eq 'plan'"}
                <div class="form-group">
                    <label class="col-sm-2 control-label">试卷名称</label>
                    <div class="col-sm-10">
                        <select name="paperid" class="form-control">
                            <option value="">--请选择--</option>
                            {volist name="testpaper" id="t"}
                            <option value="{$t.id}" {if condition="$t['id'] eq $a['paperid']"}selected="selected"{/if}>{$t.name}</option>
                            {/volist}
                        </select>
                    </div>
                    <input type="hidden" name="type" class="form-control" placeholder="类型" value="{$a.type}"/>
                </div>
                {else/}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">媒体文件</label>
                        <div class="col-sm-10">
                            <div id="picker" class="mediaHtmlc">
                                <input type="file" name="media"/>
                                <input type="text" id="length" name="length" class="form-control" placeholder="媒体长度" value="{$a.length}"/>
                                <input type="text" id="mediaSource" name="mediaSource" class="form-control" placeholder="媒体资源" value="{$a.mediaSource}"/>
                                <input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="{$a.type}"/>

                            </div>

                        </div>
                    </div>
                    {if condition="$a['mode'] eq 2"}
                        <div class="form-group">
                            <label for="mode" class="col-sm-2 control-label">教案</label>
                            <div class="col-sm-10" id="teachingplan">
                                <input type="file" value="">
                                <input type="text" name="teachingplan" id="teachmedia" class="form-control" placeholder="文件资源" value="{$a.teachingplan}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mode" class="col-sm-2 control-label">课件</label>
                            <div class="col-sm-10" id="courseware">
                                <input type="file" value="">
                                <input type="text" name="courseware" id="coursemedia" class="form-control" placeholder="文件资源"  value="{$a.courseware}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">是否验证</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="verify" value="1" {if condition="$a['verify'] eq 1"} checked {/if}> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="verify" value="0" {if condition="$a['verify'] neq 1"} checked {/if}> 否
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mode" class="col-sm-2 control-label">验证题目</label>
                                <div class="col-sm-10">
                                    <select name="question" id="question" class="form-control">
                                        <option value="">--请选择--</option>
                                        {volist name="verfiy" id="t"}
                                        <option value="{$t.id}" {if condition="$a['questionID'] eq $t['id']"} selected {/if}>{$t.stem}</option>
                                        {/volist}
                                    </select>
                                </div>
                        </div>
                    {/if}
                {/if}
            </div>
            <div class="form-group">
                <label for="maxPoint" class="col-sm-2 control-label">课程章</label>
                <div class="col-sm-10">
                    <select name="chapterid" class="form-control">
                        <option value="">--请选择--</option>
                        {volist name="chapter" id="c"}
                        <option value="{$c.id}" {if condition="$a['chapterid'] eq $c['id']"}selected="selected"{/if}>{$c.title}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">学分</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="point" value="{$a.point}"
                           placeholder="请输入学分">
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="status" value="1" {if condition="$a['status'] eq 1"}checked{/if}> 启用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" {if condition="$a['status'] eq 0"}checked{/if}> 禁用
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="sort" class="col-sm-2 control-label">排序</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sort" value="{$a.sort}"
                           placeholder="请输入排序">
                </div>
            </div>

            <input type="hidden" name="rid" value="{$a.id}" id="rid" />
            <input type="hidden" name="courseId" id="courseid" value="{$a.courseId}"/>
            <input type="hidden" id="paperid" value="{$a.paperid}"/>
            <input type="hidden" id="averify" value="{$a.verify}"/>
            <input type="hidden" id="questionids" value="{$a.questionID}"/>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" onclick="dopost()" class="btn btn-default">修改</button>
            </div>
        </form>
    </div>


</div>
<div id="uploadmodel" style="display:none; position: relative; width: 100%; height: 800px; z-index: 99999999999;"><!--style="display:none"-->

    <div style="background: rgba(0,0,0,0.3); width: 500px; height: 300px; position: absolute;
         z-index: 999;  top:-518px; left: 50%; margin-left: -250px;">
        <div style="width: 400px; height:30px; border: 1px solid #337ab7; border-radius: 100px; margin: 0 auto; margin-top: 120px;text-align: center; line-height: 30px; font-size: 18px; color: #fff;">
            <div id="prossa" style="width: 0px; height:0px; border-radius: 100px; background: #337ab7; ">

            </div>
        </div>
    </div>
</div>
{include file='manage/bottom'}
<script type="text/javascript" src="__MANAGE_JS__Webuploader/webuploader.js"></script>
<script type="text/javascript">
    var uploader='';
    $('select[name="mode"]').change(function () {
        var id=$('#courseid').val();
        var paperid=$('#paperid').val();
        if($(this).val()=='4'||$(this).val()=='5'||$(this).val()=='7'){
            var exam = '';
            if($(this).val()==4){
                exam = 'test';
            }
            if($(this).val()==5){
                exam = 'exam';
            }
            if($(this).val()==7){
                exam = 'plan';
            }
            $.ajax({
                url:'{:url("ajax")}',
                type:"get",
                data:'id='+id+'&type='+exam+'&paperid='+paperid,
                success:function(data){
                    console.log(paperid);
                    var html_exam = '<div class="form-group">';
                    html_exam += '<label class="col-sm-2 control-label">试卷名称</label>';
                    html_exam += '<div class="col-sm-10">';
                    html_exam += '<select name="paperid" class="form-control">';
                    html_exam += '<option value="">--请选择--</option>';
                    $.each(data,function(i,v){
                        if(v.id == paperid){
                            html_exam += '<option value="'+v.id+'" selected>'+v.name+'</option>';
                        }else{
                            html_exam += '<option value="'+v.id+'">'+v.name+'</option>';
                        }

                    });
                    html_exam += '</select>';
                    html_exam += '</div>';
                    html_exam += '<input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="'+exam+'"/></div>';
                    $('#html_exam_media').html(html_exam);
                },
                error:function(e){
                    alert("添加信息错误");
                }
            });
            $('#isvideo').val(0);
            // var html_exam = '<div class="form-group">';
            // html_exam += '<label class="col-sm-2 control-label">试卷名称</label>';
            // html_exam += '<div class="col-sm-10">';
            // html_exam += '<select name="paperid" class="form-control">';
            // html_exam += '<option value="">--请选择--</option>';
            // html_exam += '{volist name="testpaper" id="t"}';
            // html_exam += '<option value="{$t.id}" {if condition="$t['id'] eq $a['paperid']"}selected="selected"{/if}>{$t.name}</option>';
            // html_exam += '{/volist}';
            // html_exam += '</select>';
            // html_exam += '</div>';
            // html_exam += '<input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="'+exam+'"/></div>';
            // $('#html_exam_media').html(html_exam)
        }else if($(this).val()=='6'){
            var html_url = ' <div class="form-group">\n' +
                '                <label class="col-sm-2 control-label">媒体链接</label>\n' +
                '                <div class="col-sm-10">\n' +
                '                        <input type="text" id="mediaSource" name="mediaSource" class="form-control" placeholder="媒体链接" value="{$a.mediaSource}"/>\n' +
                '                        <input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="url"/>\n' +
                '                </div>\n' +
                '            </div>';
            $('#isvideo').val(0);
            $('#html_exam_media').html(html_url)
        }else {

            var html_media = '<div class="form-group">\n' +
                '                <label class="col-sm-2 control-label">媒体文件</label>\n' +
                '                <div class="col-sm-10">\n' +
                '                    <div id="picker" class="mediaHtmlc">\n' +
                '                        <input type="file" name="media"/>\n' +
                '                        <input type="text" id="length" name="length" class="form-control" placeholder="媒体长度" value="{$a.length}"/>\n' +
                '                        <input type="text" id="mediaSource" name="mediaSource" class="form-control" placeholder="媒体资源" value="{$a.mediaSource}"/>\n' +
                '                        <input type="hidden" id="type" name="type" class="form-control" placeholder="类型" value="{$a.type}"/>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>';
            if ($(this).val() == 2) {
                var verify = $('#averify').val();
                var questionid = $('#questionids').val();
                html_media += '  <div class="form-group">\n' +
                    '                 <label for="mode" class="col-sm-2 control-label">教案</label>\n' +
                    '                 <div class="col-sm-10" id="teachingplan">\n' +
                    '                    <input type="file" value="">\n' +
                    '                    <input type="text" name="teachingplan" id="teachmedia" class="form-control" placeholder="文件资源" value="{$a.teachingplan}">\n' +
                    '                 </div>\n' +
                    '              </div>';
                html_media += '  <div class="form-group">\n' +
                    '                 <label for="mode" class="col-sm-2 control-label">课件</label>\n' +
                    '                 <div class="col-sm-10" id="courseware">\n' +
                    '                    <input type="file" value="">\n' +
                    '                    <input type="text" name="courseware" id="coursemedia" class="form-control" placeholder="文件资源"  value="{$a.courseware}">\n' +
                    '                 </div>\n' +
                    '              </div>';
                html_media += ' <div class="form-group"><label for="status" class="col-sm-2 control-label">是否验证</label><div class="col-sm-10">';
                if (verify == 1) {
                    html_media += '<label class="radio-inline"><input type="radio" name="verify" value="1" checked> 是</label>';
                    html_media += '<label class="radio-inline"><input type="radio" name="verify" value="0"> 否</label>'
                } else {
                    html_media += '<label class="radio-inline"><input type="radio" name="verify" value="1"> 是</label>';
                    html_media += '<label class="radio-inline"><input type="radio" name="verify" value="0" checked> 否</label>'
                }
                html_media += '</div></div>';
                html_media += '  <div class="form-group">\n' +
                    '                            <label for="mode" class="col-sm-2 control-label">验证题目</label>\n' +
                    '                            <div class="col-sm-10">\n' +
                    '                                <select name="question" id="question" class="form-control">\n' +
                    '                                    <option value="">--请选择--</option>\n' +
                    '                                    {volist name="verfiy" id="t"}\n' +
                    '                                    <option value="{$t.id}">{$t.stem}</option>\n' +
                    '                                    {/volist}\n' +
                    '                                </select>\n' +
                    '                            </div>\n' +
                    '                        </div>'

                $('#isvideo').val(1);
            } else {
                $('#isvideo').val(0);
                $('#html_exam_media').html(html_media)
                uploader = WebUploader.create({
                    pick: '#picker',
                    server: '{:url("upload")}?' + Math.random(),
                    auto: true,
                    chunked: true,
                    swf: '__MANAGE_JS__Webuploader/Uploader.swf',
                }).on('fileQueued', function (file) {
                    $('#uploadmodel').show();
                    $('#uploadmodel1').show();
                    var start = +new Date();
                    // console.log(file);
                    // 返回的是 promise 对象
                    this.md5File(file, 0, 1 * 1024 * 1024)

                    // 处理完成后触发
                        .then(function (ret) {
                            // console.log('md5:', ret);
                            // var end = +new Date();
                        });
                }).on('uploadSuccess', function (file, response) {
                    console.log(response); //这里可以得到后台返回的数据
                    var info = response.fileinfo;
                    console.log(response.fileinfo);
                    if (info != undefined) {
                        if (info.duration) {
                            $('#length').val(info.duration)
                        } else {
                            $('#length').val('')
                        }
                        $('#mediaSource').val(info.name)
                        $('#type').val(info.type)
                    } else {
                        alert('上传出错');
                    }
                    $('#uploadmodel').hide();
                    $('#uploadmodel1').hide();
                    $('#prossa').css({'width':0,'height':'0px'}).text(0+'%');
                }).on('uploadProgress', function (file, percentage) {
                    console.log(percentage)
                    var nums = parseInt(percentage * 100);
                    $('#prossa').css({'width': percentage * 400, 'height': '30px'}).text(nums + '%');
                });
                uploader = WebUploader.create({
                    pick: '#teachingplan',
                    server: '{:url("upload")}?' + Math.random(),
                    auto: true,
                    chunked: true,
                    swf: '__MANAGE_JS__Webuploader/Uploader.swf',
                }).on('fileQueued', function (file) {
                    $('#uploadmodel').show();
                    $('#uploadmodel1').show();
                    var start = +new Date();
                    // console.log(file);
                    // 返回的是 promise 对象
                    this.md5File(file, 0, 1 * 1024 * 1024)

                    // 处理完成后触发
                        .then(function (ret) {
                            // console.log('md5:', ret);
                            // var end = +new Date();
                        });
                }).on('uploadSuccess', function (file, response) {
                    console.log(response); //这里可以得到后台返回的数据
                    var info = response.fileinfo;
                    console.log(response.fileinfo);
                    if (info != undefined) {

                        $('#teachmedia').val(info.name)
                    } else {
                        alert('上传出错');
                    }
                    $('#uploadmodel').hide();
                    $('#uploadmodel1').hide();
                    $('#prossa').css({'width':0,'height':'0px'}).text(0+'%');
                }).on('uploadProgress', function (file, percentage) {
                    console.log(percentage)
                    var nums = parseInt(percentage * 100);
                    $('#prossa').css({'width': percentage * 400, 'height': '30px'}).text(nums + '%');
                });
                uploader = WebUploader.create({
                    pick: '#courseware',
                    server: '{:url("upload")}?' + Math.random(),
                    auto: true,
                    chunked: true,
                    swf: '__MANAGE_JS__Webuploader/Uploader.swf',
                }).on('fileQueued', function (file) {
                    $('#uploadmodel').show();
                    $('#uploadmodel1').show();
                    var start = +new Date();
                    // console.log(file);
                    // 返回的是 promise 对象
                    this.md5File(file, 0, 1 * 1024 * 1024)

                    // 处理完成后触发
                        .then(function (ret) {
                            // console.log('md5:', ret);
                            // var end = +new Date();
                        });
                }).on('uploadSuccess', function (file, response) {
                    console.log(response); //这里可以得到后台返回的数据
                    var info = response.fileinfo;
                    console.log(response.fileinfo);
                    if (info != undefined) {

                        $('#coursemedia').val(info.name)
                    } else {
                        alert('上传出错');
                    }
                    $('#uploadmodel').hide();
                    $('#uploadmodel1').hide();
                    $('#prossa').css({'width':0,'height':'0px'}).text(0+'%');
                }).on('uploadProgress', function (file, percentage) {
                    console.log(percentage)
                    var nums = parseInt(percentage * 100);
                    $('#prossa').css({'width': percentage * 400, 'height': '30px'}).text(nums + '%');
                });
            }
        }
    });


    $(function(){
        uploader = WebUploader.create({
            pick: '#picker',
            server: '{:url("upload")}?'+Math.random(),
            auto: true,
            chunked: true,
            swf: '__MANAGE_JS__Webuploader/Uploader.swf',
        }).on('fileQueued', function( file ) {
            $('#uploadmodel').show();
            $('#uploadmodel1').show();
            var start =  +new Date();
            // console.log(file);
            // 返回的是 promise 对象
            this.md5File(file, 0, 1 * 1024 * 1024)

            // 处理完成后触发
                .then(function(ret) {
                    // console.log('md5:', ret);
                    // var end = +new Date();
                });
        }).on('uploadSuccess', function (file, response) {
            console.log(response); //这里可以得到后台返回的数据
            var info = response.fileinfo;
            console.log(response.fileinfo);
            if(info != undefined) {
                if (info.duration) {
                    $('#length').val(info.duration)
                } else {
                    $('#length').val('')
                }
                $('#mediaSource').val(info.name)
                $('#type').val(info.type)
            }else{
                alert('上传出错');
            }
            $('#uploadmodel').hide();
            $('#uploadmodel1').hide();
            $('#prossa').css({'width':0,'height':'0px'}).text(0+'%');
        }).on('uploadProgress',function (file,percentage) {
            console.log(percentage)
            var nums = parseInt(percentage*100);
            $('#prossa').css({'width':percentage*400,'height':'30px'}).text(nums+'%');
        });
        uploader = WebUploader.create({
            pick: '#teachingplan',
            server: '{:url("upload")}?'+Math.random(),
            auto: true,
            chunked: true,
            swf: '__MANAGE_JS__Webuploader/Uploader.swf',
        }).on('fileQueued', function( file ) {
            $('#uploadmodel').show();
            $('#uploadmodel1').show();
            var start =  +new Date();
            // console.log(file);
            // 返回的是 promise 对象
            this.md5File(file, 0, 1 * 1024 * 1024)

            // 处理完成后触发
                .then(function(ret) {
                    // console.log('md5:', ret);
                    // var end = +new Date();
                });
        }).on('uploadSuccess', function (file, response) {
            console.log(response); //这里可以得到后台返回的数据
            var info = response.fileinfo;
            console.log(response.fileinfo);
            if(info != undefined) {

                $('#teachmedia').val(info.name)
            }else{
                alert('上传出错');
            }
            $('#uploadmodel').hide();
            $('#uploadmodel1').hide();
            $('#prossa').css({'width':0,'height':'0px'}).text(0+'%');
        }).on('uploadProgress',function (file,percentage) {
            console.log(percentage)
            var nums = parseInt(percentage*100);
            $('#prossa').css({'width':percentage*400,'height':'30px'}).text(nums+'%');
        });
        uploader = WebUploader.create({
            pick: '#courseware',
            server: '{:url("upload")}?'+Math.random(),
            auto: true,
            chunked: true,
            swf: '__MANAGE_JS__Webuploader/Uploader.swf',
        }).on('fileQueued', function( file ) {
            $('#uploadmodel').show();
            $('#uploadmodel1').show();
            var start =  +new Date();
            // console.log(file);
            // 返回的是 promise 对象
            this.md5File(file, 0, 1 * 1024 * 1024)

            // 处理完成后触发
                .then(function(ret) {
                    // console.log('md5:', ret);
                    // var end = +new Date();
                });
        }).on('uploadSuccess', function (file, response) {
            console.log(response); //这里可以得到后台返回的数据
            var info = response.fileinfo;
            console.log(response.fileinfo);
            if(info != undefined) {

                $('#coursemedia').val(info.name)
            }else{
                alert('上传出错');
            }
            $('#uploadmodel').hide();
            $('#uploadmodel1').hide();
            $('#prossa').css({'width':0,'height':'0px'}).text(0+'%');
        }).on('uploadProgress',function (file,percentage) {
            console.log(percentage)
            var nums = parseInt(percentage*100);
            $('#prossa').css({'width':percentage*400,'height':'30px'}).text(nums+'%');
        });
    });
</script>
<script type="text/javascript">
    function dopost(id){
        // $url=='add'?"{:url('add')}":"{:url('edit')}";
        $.ajax({
            url: "{:url('edit')}?"+Math.random(),
            type:"post",
            data:$('#form1').serialize(),
            success:function(data){

                if(data.code=='000'){

                    alert(data.info)
                    window.location.href = "{:url('index',array('cid'=>$cid))}"

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }
</script>
</body>
</html>
