<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>任务学习 - 豫化在线课堂 - 豫化在线课堂 - Powered By EduSoho</title>
    <meta name="keywords" content="豫化在线网络课堂,在线教育,在线教学,开源教学软件">
    <meta name="description" content="豫化在线是面向个人、学校、培训机构及企业用户的友好、开源、高性价比的在线教育建站系统。Edusoho提供在线教学、网校管理、云视频点播、直播、移APP等功能，为使教育机构能够以最低成本开展在线教学活动，EduSoho也提供云服务器，云视频、云直播和移动APP定制服务，并配备相应的技术支持服务，让客户搭建自有品牌网校和搭积木一样简单。EduSoho产品及服务大大降低了传统教育培训机构进入在线教育行业的门槛。与其他在线教育产品相比，EduSoho具有完整，高自由度，高性价比的产品体验，使用其搭建在线教学网站是快速进入在线教育的最佳选择方案。EduSoho开源并免费提供给非商业用途用户使用，用户可在3分钟内搭建功能完备的在线教育网站。">
    <meta content="Taq3lq_yFPH-oGhg7Lb3oe-fXTd-dWZ6b16j4RFICnw" name="csrf-token">
    <meta content="1" name="is-login">
    <meta content="0" name="is-open">
    <link href="__CSS__vendor.css" rel="stylesheet">
    <link href="__CSS__app-bootstrap.css" rel="stylesheet">
    <link href="__CSS__main.css" rel="stylesheet">
    <style>.cke{visibility:hidden;}</style>
  </head>
  <body class="es-main-default es-nav-default ">  
    <div class="container ">
      <div class="row">
        <div class="col-md-9 prevent-copy">
          <div class="testpaper-body js-testpaper-body mt20 " data-copy="0">
              <div class="es-section testpaper-heading js-testpaper-heading">
                <div class="testpaper-titlebar clearfix">
                  <h1 class="testpaper-title">入学考试 <br>
                    <small class="text-sm"> 答题人：admin</small>
                  </h1>
                  <div class="testpaper-status">
                      <div class="label label-success">批阅完成</div>
                  </div>
                </div>                           
                <div class="media testpaper-result">
                  <div class="testpaper-result-total">
                    <div class="well">
                      <div class="testpaper-result-total-score">
                              {$myscore}
                            <small>分</small>
                      </div>
                      <small class="color-gray">总分{$list.score}分</small>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-condensed testpaper-result-table">
                        <thead>
                          <tr>
                            <th></th>
                            <th>单选题 <small class="color-gray">(1道)</small></th>
                            <th>多选题 <small class="color-gray">(1道)</small></th>
                            <th>判断题 <small class="color-gray">(1道)</small></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>答对</th>
                            <td><span class="color-success">{$title.sign.signtrue} <small>道</small></span></td>
                            <td><span class="color-success">{$title.choice.choicetrue}<small>道</small></span></td>
                            <td><span class="color-success">{$title.determine.determinetrue} <small>道</small></span></td>
                          </tr>
                          <tr>
                            <th>答错</th>
                            <td><span class="color-danger">{$title.sign.signflase}<small>道</small></span></td>
                            <td><span class="color-danger">{$title.choice.choiceflase}<small>道</small></span></td>
                            <td><span class="color-danger">{$title.determine.determineflase} <small>道</small></span></td>
                          </tr>
                          <tr>
                            <th>未答</th>
                            <td><span class="color-gray">{$title.sign.signnone} <small>道</small></span></td>
                            <td><span class="color-gray">{$title.choice.choicenone} <small>道</small></span></td>
                            <td><span class="color-gray">{$title.determine.determinenone} <small>道</small></span></td>
                          </tr>
                          <tr>
                            <th>得分</th>
                            <td><span class="text-score">{$title.sign.signscore} <small>分</small></span></td>
                            <td><span class="text-score">{$title.choice.choicescore} <small>分</small></span></td>
                            <td><span class="text-score">{$title.determine.determinescore} <small>分</small></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                {if condition="$myscore egt $list['passedScore']"}
                <div class="alert alert-success">恭喜您已通过本次考试。</div>
                {else}
                <div class="alert alert-danger">很遗憾您未通过本次考试！</div>
                {/if}
              </div>
              <form id="teacherCheckForm" autocomplete="off">
                {volist name='info' id='vo'}
                {if condition='$key eq "single"'}
                {volist name='$vo' id="single"}
                <div class="panel-heading">
                  <strong class="">单选题</strong>
                  <small class="color-gray">
                    共{$num.0.num}题，共{$num.0.score}分          </small>
                </div>
                <div class="panel panel-default js-testpaper-question-block">
                    <div class="testpaper-question testpaper-question-choice  js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question35">
                      <div class="testpaper-question-body">
                        <div class="testpaper-question-stem-wrap clearfix">
                          <div class="testpaper-question-seq-wrap">
                            <div class="testpaper-question-seq">1</div>
                            <div class="testpaper-question-score">{$single.score}分</div>
                          </div>
                          <div class="testpaper-question-stem">
                            <p>{$single.name}</p><br>
                          </div>
                        </div>
                        <ul class="testpaper-question-choices js-testpaper-question-list">
                          {volist name="$single.question" id="question"}
                          <li {if condition="in_array($key,$single.answer)"}class="testpaper-question-choice-right"{/if}><span class="testpaper-question-choice-index">{$status[$key]}.</span> <p>{$question}</p></li>
                          {/volist}
                        </ul>
                      </div>
                      <div class="testpaper-question-footer clearfix">
                        <div class="testpaper-question-result">正确答案是 <strong class="color-success">{$status[$single.answer.0]}</strong>，{if condition="$single['status'] eq 1 || $single['status'] eq 2"}回答正确{else}回答错误{/if}</div>

                      </div>
                      <div class="testpaper-question-analysis js-testpaper-question-analysis" style="display: none;">
                        <div class="well mb0">
                        无解析
                        </div>
                      </div>
                    </div>
                </div>
                {/volist}
                {/if}
                {if condition='$key eq "choice"'}
                {volist name='$vo' id="choice"}
                <div class="panel panel-default js-testpaper-question-block" id="testpaper-questions-choice">
                  <div class="panel-heading">
                    <strong class="">多选题</strong>
                    <small class="color-gray">
                      共{$num.1.num}题，共{$num.1.score}分          </small>
                  </div>
                  <div class="panel-body">
                    <div class="testpaper-question testpaper-question-choice  js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question36">
                      <div class="testpaper-question-body">
                        <div class="testpaper-question-stem-wrap clearfix">
                          <div class="testpaper-question-seq-wrap">
                            <div class="testpaper-question-seq">2</div>
                            <div class="testpaper-question-score">{$choice.score}分</div>
                          </div>
                          <div class="testpaper-question-stem">
                            <p>{$choice.name}</p><br>
                          </div>
                        </div>
                        <ul class="testpaper-question-choices js-testpaper-question-list">
                          {volist name="$choice.question" id="question"}
                          <li {if condition="in_array($key,$choice.answer)"}class="testpaper-question-choice-right"{/if}><span class="testpaper-question-choice-index">{$status[$key]}.</span> <p>{$question}</p></li>
                          {/volist}
                        </ul>
                      </div>
                      <div class="testpaper-question-footer clearfix">
                          <div class="testpaper-question-result">
                            正确答案是 <strong class="color-success">
                            {volist name="$choice.answer" id="answer"}
                              {$status[$answer]},
                            {/volist}
                          </strong>
                            {if condition="$choice['status'] eq 1 || $choice['status'] eq 2"}回答正确{else}回答错误{/if}
                          </div>

                      </div>
                      <div class="testpaper-question-analysis js-testpaper-question-analysis" style="display: none;">
                        <div class="well mb0">
                        无解析
                        </div>
                      </div>
                    </div>                                            
                  </div>
                </div>
                {/volist}
                {/if}
                {if condition='$key eq "determine"'}
                {volist name='$vo' id="determine"}
                <div class="panel panel-default js-testpaper-question-block" id="testpaper-questions-essay">
                  <div class="panel-heading">
                    <strong class="">判断题</strong>
                    <small class="color-gray">
                      共{$num.2.num}题，共{$num.2.score}分          </small>
                  </div>
                  <div class="panel-body">
                    <div class="testpaper-question testpaper-question-choice  js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question35">
                      <div class="testpaper-question-body">
                        <div class="testpaper-question-stem-wrap clearfix">
                          <div class="testpaper-question-seq-wrap">
                            <div class="testpaper-question-seq">1</div>
                            <div class="testpaper-question-score">{$determine.score}分</div>
                          </div>
                          <div class="testpaper-question-stem">
                            <p>{$determine.name}</p><br>
                          </div>
                        </div>
                        <ul class="testpaper-question-choices js-testpaper-question-list">
                          <li {if condition="in_array(0,$determine.answer)"}class="testpaper-question-choice-right"{/if}><span class="testpaper-question-choice-index">1.</span> <p>正确</p></li>
                          <li {if condition="in_array(1,$determine.answer)"}class="testpaper-question-choice-right"{/if}><span class="testpaper-question-choice-index">2.</span> <p>错误</p></li>
                        </ul>
                      </div>
                      <div class="testpaper-question-footer clearfix">
                        <div class="testpaper-question-result">正确答案是 <strong class="color-success">{if condition="$determine['answer'][0] eq 1"}"错误"{else}"正确"{/if}</strong>，{if condition="$determine['status'] eq 1 || $determine['status'] eq 2"}回答正确{else}回答错误{/if}</div>
                      </div>
                      <div class="testpaper-question-analysis js-testpaper-question-analysis" style="display: none;">
                        <div class="well mb0">
                          无解析
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {/volist}
                {/if}
                <input type="hidden" name="_csrf_token" value="Taq3lq_yFPH-oGhg7Lb3oe-fXTd-dWZ6b16j4RFICnw">
                {/volist}
              </form>

          </div>
        </div>

      </div>
    </div>
    <script src="__EXAMINATION_JS__index.js"></script>
    <script src="__EXAMINATION_JS__vendor.js"></script>
    <script src="__EXAMINATION_JS__common.js"></script>
    <script src="__EXAMINATION_JS__main.js"></script>
  </body>
</html>