<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>入学考试</title>
    <meta name="keywords" content="豫化在线网络课堂,在线教育,在线教学,开源教学软件">
    <meta name="description" content="豫化在线是面向个人、学校、培训机构及企业用户的友好、开源、高性价比的在线教育建站系统。Edusoho提供在线教学、网校管理、云视频点播、直播、移APP等功能，为使教育机构能够以最低成本开展在线教学活动，EduSoho也提供云服务器，云视频、云直播和移动APP定制服务，并配备相应的技术支持服务，让客户搭建自有品牌网校和搭积木一样简单。EduSoho产品及服务大大降低了传统教育培训机构进入在线教育行业的门槛。与其他在线教育产品相比，EduSoho具有完整，高自由度，高性价比的产品体验，使用其搭建在线教学网站是快速进入在线教育的最佳选择方案。EduSoho开源并免费提供给非商业用途用户使用，用户可在3分钟内搭建功能完备的在线教育网站。">
    <meta content="25FZZOw7upct56pv0pJlOJLBPAjUnBiZsOCVXgfbF7Q" name="csrf-token">
    <meta content="1" name="is-login">
    <meta content="0" name="is-open">
      <link href="__CSS__vendor.css" rel="stylesheet">
      <link href="__CSS__app-bootstrap.css" rel="stylesheet">
      <link href="__CSS__main.css" rel="stylesheet">
  </head>
  <body class="es-main-default es-nav-default task-testpaper-body-iframe js-task-testpaper-body js-task-testpaper-body-iframe"> 
    <div class="iframe-parent-content">
      <div class="container ">
          <div class="row">
            <div class="col-md-9 prevent-copy">
              <div class="testpaper-body js-testpaper-body mt20 " data-copy="0">
                  <div class="es-section testpaper-heading js-testpaper-heading">
                    <div class="testpaper-titlebar clearfix">
                      <h1 class="testpaper-title">
                        入学考试 <br>
                        <small class="text-sm">
                                                </small>
                      </h1>
                      <div class="testpaper-status">
                                                <div class="label label-primary">答题中</div>
                                            </div>
                    </div>
                    <div class="testpaper-description"><p></p></div>
                  </div>
                  <form id="teacherCheckForm" autocomplete="off" action="{:url('examend')}" method="post">
                    <input type="hidden" name="courseid" value="{$courseid}">
                    {if condition="!empty($num['0'])"}
                      <div class="panel panel-default js-testpaper-question-block" id="testpaper-questions-single_choice">
                      <div class="panel-heading">
                        <strong class="">单选题</strong>
                        <small class="color-gray">
                          共{$num.0.num}题，共{$num.0.score}分          </small>
                      </div>
                      {volist name="info" id="sign"}
                        {if condition='$key eq 0'}
                            <input type="hidden" name="paperid" value="{$sign.paperID}">
                            <input type="hidden" name="total" value="{$sign.total}">
                            <input type="hidden" name="passedscore" value="{$sign.passedScore}">
                        {/if}
                        {if condition='$sign.questiontype eq "single_choice"'}
                          <input type="hidden" name="data[sign][question][{$key}]" value="{$sign.questionid}">
                          <div class="panel-body">
                            <div class="testpaper-question testpaper-question-choice  js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question35">
                              <div class="testpaper-question-body">
                                <div class="testpaper-question-stem-wrap clearfix">
                                  <div class="testpaper-question-seq-wrap">
                                    <div class="testpaper-question-seq">
                                      {$key+1}
                                    </div>
                                          <div class="testpaper-question-score">
                                        {$sign.score}分
                                      </div>
                                  </div>
                                  <div class="testpaper-question-stem">
                                    <p>{$sign.stem}</p><br>
                                  </div>
                                </div>
                                <ul class="testpaper-question-choices js-testpaper-question-list">
                                    {volist name="$sign.question" id="vo"}
                                    <li class=""><span class="testpaper-question-choice-index">{$status[$key]}.</span> <p>{$vo}</p></li>
                                    {/volist}
                                </ul>
                              </div>
                              <div class="testpaper-question-footer clearfix">
                                <div class="testpaper-question-choice-inputs js-testpaper-question-label">
                                    {volist name="$sign.question" id="vo"}
                                    <label class="radio-inline">
                                      <input type="radio" data-type="single_choice" name="data[sign][answer][{$sign.id}]" value="{$key}">
                                        {$status[$key]}
                                    </label>
                                    {/volist}
                                </div>
                              </div>
                            </div>
                          </div>
                          {/if}
                      {/volist}
                    </div>
                    {/if}
                    {if condition="!empty($num['1'])"}
                      <div class="panel panel-default js-testpaper-question-block" id="testpaper-questions-choice">
                        <div class="panel-heading">
                          <strong class="">多选题</strong>
                          <small class="color-gray">
                              共{$num.1.num}题，共{$num.1.score}分          </small>
                        </div>
                        {volist name="info" id="choice"}
                        {if condition='$choice.questiontype eq "choice"'}
                        <input type="hidden" name="data[choice][question][{$key}]" value="{$choice.questionid}">
                        <div class="panel-body">
                          <div class="testpaper-question testpaper-question-choice  js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question36">
                              <div class="testpaper-question-body">
                                <div class="testpaper-question-stem-wrap clearfix">
                                  <div class="testpaper-question-seq-wrap">
                                    <div class="testpaper-question-seq">
                                      {$key+1}
                                    </div>
                                          <div class="testpaper-question-score">
                                        {$choice.score}分
                                      </div>
                                  </div>
                                  <div class="testpaper-question-stem">
                                            <p>{$choice.stem}</p><br>
                                  </div>
                                </div>
                                <ul class="testpaper-question-choices js-testpaper-question-list">
                                    {volist name="$choice.question" id="vo"}
                                    <li class=""><span class="testpaper-question-choice-index">{$status[$key]}.</span> <p>{$vo}</p></li>
                                    {/volist}
                                </ul>
                              </div>
                              <div class="testpaper-question-footer  clearfix">
                                <div class="testpaper-question-choice-inputs js-testpaper-question-label">
                                    {volist name="$choice.question" id="vo"}
                                    <label class="checkbox-inline ">
                                      <input type="checkbox" data-type="choice" name="data[choice][answer][{$choice.id}][{$key}]" value="{$key}">
                                        {$status[$key]}
                                    </label>
                                    {/volist}
                                            

                                </div>
                              </div>
                          </div>
                        </div>
                        {/if}
                        {/volist}
                      </div>
                    {/if}
                    {if condition="!empty($num['2'])"}
                      <div class="panel panel-default js-testpaper-question-block" id="testpaper-questions-single_choice">
                          <div class="panel-heading">
                              <strong class="">判断</strong>
                              <small class="color-gray">
                                  共{$num.2.num}题，共{$num.2.score}分          </small>
                          </div>
                          {volist name="info" id="determine"}
                          {if condition='$determine.questiontype eq "determine"'}
                          <input type="hidden" name="data[determine][question][{$key}]" value="{$determine.questionid}">
                          <div class="panel-body">
                              <div class="testpaper-question testpaper-question-choice  js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question35">
                                  <div class="testpaper-question-body">
                                      <div class="testpaper-question-stem-wrap clearfix">
                                          <div class="testpaper-question-seq-wrap">
                                              <div class="testpaper-question-seq">
                                                  {$key+1}
                                              </div>
                                              <div class="testpaper-question-score">
                                                  {$determine.score}分
                                              </div>
                                          </div>
                                          <div class="testpaper-question-stem">
                                              <p>{$determine.stem}</p><br>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="testpaper-question-footer clearfix">
                                      <div class="testpaper-question-choice-inputs js-testpaper-question-label">
                                          <label class="radio-inline">
                                              <input type="radio" data-type="single_choice" name="data[determine][answer][{$determine.id}]" value="0">
                                              正确
                                          </label>

                                          <label class="radio-inline">
                                              <input type="radio" data-type="single_choice" name="data[determine][answer][{$determine.id}]" value="1">
                                              错误
                                          </label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {/if}
                          {/volist}
                      </div>
                    {/if}
                    {if condition="!empty($num['2'])"}
                      <div class="panel panel-default js-testpaper-question-block" id="testpaper-questions-essay">
                          <div class="panel-heading">
                            <strong class="">问答题</strong>
                            <small class="color-gray">
                                共{$num.3.num}题，共{$num.3.score}分           </small>
                          </div>
                          {volist name="info" id="essay"}
                          {if condition='$essay.questiontype eq "essay"'}
                          <input type="hidden" name="data[essay][question][{$key}]" value="{$essay.questionid}">
                          <div class="panel-body">
                            <div class="testpaper-question testpaper-question-essay js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question37">
                              <div class="testpaper-question-body">
                                <div class="testpaper-question-stem-wrap clearfix">
                                    <div class="testpaper-question-seq-wrap">
                                      <div class="testpaper-question-seq">
                                        {$key+1}
                                      </div>
                                            <div class="testpaper-question-score">
                                          {$essay.score}分
                                        </div>
                                    </div>
                                    <div class="testpaper-question-stem">
                                              <p><strong>{$essay.stem}</strong></p><br>
                                    </div>
                                </div>
                              </div>
                              <div class="testpaper-question-footer clearfix">
                                <div class="testpaper-question-essay-inputs" data-role="js-answer-div-37">
                                  <textarea class="form-control essay-input-short" name="data[essay][answer][{$essay.id}]" rows="1" style="overflow:hidden;line-height:20px;"></textarea>
                                  <textarea id="question-input-long-37" class="form-control essay-input-long" data-type="essay" name="37" style="display:none;" ></textarea>
                                  <br>
                                </div>
                              </div>
                            </div>
                          </div>
                          {/if}
                          {/volist}
                        </div>
                    {/if}
                    <input type="hidden" name="_csrf_token" value="25FZZOw7upct56pv0pJlOJLBPAjUnBiZsOCVXgfbF7Q">
                  </form>
              </div>
              <div class="text-right" style="margin-bottom:20px;">
                <input type="hidden" data-url="/testpaper/result/14/suspend" data-role="test-suspend">
                <button class="btn btn-primary do-test" id="finishPaper" data-ajax="/testpaper/result/14/submit" data-toggle="modal" data-target="#testpaper-finished-dialog">马上交卷</button>
            </div>
            </div>
           </div>
          <div id="testpaper-finished-dialog" class="modal in" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body task-state-modal">
                  <div class="title font-blod">
                    <i class="es-icon es-icon-zanting1 color-warning"></i>
                    确认交卷
                  </div>
                  <div class="content">
                    <div class="text-16">
                      您真的要交卷吗？
                    </div>
                  </div>
                  <div class="text-right mt20">
                    <a href="javascript:;" class="btn btn-link" data-dismiss="modal">取消</a>
                                        <button id="save" class="btn btn-primary" id="testpaper-finish-btn" data-loading-text="正在交卷, 请稍等..." data-role="paper-submit" data-url="/testpaper/result/14/finish" data-goto="/testpaper/result/14/show">
                      确认交卷</button>
                                    </div>
                </div>
              </div>
            </div>
          </div>
          <div id="time-finish-dialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body task-state-modal">
                  <div class="title font-blod">
                    <i class="es-icon es-icon-zanting1 color-warning"></i>考试结束
                  </div>
                  <div class="content">
                    <div class="text-16">
                      考试已结束，您的试卷已提交，请点击下面的按钮查看结果！
                    </div>
                  </div>
                  <div class="text-right mt20">
                                        <a href="http://www.hnhgjx.cn:1700/testpaper/result/14/show" class="btn btn-info">查看结果</a>
                                      
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="time-pause-dialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" style="display: none;">
              <div class="modal-content">
                <div class="modal-body task-state-modal">
                  <div class="title font-blod">
                    <i class="es-icon es-icon-zanting1 color-warning"></i>暂停
                  </div>
                  <div class="content">
                    <div class="text-16">
                      考试已暂停，请尽快回来哦！
                    </div>
                  </div>
                  <div class="text-right mt20">
                    <a class="btn btn-primary js-btn-resume" href="javascript:;">继续考试</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <input type="hidden" name="testSuspend" data-url="/testpaper/result/14/suspend">
    <div id="login-modal" class="modal" data-url="/login/ajax"></div>
    <div id="modal" class="modal"></div>
    <div id="attachment-modal" class="modal"></div>

    <script src="__EXAMINATION_JS__index.js"></script>
    <script src="__EXAMINATION_JS__vendor.js"></script>
    <script src="__EXAMINATION_JS__common.js"></script>
    <script src="__EXAMINATION_JS__main.js"></script>
    <script src="__MANAGE_JS__jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#save").click(function(){
                // var val=$('input:radio[name="sex"]:checked').val();
                // if(val==null){
                //     alert("什么也没选中!");
                //     return false;
                // }
                // else{
                //     alert(val);
                // }
                // var list= $('input:radio[name="list"]:checked').val();
                // if(list==null){
                //     alert("请选中一个!");
                //     return false;
                // }
                // else{
                //     alert(list);
                // }
                $('#teacherCheckForm').submit();
            });
        });
    </script>
  </body>
</html>