<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>任务学习 - 豫化在线课堂 - 豫化在线课堂 - Powered By EduSoho</title>
    <meta name="keywords" content="豫化在线网络课堂,在线教育,在线教学,开源教学软件">
    <meta name="description" content="豫化在线是面向个人、学校、培训机构及企业用户的友好、开源、高性价比的在线教育建站系统。Edusoho提供在线教学、网校管理、云视频点播、直播、移APP等功能，为使教育机构能够以最低成本开展在线教学活动，EduSoho也提供云服务器，云视频、云直播和移动APP定制服务，并配备相应的技术支持服务，让客户搭建自有品牌网校和搭积木一样简单。EduSoho产品及服务大大降低了传统教育培训机构进入在线教育行业的门槛。与其他在线教育产品相比，EduSoho具有完整，高自由度，高性价比的产品体验，使用其搭建在线教学网站是快速进入在线教育的最佳选择方案。EduSoho开源并免费提供给非商业用途用户使用，用户可在3分钟内搭建功能完备的在线教育网站。">
    <meta content="Taq3lq_yFPH-oGhg7Lb3oe-fXTd-dWZ6b16j4RFICnw" name="csrf-token">
    <meta content="1" name="is-login">
    <meta content="0" name="is-open">
    <link href="__CSS__vendor.css" rel="stylesheet">
    <link href="__CSS__app-bootstrap.css" rel="stylesheet">
    <link href="__CSS__main.css" rel="stylesheet">
    <style>.cke{visibility:hidden;}</style>
  </head>
  <body class="es-main-default es-nav-default ">  
    <div class="container ">
      <div class="row">
        <div class="col-md-9 prevent-copy">
          <div class="testpaper-body js-testpaper-body mt20 " data-copy="0">
              <div class="es-section testpaper-heading js-testpaper-heading">
                <div class="testpaper-titlebar clearfix">
                  <h1 class="testpaper-title">入学考试 <br>
                    <small class="text-sm"> 答题人：admin交卷时间：2018-1-23 10:02 用时：33秒</small>
                  </h1>
                  <div class="testpaper-status">
                      <div class="label label-success">批阅完成</div>
                  </div>
                </div>                           
                <div class="media testpaper-result">
                  <div class="testpaper-result-total">
                    <div class="well">
                      <div class="testpaper-result-total-score">
                              5.0
                            <small>分</small>
                      </div>
                      <small class="color-gray">总分6.0分</small>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-condensed testpaper-result-table">
                        <thead>
                          <tr>
                            <th></th>
                            <th>单选题 <small class="color-gray">(1道)</small></th>
                            <th>多选题 <small class="color-gray">(1道)</small></th>
                            <th>问答题 <small class="color-gray">(1道)</small></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>答对</th>
                            <td><span class="color-success">1 <small>道</small></span></td>
                            <td><span class="color-success">1 <small>道</small></span></td>
                            <td><span class="color-success">0 <small>道</small></span></td>
                          </tr>
                          <tr>
                            <th>答错</th>
                            <td><span class="color-danger">0<small>道</small></span></td>
                            <td><span class="color-danger">0<small>道</small></span></td>
                            <td><span class="color-danger">1 <small>道</small></span></td>
                          </tr>
                          <tr>
                            <th>未答</th>
                            <td><span class="color-gray">0 <small>道</small></span></td>
                            <td><span class="color-gray">0 <small>道</small></span></td>
                            <td><span class="color-gray">0 <small>道</small></span></td>
                          </tr>
                          <tr>
                            <th>得分</th>
                            <td><span class="text-score">2 <small>分</small></span></td>
                            <td><span class="text-score">2 <small>分</small></span></td>
                            <td><span class="text-score">1 <small>分</small></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="alert alert-success">
                  <div class=""><strong>评语：</strong></div>
                  <div class="mtm">继续努力，继续进步！</div>
                </div>
                <div class="alert alert-success">恭喜您已通过本次考试。</div>
              </div>
              <form id="teacherCheckForm" autocomplete="off">
                <div class="panel-heading">
                  <strong class="">单选题</strong>
                  <small class="color-gray">
                    共1题，共2分          </small>
                </div>
                <div class="panel-body">
                    <div class="testpaper-question testpaper-question-choice  js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question35">
                      <div class="testpaper-question-body">
                        <div class="testpaper-question-stem-wrap clearfix">
                          <div class="testpaper-question-seq-wrap">
                            <div class="testpaper-question-seq">1</div>
                            <div class="testpaper-question-score">2.0分</div>
                          </div>
                          <div class="testpaper-question-stem">
                            <p>选出下列描述中正确的一项</p><br>
                          </div>
                        </div>
                        <ul class="testpaper-question-choices js-testpaper-question-list">          
                          <li class=""><span class="testpaper-question-choice-index">A.</span> <p>”诗佛“李贺</p></li>                             
                          <li class=""><span class="testpaper-question-choice-index">B.</span> <p>”诗圣“李白</p></li>                             
                          <li class="testpaper-question-choice-right"><span class="testpaper-question-choice-index">C.</span> <p>”诗魔“白居易</p></li>                                                                 
                          <li class=""><span class="testpaper-question-choice-index">D.</span> <p>“诗狂”李白</p></li>
                        </ul>
                      </div>
                      <div class="testpaper-question-footer clearfix">
                        <div class="testpaper-question-result">正确答案是 <strong class="color-success">C</strong>，回答正确</div>
                        <div class="testpaper-question-actions pull-right mts">
                          <a class="link-gray js-favorite " data-url="/my/question/35/favorite" data-target-type="testpaper" data-target-id="21" data-question-id="35">
                            <span class="glyphicon glyphicon-star-empty"></span>
                            收藏
                          </a>
                          <a class="link-gray js-favorite  hidden " data-url="/my/question/unfavorite/35" data-target-type="testpaper" data-target-id="21" data-question-id="35">
                            <span class="glyphicon glyphicon-star"></span>
                            取消收藏
                          </a>
                        </div>
                      </div>
                      <div class="testpaper-question-analysis js-testpaper-question-analysis" style="display: none;">
                        <div class="well mb0">
                        无解析
                        </div>
                      </div>
                    </div>
                </div>
                <div class="panel panel-default js-testpaper-question-block" id="testpaper-questions-choice">
                  <div class="panel-heading">
                    <strong class="">多选题</strong>
                    <small class="color-gray">
                      共1题，共2分          </small>
                  </div>
                  <div class="panel-body">
                    <div class="testpaper-question testpaper-question-choice  js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question36">
                      <div class="testpaper-question-body">
                        <div class="testpaper-question-stem-wrap clearfix">
                          <div class="testpaper-question-seq-wrap">
                            <div class="testpaper-question-seq">2</div>
                            <div class="testpaper-question-score">2.0分</div>
                          </div>
                          <div class="testpaper-question-stem">
                            <p>下列属于蜀汉五虎上将的</p><br>
                          </div>
                        </div>
                        <ul class="testpaper-question-choices js-testpaper-question-list">            
                          <li class="testpaper-question-choice-right"><span class="testpaper-question-choice-index">A.</span> <p>黄忠</p></li>                                                                  
                          <li class="testpaper-question-choice-right"><span class="testpaper-question-choice-index">B.</span> <p>张飞</p></li>                                                                
                          <li class=""><span class="testpaper-question-choice-index">C.</span> <p>诸葛亮</p></li>                            
                          <li class=""><span class="testpaper-question-choice-index">D.</span> <p>许褚</p></li>
                        </ul>
                      </div>
                      <div class="testpaper-question-footer clearfix">
                          <div class="testpaper-question-result">
                            正确答案是 <strong class="color-success">A,B</strong>，
                            回答正确
                          </div>
                          <div class="testpaper-question-actions pull-right mts">
                            <a class="link-gray js-favorite " data-url="/my/question/36/favorite" data-target-type="testpaper" data-target-id="21" data-question-id="36">
                              <span class="glyphicon glyphicon-star-empty"></span>
                              收藏
                            </a>
                            <a class="link-gray js-favorite  hidden " data-url="/my/question/unfavorite/36" data-target-type="testpaper" data-target-id="21" data-question-id="36">
                              <span class="glyphicon glyphicon-star"></span>
                              取消收藏
                            </a>
                          </div>
                      </div>
                      <div class="testpaper-question-analysis js-testpaper-question-analysis" style="display: none;">
                        <div class="well mb0">
                        无解析
                        </div>
                      </div>
                    </div>                                            
                  </div>
                </div>
                <div class="panel panel-default js-testpaper-question-block" id="testpaper-questions-essay">
                  <div class="panel-heading">
                    <strong class="">问答题</strong>
                    <small class="color-gray">
                      共1题，共2分          </small>
                  </div>
                  <div class="panel-body">
                    <div class="testpaper-question testpaper-question-essay js-testpaper-question " data-watermark-url="/cloud/testpaper_watermark" id="question37">
                      <div class="testpaper-question-body">
                        <div class="testpaper-question-stem-wrap clearfix">
                          <div class="testpaper-question-seq-wrap">
                            <div class="testpaper-question-seq">3</div>
                            <div class="testpaper-question-score">2.0分</div>
                          </div>
                          <div class="testpaper-question-stem">
                            <p><strong>overfitting怎么解决？</strong></p><br>
                          </div>
                        </div>
                      </div>
                      <div class="testpaper-question-footer clearfix">
                        <div class="testpaper-question-result">
                          <div class="testpaper-question-result-suggested">
                            <div class="testpaper-question-result-title">参考答案：</div>
                            <div><p>dropout、regularization、batch normalizatin</p></div>
                          </div>
                          <div class="testpaper-question-result-your">
                            <div class="testpaper-question-result-title">你的回答：</div>
                            <div>
                              <p>9999999999999999</p>
                            </div>
                          </div>
                          <div class="testpaper-question-result-score mtl">
                            <div class="testpaper-question-result-title">得分：<strong>1.0 分</strong></div>
                          </div>
                          <div class="testpaper-question-teacherSay mtl">
                            <div class="testpaper-question-result-title">评语：</div>
                            <div><p>基础不扎实</p></div>
                          </div>
                        </div>
                        <div class="testpaper-question-actions pull-right mts">
                          <a class="link-gray js-favorite " data-url="/my/question/37/favorite" data-target-type="testpaper" data-target-id="21" data-question-id="37">
                            <span class="glyphicon glyphicon-star-empty"></span>
                            收藏
                          </a>
                          <a class="link-gray js-favorite  hidden " data-url="/my/question/unfavorite/37" data-target-type="testpaper" data-target-id="21" data-question-id="37">
                            <span class="glyphicon glyphicon-star"></span>
                            取消收藏
                          </a>
                        </div>
                      </div>
                      <div class="testpaper-question-analysis js-testpaper-question-analysis" style="display: none;">
                        <div class="well mb0">
                        无解析
                        </div>
                      </div>
                    </div>                                            
                  </div>
                </div>
                <input type="hidden" name="_csrf_token" value="Taq3lq_yFPH-oGhg7Lb3oe-fXTd-dWZ6b16j4RFICnw">
              </form>

          </div>
        </div>
        <div class="col-md-3">
          <div class="testpaper-card js-testpaper-card mt20 affix">
              <div class="testpaper-timer">重考倒计时:
                <span class="timer js-testpaper-redo-timer" data-time="3581">00:58:48</span>
                <a class="btn btn-success do-test" id="finishPaper" href="#" disabled="disabled">再考一次</a>
              </div>
              <div class="panel panel-default ">
                <div class="panel-heading">答题卡<a class="pull-right link-medium" href="javascript:;" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="<div>本次考试共<span class=&quot;color-primary&quot;>3题</span>，总分<span class=&quot;color-primary&quot;>6.0分</span>。请在<span class=&quot;color-primary&quot;>2分钟</span>内作答。</div>" data-original-title="" title=""><i class="es-icon es-icon-info"></i></a></div>
                <div class="panel-body">
                  <div class="js-panel-card panel-card ps-container">
                    <p>单选题</p>
                    <span href="javascript:;" data-anchor="#question35" class="js-btn-index color-lump mrm mbm
                    bg-success js-answer-notwrong
                    "><i class="text-12 glyphicon glyphicon-bookmark marking-card js-marking-card hidden"></i>1</span>                                                <p>多选题</p>
                    <span href="javascript:;" data-anchor="#question36" class="js-btn-index color-lump mrm mbm
                    bg-success js-answer-notwrong
                    "><i class="text-12 glyphicon glyphicon-bookmark marking-card js-marking-card hidden"></i>2</span>                                                <p>问答题</p>
                    <span href="javascript:;" data-anchor="#question37" class="js-btn-index color-lump mrm mbm
                    bg-danger 
                    "><i class="text-12 glyphicon glyphicon-bookmark marking-card js-marking-card hidden"></i>3</span>                                              <div class="testpaper-card-explain clearfix">
                    <a href="javascript:;" class="color-lump lump-xs bg-success"></a><small class="color-gray mls">正确</small>
                    <a href="javascript:;" class="color-lump lump-xs bg-danger"></a><small class="color-gray mls">错误</small>
                    <a href="javascript:;" class="color-lump lump-xs bg-warning"></a><small class="color-gray mls">待批阅</small>
                    <a href="javascript:;" class="color-lump lump-xs lump-card"></a><small class="color-gray mls">未做</small>
                    </div>        
                  </div>
                  <div class="panel-footer">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="showWrong">
                        <span class="text-info">只看错题</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <script src="__EXAMINATION_JS__index.js"></script>
    <script src="__EXAMINATION_JS__vendor.js"></script>
    <script src="__EXAMINATION_JS__common.js"></script>
    <script src="__EXAMINATION_JS__main.js"></script>
  </body>
</html>