<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">
    <div class="well">
        <ol class="breadcrumb">
            <li><a href="{:url('index')}">试卷列表</a></li>
            <li class="active">试卷批阅</li>
        </ol>
    </div>
    <form class="form-horizontal" role="form" id="form0" method="post" action="{:url('add')}">
        {volist name="info" id="vo"}
        <div class="form-group">
            <label style="margin-left:50px;margin-top:40px;font-size:16px;">{$key+1}.{$vo.stem}</label>
            <div style="margin-left:50px;margin-top:10px;font-size:16px;width:600px;">
                <textarea style="height:200px;" cols="20" rows="5" class="form-control" name="stem" id="stem" placeholder="请输入题干，100个汉字之内"></textarea>
            </div>
            <p style="font-size:16px;margin-left:70px;margin-top:20px;">
               得分：
                <input type="text" name="passedScore" value="0" data-score-total="0" style="width:40px;"/>/{$vo.scores}
            </p>
        </div>
        {/volist}
        <input type="hidden" name="type" value="essay"/>
        <!-- 模态框底部 -->
        <div>
            <button type="button" class="btn btn-primary" style="margin-left:580px;margin-top:30px;" onclick="dopost('add',0);">保存</button>
        </div>
    </form>

</div>
{include file='manage/bottom'}
<script type="text/javascript">

    function dopost($type,formid) {
        if($type=='add' || $type=='addshow'){
            $url = "{:url('add')}";
        }else{
            $url = "{:url('edit')}";
        }

        $.ajax({
            url: $url+"?"+Math.random(),
            type:"post",
            data:$('#form'+formid).serialize(),
            success:function(data){

                if(data.code=='000'){

                    alert(data.info)
                    if($type=='addshow'){
                        window.location.href = "{:url('essay')}"
                    }else{
                        window.location.href="{:url('index')}"
                    }

                }else{
                    alert(data.error)
                }

            },
            error:function(e){
                alert("添加信息错误");
            }
        });
    }


</script>
</body>
</html>
