<!DOCTYPE html>
<html>
{include file="manage/header" /}
<body>
<div class="container-fluid">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2>学生统计</h2></div>
        <div class="panel-body">
        <div class="row">
            <div class="col-md-1">
                <div>学生总数 {$title.alluser}人</div>
            </div>
            <div class="col-md-1">
                <div>登录总时长 {$title.loginalltime}时</div>
            </div>
            <div class="col-md-1">
                <div>学习总时长 {$title.studyalltime}时</div>
            </div>
            <div class="col-md-1">
                <div>作业完成数量 {$title.testpaper}次</div>
            </div>
            <div class="col-md-1">
                <div>回帖总数 {$title.replies}次</div>
            </div>
            <div class="col-md-1">
                <div>发帖总数 {$title.postall}次</div>
            </div>
        </div>
    </div>
    <div class="well clearfix">
        <form class="navbar-form navbar-left" role="search" action="{:url()}" method="get">
            <div class="form-group">
                <label>所属专业</label>
                <select name="majors" class="form-control">
                    <option value="">--请选择--</option>
                    {volist name="major" id="c"}
                    <option value="{$c.id}">{$c.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label>所属班级</label>
                <select name="class" class="form-control">
                    <option value="">--请选择--</option>
                    {volist name="class" id="c"}
                    <option value="{$c.id}">{$c.title}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">

                <input type="text" name="name" class="form-control" value="{$search.name}" placeholder="请输入关键字"/>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
            <a class="btn btn-primary" href="{:url('excel')}">全部导出</a>
        </form>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('')}" style="cursor: pointer">刷新列表</a></li>
    </ul>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>学号</th>
            <th>学生姓名</th>
            <th>身份证号</th>
            <th>专业</th>
            <th>班级</th>
            <th>登录次数</th>
            <th>登录时长(小时)</th>
            <th>学习总时长</th>
            <th>学习进度</th>
            <th>学分</th>
            <th>考试数量</th>
            <th>回帖数量</th>
            <th>发帖数量</th>
        </tr>
        </thead>
        <tbody>

        {volist name="info" id="vo"}
        <tr>
            <td>{$vo.sn}</td>
            <td>{$vo.realname}</td>
            <td>{$vo.idcard}</td>
            <td>{$vo.name}</td>
            <td>{$vo.title}</td>
            <td>{$vo.loginnum}</td>
            <td>{$vo.logintime}</td>
            <td>{$vo.studytime}</td>
            <td>{$vo.courseporgress}</td>
            <td>{$vo.score}</td>
            <td>{$vo.testpaper}</td>
            <td>{$vo.post}</td>
            <td>{$vo.replies}</td>
        </tr>
        {/volist}
        </tbody>

    </table>
    <ul class="pagination">
        {$page}
    </ul>

</div>
{include file='manage/bottom'}
<script type="text/javascript">


</script>
</body>
</html>
