ul,dl,ol,div,html,body{
    margin: 0;
    padding:0;
}
ul li{
    list-style: none;
    float: left;
}
img {
    display: block;
    width: 100%;
    height: 62%;
}
html,body{
    width: 100%;
    font-family:"Microsoft YaHei ";
}
.gradeWrapper{
    width:100%;
    height: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.gradeWrapper .content{
    width: 1140px;
    height: 600px;
    /*background-color: pink;*/
    margin: 0 auto;
}
.gradeWrapper .content .list{
    width: 100%;
    overflow: hidden;
    padding-left: 12px;
    border-bottom:1px solid #ccc;
}
.gradeWrapper .content ul.list-inline li{
    font-size: 16px;
    width: 12%;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 20px;
}
.gradeWrapper .content li:first-child{
   text-align: left;

}
.gradeWrapper .content li:last-child{
    margin-right:0;
    text-align: right;
}
.gradeWrapper .content li.active{
    color:#43bc60;
    border-bottom:2px solid #43bc60;
}
.gradeWrapper .content .title{
    width: 100%;
    height: 116px;
    padding:20px 12px 8px 30px;
    box-sizing: border-box;
}
.gradeWrapper .content .title .name{
    display: block;
    width: 114px;
    height: 88px;
    text-align: center;
    background-color: #42b035;
    font-size: 26px;
    font-weight:bold;
    color:#fff;
    line-height:88px;
    float: left;
    border-radius:6px;
}
.gradeWrapper .content .starGrade{
    width: 170px;
    height: 96px;
    float: right;
    position: relative;
    font-size: 16px;
    text-align: right;
    padding-left: 70px;
    box-sizing: border-box;
}
.gradeWrapper .content .starGrade p{
    width: 96px;
    text-align: center;
}
.gradeWrapper .content .starGrade .star{
    width: 52px;
    height: 52px;
    background-image: url('../img/star.png');
    position:absolute;
    top:12px;
    left:10px;
}
.gradeWrapper .content .tableContent{
    width: 100%;
    height: 527px;
    /*background-color: yellow;*/
}
.gradeWrapper .content .tableContent .search{
    width: 319px;
    height:42px;
    margin: 0 auto;
  /*  background-color: yellowgreen;*/
}
.gradeWrapper .content .tableContent .search input{
    width: 118px;
    padding-left:0;
    padding-right: 0;
}
.gradeWrapper .content .tableContent .tableWrapper{
    width: 940px;
    height: 400px;
    margin-left:62px;
    border-radius: 4px;
    border-left: 1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-radius: 4px;
}
/*42b035*/
.gradeWrapper .content .tableContent .tableWrapper table th{
    color:#fff;
    font-size: 20px;

}
.gradeWrapper .content .tableContent .tableWrapper table tr:first-child{
    background-color: #42b035;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 18px;
}
.gradeWrapper .content .tableContent .page{
    width: 356px;
    height: 34px;
    margin: 0 auto;
}
.gradeWrapper2{
    width:100%;
    height: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.gradeWrapper2 .content{
    width: 1140px;
    height: 600px;
    /*background-color: pink;*/
    margin: 0 auto;
}
.gradeWrapper2 .content .list{
    width: 100%;
    overflow: hidden;
    padding-left: 12px;
    border-bottom:1px solid #ccc;
}
.gradeWrapper2 .content ul.list-inline li{
    font-size: 16px;
    width: 12%;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 20px;
}
.gradeWrapper2 .content li:first-child{
    text-align: left;

}
.gradeWrapper2 .content li:last-child{
    margin-right:0;
    text-align: right;
}
.gradeWrapper2 .content li.active{
    color:#43bc60;
    border-bottom:2px solid #43bc60;
}
.gradeWrapper2 .content .title{
    width: 100%;
    height: 66px;
  /*  background-color: yellow;*/
    padding:18px 14px 20px 44px;
    box-sizing: border-box;
    font-size: 16px;
}
.gradeWrapper2 .content .title .left{
    float: left;
}
.gradeWrapper2 .content .title .right{
    float: right;
}
.gradeWrapper2 .content .goods{
    width: 100%;
    height: 43px;
    background-color: #fafafa;
}
.gradeWrapper2 .content .goods span{
    line-height: 43px;
    font-size:16px;
}
.gradeWrapper2 .content .secondList{
    overflow: hidden;
   border-bottom:1px solid #ccc;
}
.gradeWrapper2 .content .picList{
    width: 100%;
    height: 330px;
    /*background-color: yellow;*/
    padding-top:16px;
    box-sizing: border-box;
}
.gradeWrapper2 .content .picList ul{
    width: 100%;
    height: 100%;
}
.gradeWrapper2 .content .picList ul li{
    width: 18%;
    height: 100%;
    margin-right: 2%;
    border:1px solid #ccc;
}
.gradeWrapper2 .content .picList ul li .text{
    width: 100%;
    height: 38%;
   /* background-color: gray;*/
    padding-top: 12px;
    padding-left:12px;
    font-size:12px;
}
.gradeWrapper2 .content .picList ul li .text p.first{
    position: relative;
    color:#ff0000;
    padding-left:26px;
}
.gradeWrapper2 .content .picList ul li .text p.first i{
    position: absolute;
    width:17px;
    height: 17px;
    top:0px;
    left:0px;
}
.gradeWrapper2 .content .picList ul li .text p.third{
    width: 66px;
    height: 22px;
    margin-left: 56px;
    border:1px solid #42b035;
    color:#42b035;
    text-align: center;
}
.gradeWrapper2 .content ul li.special p.first{
    text-align:left;
}