{extend name="public/userlayout"}
{block name="title"}基础信息 - 安全设置{/block}
{block name="container"}
<div class="col-md-9">
    <div class="panel panel-default panel-col">
        <div class="panel-heading">安全设置</div>
        <div class="panel-body">
            <ul class="breadcrumb">
                <li><a href="http://www.hnhgjx.cn:1700/settings/security">安全设置</a></li>
                <li class="active">登录密码修改</li>
            </ul>
            <form id="settings-password-form" class="form-horizontal" method="post" novalidate="novalidate">
                <div class="form-group">
                    <div class="col-md-2 control-label"><label for="form_currentPassword" class="required" aria-required="true">当前密码</label></div>
                    <div class="controls col-md-8 controls">
                        <input type="password" id="form_currentPassword" name="form[currentPassword]" required="required" class="form-control" aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label"><label for="form_newPassword" class="required" aria-required="true">新密码</label></div>
                    <div class="controls col-md-8 controls">
                        <input type="password" id="form_newPassword" name="form[newPassword]" required="required" class="form-control" aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label"><label for="form_confirmPassword" class="required" aria-required="true">确认密码</label></div>
                    <div class="controls col-md-8 controls">
                        <input type="password" id="form_confirmPassword" name="form[confirmPassword]" required="required" class="form-control" aria-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label"></div>
                    <div class="controls col-md-8 controls">
                        <input type="hidden" id="form__token" name="form[_token]" value="YFk5gZciKmMop_4gSlddReEM6sR4PQzzvnkZm7HQ3Kg">
                        <button id="password-save-btn" data-loading-text="正在提交" type="button" class="btn btn-primary">提交</button>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="z_xkYOMJQqk9WTUhnvJz1ytQu6qzEsQhQK42DxQw8o8">
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $('#password-save-btn').click(function(){
            $.post(
                "{:url('index/user/chpwd')}",
                {
                    'pwd':$('#form_currentPassword').val(),
                    'newpwd':$('#form_newPassword').val(),
                    'renewpwd':$('#form_confirmPassword').val(),
                },
                function(data){
                    if(data['code']==0){
                        alert("修改密码成功！");
                        window.location.href = window.location.href;
                    }
                    else{
                        alert(data['message']);
                        window.location.href = window.location.href;
                    }
                },
                "json"
            );
        });

    })
</script>
{/block}