{extend name="public/userlayout"}
{block name="container"}
<div class="col-md-9">
  <div class="panel panel-default panel-col">
    <div class="panel-heading">头像设置</div>
    <div class="panel-body">
      <form id="settings-avatar-form" class="form-horizontal" method="post">
        <div class="form-group">
          <div class="col-md-2 control-label"><b>当前头像</b></div>
          <div class="controls col-md-8 controls">
            <img src="../../img/100205dbce21298753.jpg">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 control-label">
          </div>
          <div class="controls col-md-8 controls">
            <p class="help-block">你可以上传JPG、GIF或PNG格式的文件，文件大小不能超过<strong>2M</strong>。</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 control-label"></div>
          <div class="controls col-md-8 controls">
            <a  class="btn btn-primary upload-picture-btn webuploader-container" >
              <div class="webuploader-pick">上传新头像</div>
              <div  style="position: absolute; top: 6px; left: 12px; width: 70px; height: 20px; overflow: hidden; bottom: auto; right: auto;">
                <input type="file" name="file" class="webuploader-element-invisible" accept="image/png,image/jpg,image/jpeg,imge/bmp,image/gif">
                <label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>
              </div>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $('.list-group-item').eq(1).addClass("active");
    })
</script>
{/block}