
{extend name="public/layout"}
{block name="container"}
<div id="yh_message" class="user-center-header has-blurr"  data-sharpness="40" style="height: 220px; overflow: hidden; position: relative; background: rgb(0, 0, 0);"><div class="blurr-bg" style="background:  center center / 150%; left: 0px; right: 0px; top: -50px; bottom: -50px; width: 1903px; filter: blur(60px); z-index: 50; position: absolute;"></div>

</div>
<div id="content-container" class="container">
    <ul class="nav nav-tabs clearfix">
        <li class="active"><a href="../index/index.html">个人介绍</a></li>
        <li><a href="../personal/timetable.html">课程表</a></li>
        <li><a href="../personal/curriculum.html">在学课程</a></li>
        <li><a href="../personal/learning.html">在学班级</a></li>
        <li><a href="../personal/collect.html">收藏课程</a></li>
        <li><a href="../personal/group.html">加入小组</a></li>
        <li><a href="../personal/integral.html">我的积分</a></li>
        <li><a href="./certificate.html">我的证书</a></li>
        <li><a href="../personal/fans.html">关注&nbsp;/&nbsp;粉丝</a></li>
    </ul>
</div>
{/block}