{extend name="public/userlayout"}
{block name="title"}基础信息 - 实名认证 - 豫化在线课堂 - 豫化在线课堂{/block}
{block name="container"}
<div class="col-md-9">
    <div class="panel panel-default panel-col">
        <div class="panel-heading">实名认证</div>
        <div class="panel-body">
            <form id="approval-form" action="{:url('index/user/attention')}" class="form-horizontal" method="post" enctype="multipart/form-data" novalidate="novalidate">
                <input type="hidden" name="__token__" value="{$Request.token}" />
                {empty name="profile.realname"}
                <div class="help-block approval">
                    <label class="col-md-2 control-label"></label>
                    <div class="alert alert-warning" role="alert">您尚未实名认证。</div>
                </div>
                {/empty}
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="truename">真实姓名</label>
                    </div>
                    <div class="col-md-8 controls">
                        <input type="text" id="truename" name="truename" class="form-control" value="{$profile.realname}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="idcard">身份证号</label>
                    </div>
                    <div class="col-md-8 controls">
                        <input type="text" id="idcard" name="idcard" class="form-control" value="{$profile.idcard}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label>照片要求</label>
                    </div>
                    <div class="col-md-8 form-control-static">
                        <p class="color-warning">证件必须是清晰彩色原件电子版，可以是扫描或者数码相机拍摄照片。<br>图片格式支持jpg、gif、png，每张图片文件大小不能超过2M。</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="faceImg">身份证正面照</label>
                    </div>
                    <div class="col-md-8 form-control-static">
                        <input type="file" id="faceImg" name="front_pic" accept="image/bmp,image/jpeg,image/png">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        <label for="backImg">身份证反面照</label>
                    </div>
                    <div class="col-md-8 form-control-static">
                        <input type="file" id="backImg" name="behind_pic" accept="image/bmp,image/jpeg,image/png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-md-offset-2">
                        <button type="submit" id="tijiao" class="btn btn-primary">提交</button>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="lqPsFKCSLa3fO97r0lLtJ6hPJTMiPuBV0XX5CAcUhog">
            </form>
        </div>
    </div>
</div>
{/block}
{block name="javascript"}
<script>
    $(function(){
        $('.list-group-item').eq(2).addClass("active");
        $('input[type="file"]').change(function(e){
            console.log(e)//e就是你获取的file对象
        })

    })
</script>
{/block}